<template>
  <div class="page sub-page abs-esc">
    <ProductHeader :description="context_description" :title="title" :pImg="pImg" :table_data="table_data"></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['special']"
        :data="{ title: abs_esc_special_title , pack:'Special design'}"
        :intro="{
          tag: 'Standard/Special',
          context: translate.special_intro_context
        }"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'special'"
      >
        <div class="spcial-img">
          <CRText :style="{ top: '-8%', left: '12%' }">{{ translate.Eccentricity }} 0.7mm</CRText>

          <CRText :style="{ top: '-8%', left: '92%' }">{{ translate.Eccentricity }} 1.1mm</CRText>
        </div>
      </ProductContentCard>

      <ProductContentCard
        :class="['seal']"
        :data="{ title: abs_esc_seal_title, pack:'Seal' }"
        :intro="{ tag: 'Seal', context: translate.seal_intro_context }"
        :con="'space-around'"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'seal'"
      >
        <div class="circle circle_1" :style="{ 'margin-top': '3%' }">
          <div class="circle_part">
            <div class="inner_con hor">
              <img src="@/assets/product/ABS_ESC/NBR.png" class="object_type_0">
              NBR
            </div>
          </div>
          <div class="standard product-type">{{ common.standard_item }}</div>
        </div>

        <div class="circle circle_2" :style="{ 'margin-top': '3%' }">
          <div class="circle_part">
            <div class="inner_con hor">
              <img src="@/assets/product/ABS_ESC/EPDM.png" class="object_type_0">
              EPDM
            </div>
          </div>
          <div class="sol product-type">{{ common.solution_item }}</div>
        </div>

        <div class="text inner_con">
          <img src="@/assets/product/path-2.svg" class="path2">
          <!-- <span :style="{ 'max-width': '160pt', 'text-align': 'left' }">
            {{
            translate.sen_0
            }}
          </span> -->
        </div>
        <div class="graph_con">
          <pre :style="{'max-width':'310pt' }">{{translate.sen_0}}</pre>
          <div class="graph">
            <CRText :style="{ top: '92%', left: '20%' }">NBR</CRText>
            <CRText :style="{ top: '92%', left: '78%' }">EPDM</CRText>
            <CRText
              :style_val="{ color: '#f00' }"
              :style="{ top: '15%', left: '49%' }"
            >{{ translate.graph }}</CRText>
            <CRText :style="{ top: '115%', left: '20%' }">
              <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
            <CRText :style="{ top: '115%', left: '78%' }">
              <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
              <!-- <DobuleDotLineBtn
                :text="common.solution_item"
                :style_val="{width:'84.328pt', height:'38.399357pt'}"
              ></DobuleDotLineBtn>-->
            </CRText>
          </div>


        </div>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'ABS_ESC',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'ABS_ESC',
    title: 'ABS/ESC',
    info: {
      title: 'test title',
      description: 'test word'
    },
    pImg: { folder: 'ABS_ESC', name: 'product', type: 'png' },
    table_data: [[608, '22mm', '8mm'],['R-1560', '15mm', '6mm']]
  }),
  computed: {
    abs_esc_seal_title: function () {
      return this.translate.seal_title
    },
    abs_esc_special_title: function () {
      return this.translate.special_title
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    ProductDotLineBtn
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['special', 'seal'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['special', 'seal'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";

.spcial-img {
  @include bgImg("../../assets/product/ABS_ESC/ABS_ESC.png", 230pt, 600pt);

  margin-top: 15pt;
}

.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img.special {
  width: 360pt;
}

.circle_part {
  @include bgImg(
    "../../assets/product/circle-bg.svg",
    169.408929pt,
    169.408929pt
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19pt;
}

.object_type_0 {
  margin-bottom: 10pt;
  width: 90pt;
  height: 90pt;
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;
  pre {
    text-align: left;
  }
}

.graph {
  @include bgImg(
    "../../assets/product/ABS_ESC/chart.png",
    144.445143pt,
    260.513286pt
  );
}
</style>
