<template>
  <div class="page sub-page ac-cleaner">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCardSimple
        :class="['inter']"
        :data="{ title: AcCleaner_inter_title } "
        :folder="this.curFolder===0"
        :folderNumber="0"
      >
        <div class="context">
          <div class="panel">
            <div class="intro" :class="[curLan]">
              <div class="title">Internal Design</div>

              <div class="text">
                {{ translate.inter_intro_context }}
                <br>
                <br>
                {{ translate.inter2_intro_context }}
              </div>
              <div class="tag">Internal Design</div>
            </div>

            <div class="contain hor">
              <div class="pack iflex pack01 flex_align_center" :class="[curLan]">
                <div class="ring iflex hor x1">
                  <div class="standard product-type">{{ common.standard_item }}</div>
                  <div class="imgs flex flex_just_sa flex_align_center">
                    <div class="ring_img_x ring_img0">
                      <CRText
                        :style_val="{ color: '#000' }"
                        :style="{ top: '120%', left: '50%' }"
                      >{{ translate.n1 }}</CRText>
                    </div>
                  </div>
                </div>
                <div class="ring iflex hor x2">
                  <div class="ring_img_x ring_img2"></div>
                </div>

                <div class="ring iflex hor x3">
                  <div class="standard product-type sol">{{ common.solution_item }}</div>
                  <div class="imgs flex flex_just_sa flex_align_center">
                    <div class="ring_img_x ring_img1">
                      <CRText
                        :style_val="{ color: '#000' }"
                        :style="{ top: '120%', left: '50%' }"
                      >{{ translate.n0 }}</CRText>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="pack specialpack flex"
                style=" justify-content: space-between;align-items: center; width: 100%;margin-top:30pt;"
              >
                <div class="pack iflex hor">
                  <div class="text inner_con" style="height:110pt;align-items: flex-start;">
                    <!-- <img src="@/assets/product/path-2.svg" class="path2"> -->
                    <pre
                      :style="{
                    'text-align': 'left',
                    'white-space': 'pre-line'
                  }"
                    >{{ translate.sen_0 }}</pre>
                  </div>
                  <div class="graph">
                    <CRText
                      :style_val="{ color: '#f00' }"
                      :style="{ top: '0%', left: '55%' }"
                    >{{ red.m53 }}</CRText>

                    <CRText :class="['solText', curLan, 'solText1','sp']" :style="{}">
                      <ProductDotLineBtn
                        :text="common.standard_item"
                        :type="'reg'"
                        :lan="curLan"
                        :fontSize="'14'"
                      ></ProductDotLineBtn>
                    </CRText>

                    <CRText :class="['solText', curLan, 'solText3','sp']" :style="{}">
                      <ProductDotLineBtn
                        :text="common.solution_item"
                        :type="'sol'"
                        :lan="curLan"
                        :fontSize="'14'"
                      ></ProductDotLineBtn>
                    </CRText>
                  </div>
                </div>

                <div class="pack iflex hor">
                  <div class="text inner_con" style="height:110pt;align-items: flex-start;">
                    <!-- <img src="@/assets/product/path-2.svg" class="path2"> -->
                    <pre
                      :style="{
                    'text-align': 'left',
                    'white-space': 'pre-line'
                  }"
                    >{{ translate.sen_1 }}</pre>
                  </div>
                  <div class="pack specialpack">
                    <div class="graph2">
                      <CRText
                        :style_val="{ color: '#f00' }"
                        :style="{ top: '0%', left: '50%' }"
                      >{{ red.d41 }}</CRText>

                      <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                        <ProductDotLineBtn
                          :text="common.standard_item"
                          :type="'reg'"
                          :lan="curLan"
                          :fontSize="'14'"
                        ></ProductDotLineBtn>
                      </CRText>

                      <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                        <ProductDotLineBtn
                          :text="common.solution_item"
                          :type="'sol'"
                          :lan="curLan"
                          :fontSize="'14'"
                        ></ProductDotLineBtn>
                      </CRText>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="context">
          <div class="panel">
            <div class="contain">
              <!-- <div class="pack iflex pack02" :class="[curLan]">
                <div class="ring iflex hor x1">
                  <div class="standard product-type">{{ common.standard_item }}</div>
                  <div class="imgs flex flex_just_sa flex_align_center">
                    <div class="ring_img_x ring_img4"></div>
                  </div>
                </div>
                <div class="ring iflex hor x3">
                  <div class="standard product-type sol">{{ common.solution_item }}</div>
                  <div class="imgs flex flex_just_sa flex_align_center">
                    <div class="ring_img_x ring_img5"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </ProductContentCardSimple>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue';
// import ProductContentCard from '@/components/ProductContentCard.vue';
import ProductContentCardSimple from '@/components/ProductContentCardSimple.vue';
import CRText from '@/components/CRText.vue';
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue';
import ProductBase from '@/components/products/ProductBase.vue';

export default {
  name: 'AcCleaner',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'AcCleaner',
    title: 'AC Vacuum Cleaner Moter (High Efficiency)',
    pImg: {},
    table_data: [[608, '22mm', '8mm']]
  }),
  computed: {
    curFolder: function () {
      return this.State.folderNumber
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    AcCleaner_inter_title: function () {
      return this.translate.inter_title
    },
    AcCleaner_inter2_title: function () {
      return this.translate.inter2_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    },
    red: function () {
      let data = {}
      const lan = this.curLan
      if (lan === 'EN') {
        data = {
          m53: `${this.common.minus} 53%`,

          d41: `${this.common.decrease} 41%`
        }
      } else if (lan === 'CN') {
        data = {
          m53: `53% ${this.common.minus}`,

          d41: `${this.common.decrease} 41%`
        }
      } else if (lan === 'JP') {
        data = {
          m53: `53% ${this.common.minus}`,

          d41: `41% ${this.common.decrease}`
        }
      }
      return data
    }
  },
  components: {
    ProductHeader,
    // ProductContentCard,
    ProductContentCardSimple,
    ProductDotLineBtn,
    CRText
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['inter'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['inter'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.pack {
  &.pack01 {
    //padding-bottom: 70pt;
    &.EN {
      .ring_img_x .coordinate {
        // transform: rotate(30deg);
        // top: 150% !important;
      }
    }
  }
  &.specialpack {
    padding-bottom: 20pt;
  }
  padding: 15pt 0;
  position: relative;
  .coordinate {
    position: absolute;
  }
  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }
  .ring {
    margin: 0;
    text-align: center;
    align-items: center;
    .imgs {
      //margin: 12pt 6pt;
    }
    .ring_img_x {
      position: relative;
    }
    .ring_img0 {
      margin: 0 8pt;
      @include bgImg("../../assets/product/ac/standard_01.png", 110pt, 110pt);
    }
    .ring_img1 {
      margin: 0 8pt;
      @include bgImg("../../assets/product/ac/counter_01.png", 110pt, 110pt);
    }
    .ring_img2 {
      margin: 0 8pt;
      @include bgImg("../../assets/product/ac/cad_01.png", 300pt, 430pt);
    }
    .ring_img4 {
      margin: 0 8pt;
      @include bgImg("../../assets/product/ac/standard_02.png", 110pt, 90pt);
    }
    .ring_img5 {
      margin: 0 8pt;
      @include bgImg("../../assets/product/ac/counter_02.png", 110pt, 90pt);
    }
  }
}

.graph {
  position: relative;
  @include bgImg(
    "../../assets/product/ac/chart_01.png",
    144.445143pt,
    330.513286pt
  );
  background-size: 100% 90%;
  //margin-right: 200pt;
}

.graph2 {
  position: relative;

  @include bgImg(
    "../../assets/product/ac/chart_02.png",
    144.445143pt,
    330.513286pt
  );
  background-size: 100% 90%;
}

.product-type {
  width: 80%;
  margin-bottom: 20pt;
}
.solText {
  top: 118%;
  // &.sp {
  //   // top: 85%;
  //   // transform: rotate(30deg);
  //   &.solText1 {
  //     left: 40%;
  //   }
  //   // &.solText2 {
  //   //   left: 50%;
  //   // }
  //   &.solText3 {
  //     left: 66%;
  //   }
  // }
  &.solText1 {
    left: 20%;
  }
  &.solText2 {
    left: 49%;
  }
  &.solText3 {
    left: 78%;
  }
}
</style>
