<template>
  <div class="page sub-page turbo">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['retainer', 'multi']"
        :data="[{ title: air_c_retainer_title, pack:'Retainer' }, { title: air_c_inter_title, pack:'Internal design' }]"
        :intro="{ tag: 'Retainer', context: translate.retainer_intro_context }"
        :con="'space-around'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="['retainer', 'inter']"
        :multi="true"
      >

        <div class="pack iflex hor flex_align_center" :style="{'margin-top': '-50pt'}">
          <ApplicationTable :dataSource="tableData3" :style="{width:'100%'}"></ApplicationTable>
          <div class="con">
            <div class="imgx1"></div>
            <div
              class="graph bg-entry"
              style="width:60%; height:130pt;"
              :style="{backgroundImage:'url('+this.getImg.graph_11+')'}"
            >
             
            </div>
            <div class="imgx2"></div>
          </div>

          <div class="grease-text " :style="{'margin-top':'10pt'}">Grease</div>
        </div>


        <div class="graph_con">
          <pre :style="{'max-width':curLan==='EN'?'240pt':'310pt' }">{{translate.sen_0}}</pre>
          <div class="graph graph01"> 
            <CRText
              :style_val="{ color: '#f00' }"
              :style="{ top: '12%', left: '55%' }"
            >{{ translate.graph_0 }}</CRText>
            <CRText :style="{ top: '100%', left: '20%' }">
              <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
            <CRText :style="{ top: '100%', left: '78%' }">
              <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
          </div>
        </div>
        
      </ProductContentCard>

    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
// import DobuleDotLineBtn from '@/components/DobuleDotLineBtn.vue';
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'
import ApplicationTable from '@/components/ApplicationTable.vue'

export default {
  name: 'Air_Cleaner_motor',
  props: {},
  extends: ProductBase,

  data: () => ({
    template: 'Air_Cleaner_motor', // use for lan and default video name
    title: 'Air cleaner motor',
    info: {
      title: 'test title',
      description: 'test word'
    },
    pImg: { folder: 'sample', name: 'air_clean_motor', type: 'png', size:'huge' },
    table_data: [[608, '22mm', '8mm']]
  }),
  computed: {
    getImg: function (f) {
      return {
        graph_11: require('../../assets/product/air/ac_motor_pipe.png'),
      }
    },
    air_c_retainer_title: function () {
      return this.translate.retainer_title
    },
    air_c_inter_title: function () {
      return this.translate.inter_title
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    common: function () {
      return this.State.Common
    },
    context_description: function () {
      return this.translate.des
    },
    tableData3: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
        ],
        order: [
          { name: common.standard_item, style: {} },
          { name: '', style: {} },
          { name: common.solution_item, style: {} }
        ],
        width: ['100pt','260pt', '100pt']
      }
      return tableData
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    // DobuleDotLineBtn,
    ProductDotLineBtn,
    ApplicationTable
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['inter', 'retainer'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['inter', 'retainer'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img.special {
  //width: 360pt;
  @include bgImg("../../assets/product/turbo/special_design.png", 200pt, 600pt);
}

.circle_part {
  @include bgImg(
    "../../assets/product/circle-bg.svg",
    169.408929pt,
    169.408929pt
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10pt;
}

.bearing {
  margin-bottom: 10pt;
  width: 93pt;
  height: 70pt;
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;
  pre {
    text-align: left;
  }
}

.graph {
  @include bgImg("../../assets/product/air/ac_chart.png", 164.445143pt, 280.513286pt);
}

.con {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-style: solid;
  border-bottom-color: rgb(191, 191, 191);
  border-bottom-width: 1px;
  padding-bottom: 10pt;
}
.imgx1 {
  position: relative;
  display: inline-block;
  height: 80pt;
  width: 80pt;
  background-image: url("../../assets/product/air/ac_motor_starndard.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // left: -100pt;
  top: 0;
}

.imgx2 {
  position: relative;
  display: inline-block;
  height: 80pt;
  width: 80pt;
  background-image: url("../../assets/product/air/ac_motor_counter.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // left: -100pt;
  top: 0;
  // margin-left: 35pt;
}

</style>
