<template>
  <div class="page sub-page anemometer">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :videos="['Anemometer', 'Flowmeter']" 
      :page_name="'Anemometer_Flowmeter'"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
     
      <ProductContentCard
        :class="['grease']"
        :data="{ title: anemometer_grease_title, pack:'Grease'}"
        :intro="{
          tag: 'Grease',
          context: translate.grease_intro_context
        }"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'grease'"
      >
        <div class="pack iflex " :class="[curLan]"
        :style="{'margin-right':'30pt', 'margin-top':'-100pt', 'border-bottom': 'solid 1px rgb(191, 191, 191)', 'padding-bottom': 0}"> 
          <ApplicationTable :dataSource="tableData"></ApplicationTable>
        </div>
        <!-- <div class="pack">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
          </div>
        </div> -->
        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt'}">{{translate.sen_1}}</pre>
            <div class="pack specialpack">
              <div class= "graph2">
                <CRText :style_val="{color:'#f00'}" :style="{top:'8%',left:'50%'}">{{translate.red_1}}</CRText>
                <!-- <CRText :style="{ top: '75%', left: '20%' }">DDR-1340HHR​<br>P0P25LO1​</CRText>
                <CRText :style="{ top: '75%', left: '78%' }">DDR-1340HHR​<br>P0P25LO113​</CRText> -->
                <CRText :class="['solText', curLan, 'solText1']" :style="{ }">
                  <ProductDotLineBtn
                    :text="common.standard_item"
                    :type="'reg'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{ }">
                  <ProductDotLineBtn
                    :text="common.solution_item"
                    :type="'sol'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                  
                </CRText>
                <CRText :style="{ top: '75%', left: '20%' }">LO1</CRText>
                <CRText :style="{ top: '75%', left: '78%' }">LO113</CRText>
              </div>
            </div>  
          </div>
        </div>
      </ProductContentCard>

      <ProductContentCard
        :class="['special']"
        :data="{ title: anemometer_special_title, pack:'Special design'}"
        :intro="{
          tag: 'Special design',
          context: translate.special_intro_context
        }"
        :con="'flex_just_se  hor'"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'special'"
      >
       <div class="pack iflex pack01" :class="[curLan]">
          <div class="ring iflex hor x1">
            <div class="standard product-type">
              {{common.standard_item}}
              <span>DD400</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img0">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n1}}</CRText>
              </div>

              <div class="ring_img_x ring_img1">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n0}}</CRText>
              </div>
            </div>
          </div>
          <div class="ring iflex hor x3">
            <div class="standard product-type sol">
              {{common.solution_item}}
              <span>Giga Protection 2</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img2">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n2}}</CRText>
              </div>

              <div class="ring_img_x ring_img3">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n0}}</CRText>
              </div>
            </div>
          </div>
        </div>

        <div class="pack specialpack flex flex_just_se" style="width: 80%;">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <pre :style="{'text-align':'left','white-space':'pre-wrap'}">{{translate.sen_0}}</pre>
          </div>
          <div class="graph">
            <CRText :style_val="{color:'#f00'}" :style="{top:'1%',left:'79%'}">{{translate.red_0}}</CRText>
            <CRText :style="{ top: '105%', left: '18%' }">DD400</CRText>
            <CRText :style="{ top: '105%', left: '77%' }">Giga Protection 2</CRText>
            <CRText :class="['solText', curLan, 'solText1','sp']" :style="{ }">
              <ProductDotLineBtn
                :text="common.standard_item"
                :type="'reg'"
                :lan="curLan"
                :fontSize="'14'"
              ></ProductDotLineBtn>
            </CRText>

            <CRText :class="['solText', curLan, 'solText3','sp']" :style="{ }">
              <ProductDotLineBtn
                :text="common.solution_item"
                :type="'sol'"
                :lan="curLan"
                :fontSize="'14'"
              ></ProductDotLineBtn>
            </CRText>
          </div>
        </div>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
// import DobuleDotLineBtn from '@/components/DobuleDotLineBtn.vue';
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'
import ApplicationTable from '@/components/ApplicationTable.vue'


export default {
  name: 'Anemometer_Flowmeter',
  props: {},
  extends: ProductBase,

  data: () => ({
    template: 'Anemometer_Flowmeter', // use for lan and default video name
    title: 'Anemometer, Flowmeter',
    info: {
      title: 'test title',
      description: 'test word'
    },
    pImg: { folder: 'sample', name: 'anemometor_flowmeter', type: 'png', size:'huge' },
    table_data: []
  }),
  computed: {
    anemometer_special_title: function () {
      return this.translate.special_title
    },
    anemometer_grease_title: function () {
      return this.translate.grease_title
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    common: function () {
      return this.State.Common
    },
    context_description: function () {
      return this.translate.des
    },
    tableData: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [              
              `<div style="">${common.term_oil}</div>`,
              `<div style="">LO1</div>`,
              `<div style="">LO113</div>`,
            ]
          },
          {
            value: [
              common.base_oil, common.ester, common.ester
            ]
          },
          {
            value: [
              this.curLan==='EN'?`<div>${common.baseoilviscosity} 40℃(mm<sup>2</sup>/s)</div>` : `<div>${common.baseoilviscosity}40℃(mm<sup>2</sup>/s)</div>`,
              `<div style="">13.6</div>`,
              `<div style="">54</div>`
            ],
          },
          {
            value: [
              this.curLan==='EN'? `<div style="">${common.evaporation} at 100℃(mm<sup>2</sup>,24H)</div>`  : `<div style="">${common.evaporation}100℃(mm<sup>2</sup>,24H)</div>`,
              `<div style="">0.7</div>`,
              `<div style="">0.1</div>`
            ],
          }
        ],

        order: [],
        width: ['200pt', '90pt', '90pt'],
        height: ['50pt', '50pt', '50pt', '50pt']
      }
      return tableData
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    // DobuleDotLineBtn,
    ProductDotLineBtn,
    ApplicationTable
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['grease', 'special'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['grease', 'special'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.pack {
  &.pack01 {
    padding-bottom: 70pt;
    &.EN {
      .ring_img_x .coordinate {
      }
    }
  }
  &.specialpack {
    padding-bottom: 80pt;
  }
  padding: 15pt 0;
  position: relative;
  .coordinate {
    position: absolute;
  }
  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }
  .ring {
    margin: 0 12pt;
    text-align: center;
    align-items: center;
    .imgs {
      margin: 12pt 6pt;
    }
    .ring_img_x {
      position: relative;
    }
    .ring_img0 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_standard1.png",
        120pt,
        120pt
      );
    }
    .ring_img1 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_standard2.png",
        120pt,
        180pt
      );
    }
    .ring_img2 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_counter1.png",
        120pt,
        120pt
      );
    }
    .ring_img3 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_counter2.png",
        120pt,
        180pt
      );
    }
    
  }
}

.graph {
  @include bgImg(
    "../../assets/product/fishing/special_chart.png",
    180pt,
    350.51329pt
  );
  background-size: 100% 90%;
  position:relative;


  .solText {
    &.sp {
      top: 122%;
      &.solText1 {
        left: 18%;
      }

      &.solText3 {
        left: 78%;
      }
    }
   
  }

}


.graph2 {
  @include bgImg(
    "../../assets/product/AF/AF.png",
    144.445143pt,
    260.51329pt
  );
  background-size: 100% 90%;
}


.solText {
  top: 90%;
  &.sp {
    top: 90%;
    &.solText1 {
      left: 48%;
    }

    &.solText3 {
      left: 83%;
    }
  }
  &.solText1 {
    left: 20%;
  }
  &.solText2 {
    left: 49%;
  }
  &.solText3 {
    left: 78%;
  }
}
</style>
