<template>
  <div class="page sub-page bldc">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="panel">
      <div class="context">
        <ProductContentCardSimple
          :class="['retainer']"
          :data="{ title: BLDC_inter_title, pack:'Retainer' }"
          :folder="this.curFolder===0"
          :folderNumber="0"
          :type="'retainer'"
        >
          <div class="context">
            <div class="panel">
              <div class="intro" :class="[curLan]">
                <div class="title">Internal Design</div>

                <div class="text">{{ translate.inter_intro_context }}</div>
                <div class="tag">Internal Design</div>
              </div>
              <div class="contain">
                <div class="pack iflex pack02" :class="[curLan]" :folder="true">
                  <div class="ring iflex hor x1">
                    <div class="standard product-type">
                      {{ common.standard_item }}
                      <br>
                      <span>PA66+GF</span>
                    </div>
                    <div class="imgs flex flex_just_sa flex_align_center">
                      <div class="ring_img_x ring_img4"></div>
                    </div>
                  </div>
                  <div class="ring iflex hor x3">
                    <div class="standard product-type sol">
                      {{ common.solution_item }}
                      <br>
                      <span>PEEK</span>
                    </div>
                    <div class="imgs flex flex_just_sa flex_align_center">
                      <div class="ring_img_x ring_img5"></div>
                    </div>
                  </div>
                </div>
                <div class="pack">
                  <div class="text inner_con">
                    <img src="@/assets/product/path-2.svg" class="path2">
                    <!-- <pre
                      :style="{
                'max-width': '150pt',
                'text-align': 'left',
                'white-space': 'pre-line'
              }"
                    >{{ translate.sen_0 }}</pre> -->
                  </div>
                </div>
                <div class="pack">
                  <div class="graph_con">
                    <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt','white-space': 'pre-line'}">{{translate.sen_0}}</pre>
                    <div class="pack specialpack">
                      <div class="graph01">
                        <CRText
                          :style_val="{ color: '#f00' }"
                          :style="{ top: '3%', left: '50%' }"
                        >{{ translate.red_0 }}</CRText>
                        <CRText
                          :style_val="{ color: '#000' }"
                          :style="{ top: '88%', left: '20%' }"
                        >PA66+GF</CRText>

                        <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                          <ProductDotLineBtn
                            :text="common.standard_item"
                            :type="'reg'"
                            :lan="curLan"
                            :fontSize="'14'"
                          ></ProductDotLineBtn>
                        </CRText>

                        <CRText :style_val="{ color: '#000' }" :style="{ top: '88%', left: '79%' }">PEEK</CRText>

                        <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                          <ProductDotLineBtn
                            :text="common.solution_item"
                            :type="'sol'"
                            :lan="curLan"
                            :fontSize="'14'"
                          ></ProductDotLineBtn>
                        </CRText>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <div class="context">
            <div class="panel">
              <div class="intro" :class="[curLan]">
                <div class="title">Internal Design</div>

                <div class="text"></div>
                <div class="tag">Internal Design</div>
              </div>
              <div class="contain">
                <div class="pack iflex pack02" :class="[curLan]" :folder="true">
                  <div class="ring iflex hor x1">
                    <div class="standard product-type">
                      {{ common.standard_item }}
                      <br>
                      <!-- <span>PA66+GF</span> -->
                    </div>
                    <div class="imgs flex flex_just_sa flex_align_center">
                      <div class="ring_img_x ring_img6"></div>
                    </div>
                    <div class="ring_img_x ring_img6_1"></div>
                    <!-- <span>{{translate.term_3}}</span> -->
                  </div>

                  <div class="ring iflex hor x3">
                    <div class="standard product-type sol">
                      {{ common.solution_item }}
                      <br>
                      <!-- <span>PEEK</span> -->
                    </div>
                    <div class="imgs flex flex_just_sa flex_align_center">
                      <div class="ring_img_x ring_img7"></div>
                    </div>
                    <div class="ring_img_x ring_img7_1"></div>
                    <!-- <span>{{translate.term_4}}</span> -->
                  </div>
                </div>
                <div class="pack">
                  <div class="text inner_con">
                    <img src="@/assets/product/path-2.svg" class="path2">
                    <!-- <pre
                      :style="{
                'max-width': '160pt',
                'text-align': 'left',
                'white-space': 'pre-line'
              }"
                    >{{ translate.sen_1 }}</pre> -->
                  </div>
                </div>
                <div class="pack">
                  <div class="graph_con"> 
                    <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt'}">{{translate.sen_1}}</pre>
                    <div class="pack specialpack">
                    <div class="graph02">
                      <CRText
                        :style_val="{ color: '#f00' }"
                        :style="{ top: '3%', left: '50%' }"
                      >{{ translate.red_1 }}</CRText>
                      <CRText
                        :style_val="{ color: '#000' }"
                        :style="{ top: '88%', left: '20%' }"
                      >PA66+GF</CRText>

                      <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                        <ProductDotLineBtn
                          :text="common.standard_item"
                          :type="'reg'"
                          :lan="curLan"
                          :fontSize="'14'"
                        ></ProductDotLineBtn>
                      </CRText>

                      <CRText :style_val="{ color: '#000' }" :style="{ top: '88%', left: '79%' }">PEEK</CRText>

                      <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                        <ProductDotLineBtn
                          :text="common.solution_item"
                          :type="'sol'"
                          :lan="curLan"
                          :fontSize="'14'"
                        ></ProductDotLineBtn>
                      </CRText>
                    </div>
                  </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </ProductContentCardSimple>
      </div>

      <ProductContentCard
        :class="['seal']"
        :data="{ title: BLDC_seal_title, pack:'Seal' }"
        :intro="{ tag: 'Seal', context: translate.seal_intro_context }"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'seal'"
      >
        <div class="pack iflex pack02" :class="[curLan]" :folder="true" :style="{width:'394pt'}">
          <div class="ring iflex hor x1">
            <div class="standard product-type">
              {{ common.standard_item }}
              <br>
              <span>{{translate.term_1}}</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img8"></div>
            </div>
          </div>
          <div class="ring iflex hor x3">
            <div class="standard product-type sol">
              {{ common.solution_item }}
              <br>
              <span>{{translate.term_2}}</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img9"></div>
            </div>
          </div>
        </div>
        <div class="pack">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <!-- <pre
              :style="{
                'max-width': '155pt',
                'text-align': 'left',
                'white-space': 'pre-line'
              }"
            >{{ translate.sen_2 }}</pre> -->
          </div>
        </div>
        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt'}">{{translate.sen_2}}</pre>
            <div class="pack specialpack">
              <div class="graph03">
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '3%', left: '50%' }"
                >{{ translate.red_2 }}</CRText>
                <CRText
                  :style_val="{ color: '#000' }"
                  :style="{ top: '90%', left: '20%' }"
                >{{translate.term_1}}</CRText>

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.standard_item"
                    :type="'reg'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>

                <CRText
                  :style_val="{ color: '#000' }"
                  :style="{ top: '90%', left: '79%' }"
                >{{translate.term_2}}</CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.solution_item"
                    :type="'sol'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>
              </div>
            </div>
          </div>
        </div>
                
        
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import ProductContentCardSimple from '@/components/ProductContentCardSimple.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'BLDC',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'BLDC',
    title: 'Vacuum cleaner motor (BLDC)',
    pImg: { folder: 'sample', name: 'bldc', type: 'png' },
    table_data: [
      ['R-830', '8mm', '3mm'],
      ['R-1350', '13mm', '5mm'],
      ['R-1560', '15mm', '6mm']
    ]
  }),
  computed: {
    translate: function () {
      return this.State.Page[this.template]
    },
    BLDC_inter_title: function () {
      return this.translate.inter_title
    },

    BLDC_inter2_title: function () {
      return this.translate.inter2_title
    },
    BLDC_seal_title: function () {
      return this.translate.seal_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    },
    red: function () {
      let data = {}
      const lan = this.curLan
      if (lan === 'EN') {
        data = {
          d22: `${this.common.decrease} 22%`,
          d35: `${this.common.decrease} 35%`,
          d72: `${this.common.decrease} 72%`
        }
      } else if (lan === 'CN') {
        data = {
          d22: `${this.common.decrease} 22%`,
          d35: `${this.common.decrease} 35%`,
          d72: `${this.common.decrease} 72%`
        }
      } else if (lan === 'JP') {
        data = {
          d22: `22% ${this.common.decrease}`,
          d35: `35% ${this.common.decrease}`,
          d72: `72% ${this.common.decrease}`
        }
      }
      return data
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    ProductContentCardSimple,
    ProductDotLineBtn,
    CRText
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['retainer', 'seal'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['retainer', 'seal'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.ring {
  margin: 0 12pt;
  text-align: center;
  align-items: center;
  .imgs {
    margin: 12pt 6pt;
  }
  .ring_img_x {
    position: relative;
  }
  .ring_img4 {
    margin: 0 8pt;
    @include bgImg(
      "../../assets/product/dc/retainer_standard1.png",
      130pt,
      130pt
    );
  }
  .ring_img5 {
    margin: 0 8pt;
    @include bgImg(
      "../../assets/product/dc/retainer_counter1.png",
      130pt,
      130pt
    );
  }
  .ring_img6 {
    margin: 0 8pt;
    @include bgImg(
      "../../assets/product/dc/04_standard.png",
      130pt,
      130pt
    );
  }
  .ring_img7 {
    margin: 0 8pt;
    @include bgImg(
      "../../assets/product/dc/04_counter.png",
      130pt,
      130pt
    );
  }
  .ring_img6_1 {
    margin: 0 8pt;
    @include bgImg(
      "../../assets/product/dc/01_type3.png",
      70pt,
      70pt
    );
  }
  .ring_img7_1 {
    margin: 0 8pt;
    @include bgImg(
      "../../assets/product/dc/01_type4.png",
      70pt,
      70pt
    );
  }
  .ring_img8 {
    margin: 0 8pt;
    @include bgImg("../../assets/product/dc/seal_standard.png", 130pt, 130pt);
  }
  .ring_img9 {
    margin: 0 8pt;
    @include bgImg("../../assets/product/dc/seal_counter.png", 130pt, 130pt);
  }
}

.img.special {
  width: 360pt;
}

.circle_part {
  @include bgImg(
    "../../assets/product/circle-bg.svg",
    169.408929pt,
    169.408929pt
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19pt;
}

.bearing {
  margin-bottom: 10pt;
  width: 93pt;
  height: 70pt;
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;
  pre {
    text-align: left;
  }
}

.graph01 {
  position: relative;
  @include bgImg(
    "../../assets/product/dc/retainer_chart1.png",
    144.445143pt,
    260.513286pt
  );
}

.graph02 {
  position: relative;
  @include bgImg(
    "../../assets/product/dc/retainer_chart2.png",
    144.445143pt,
    260.513286pt
  );
}

.graph03 {
  position: relative;
  @include bgImg(
    "../../assets/product/dc/seal_chart.png",
    144.445143pt,
    260.513286pt
  );
}

.coordinate.solText {
  position: absolute;
  top: 110%;
  &.solText1 {
    left: 20%;
  }
  &.solText3 {
    left: 79%;
  }
}
</style>
