<template>
  <div class="page sub-page turbo">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['retainer', 'multi']"
        :data="[{ title: drone_retainer_title, pack:'Retainer' }, { title: drone_inter_title, pack:'Internal design' }]"
        :intro="{ tag: 'Retainer', context: translate.retainer_intro_context }"
        :con="'space-around'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="['retainer', 'inter']"
        :multi="true"
      >

        <!-- :multi="true" -->
        <div class="pack iflex hor flex_align_center" :style="{'margin-top': '-50pt'}">
          <ApplicationTable :dataSource="tableData3" :style="{width:'100%'}"></ApplicationTable>
          <div class="con">
            <div class="imgx1"></div>
           
            <div class="imgx2"></div>
          </div>

          <div class="grease-text " :style='{"margin-top":"10pt"}'>Grease</div>
        </div>


        <div class="graph_con">
          <pre :style="{'max-width':'310pt' }">{{translate.sen_0}}</pre>
          <div class=" graph01"> 
            <!-- <CRText :style="{ top: '100%', left: '20%' }">R-830ZZMN​​</CRText>
            <CRText :style="{ top: '100%', left: '78%' }">R-830X10ZZSD57MTMN​</CRText> -->
            <CRText
              :style_val="{ color: '#f00' }"
              :style="{ top: '12%', left: '55%' }"
            >{{ translate.graph_0 }}</CRText>
            <CRText :style="{ top: '100%', left: '20%' }">
              <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
            <CRText :style="{ top: '100%', left: '78%' }">
              <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
          </div>
        </div>
        
      </ProductContentCard>

      <ProductContentCard
        :class="['special']"
        :data="{ title: drone_special_title, pack:'Special design'}"
        :intro="{
          tag: 'Standard/Special',
          context: translate.special_intro_context
        }"
        :con="'flex_just_se  hor'"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'special'"
      >
        <div class="pack iflex pack01" :class="[curLan]">
          <div class="ring iflex hor x1">
            <div class="standard product-type">
              {{common.standard_item}}
              <span>DD400</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img0">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n1}}</CRText>
              </div>

              <div class="ring_img_x ring_img1">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n0}}</CRText>
              </div>
            </div>
          </div>
          <div class="ring iflex hor x3">
            <div class="standard product-type sol">
              {{common.solution_item}}
              <span>Giga Protection 2</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img2">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n2}}</CRText>
              </div>

              <div class="ring_img_x ring_img3">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n0}}</CRText>
              </div>
            </div>
          </div>
        </div>

        <div class="pack specialpack flex flex_just_se" style="width: 80%;">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <pre :style="{'text-align':'left','white-space':'pre-wrap'}">{{translate.sen_0}}</pre>
          </div>
          <div class="graph">
            <CRText :style_val="{color:'#f00'}" :style="{top:'1%',left:'79%'}">{{translate.red_0}}</CRText>
            <CRText :style="{ top: '105%', left: '18%' }">DD400</CRText>
            <CRText :style="{ top: '105%', left: '77%' }">Giga Protection 2</CRText>
            <CRText :class="['solText', curLan, 'solText1','sp']" :style="{ }">
              <ProductDotLineBtn
                :text="common.standard_item"
                :type="'reg'"
                :lan="curLan"
                :fontSize="'14'"
              ></ProductDotLineBtn>
            </CRText>

            <CRText :class="['solText', curLan, 'solText3','sp']" :style="{ }">
              <ProductDotLineBtn
                :text="common.solution_item"
                :type="'sol'"
                :lan="curLan"
                :fontSize="'14'"
              ></ProductDotLineBtn>
            </CRText>
          </div>
        </div>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
// import DobuleDotLineBtn from '@/components/DobuleDotLineBtn.vue';
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'
import ApplicationTable from '@/components/ApplicationTable.vue'

export default {
  name: 'Drone',
  props: {},
  extends: ProductBase,

  data: () => ({
    template: 'Drone', // use for lan and default video name
    title: 'Drone',
    info: {
      title: 'test title',
      description: 'test word'
    },
    pImg: { folder: 'sample', name: 'drone', type: 'png', size:'huge' },
    table_data: [['R-830', '8mm', '3mm'],['L-520', '5mm', '2mm']]
  }),
  computed: {
    drone_retainer_title: function () {
      return this.translate.retainer_title
    },
    drone_inter_title: function () {
      return this.translate.inter_title
    },
    drone_special_title: function () {
      return this.translate.special_title
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    common: function () {
      return this.State.Common
    },
    context_description: function () {
      return this.translate.des
    },
    tableData3: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
        ],
        order: [
          { name: common.standard_item, style: {} },
          { name: common.solution_item, style: {} }
        ],
        width: ['220pt', '220pt']
      }
      return tableData
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    // DobuleDotLineBtn,
    ProductDotLineBtn,
    ApplicationTable
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['special', 'inter', 'retainer'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['special', 'inter', 'retainer'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img.special {
  //width: 360pt;
  @include bgImg("../../assets/product/turbo/special_design.png", 200pt, 600pt);
}




.graph01 {
  @include bgImg("../../assets/product/drone/drone_chart.png", 164.445143pt, 280.513286pt);
}

.con {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-style: solid;
  border-bottom-color: rgb(191, 191, 191);
  border-bottom-width: 1px;
  padding-bottom: 10pt;
}
.imgx1 {
  position: relative;
  display: inline-block;
  height: 200pt;
  width: 50%;
  background-image: url("../../assets/product/drone/r830-zzmn.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // left: -100pt;
  top: 0;
}

.imgx2 {
  position: relative;
  display: inline-block;
  height: 200pt;
  width: 50%;
  background-image: url("../../assets/product/drone/r830-10.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // left: -100pt;
  top: 0;
  // margin-left: 35pt;
}
.pack {
  &.pack01 {
    padding-bottom: 70pt;
    &.EN {
      .ring_img_x .coordinate {
      }
    }
  }
  &.specialpack {
    padding-bottom: 80pt;
  }
  padding: 15pt 0;
  position: relative;
  .coordinate {
    position: absolute;
  }
  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }
  .ring {
    margin: 0 12pt;
    text-align: center;
    align-items: center;
    .imgs {
      margin: 12pt 6pt;
    }
    .ring_img_x {
      position: relative;
    }
    .ring_img0 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_standard1.png",
        120pt,
        120pt
      );
    }
    .ring_img1 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_standard2.png",
        120pt,
        180pt
      );
    }
    .ring_img2 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_counter1.png",
        120pt,
        120pt
      );
    }
    .ring_img3 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_counter2.png",
        120pt,
        180pt
      );
    }
    
  }
}
.graph {
  @include bgImg(
    "../../assets/product/fishing/special_chart.png",
    180pt,
    350.51329pt
  );
  background-size: 100% 90%;
  position:relative;


  .solText {
    &.sp {
      top: 122%;
      &.solText1 {
        left: 18%;
      }

      &.solText3 {
        left: 78%;
      }
    }
   
  }

}


.solText {
  top: 95%;
  &.sp {
    top: 90%;
    &.solText1 {
      left: 48%;
    }

    &.solText3 {
      left: 83%;
    }
  }
  &.solText1 {
    left: 20%;
  }
  &.solText2 {
    left: 49%;
  }
  &.solText3 {
    left: 78%;
  }
}
</style>
