<template>
  <div class="page sub-page etc">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['retainer']"
        :data="{ title: etc_retainer_title, pack:'Retainer' }"
        :intro="{ tag: 'Retainer', context: translate.retainer_intro_context }"
        :con="'space-around'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'retainer'"
      >
        <div class="pack iflex pack02" :class="[curLan]" :folder="true">
          <div class="ring iflex hor x1">
            <div class="standard product-type">
              {{ common.standard_item }}
              <br />
              <!-- <span>PA66+GF</span> -->
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img6"></div>
            </div>
            <div class="ring_img_x ring_img6_1"></div>
            <!-- <span>{{translate.term_3}}</span> -->
          </div>

          <div class="ring iflex hor x3">
            <div class="standard product-type sol">
              {{ common.solution_item }}
              <br />
              <!-- <span>PEEK</span> -->
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img7"></div>
            </div>
            <div class="ring_img_x ring_img7_1"></div>
            <!-- <span>{{translate.term_4}}</span> -->
          </div>
        </div>
        <div class="pack">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2" />
            <!-- <pre
              :style="{
        'max-width': '160pt',
        'text-align': 'left',
        'white-space': 'pre-line'
      }"
            >{{ translate.sen_1 }}</pre>-->
          </div>
        </div>
        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt'}">{{translate.sen_1}}</pre>
            <div class="pack specialpack">
              <div class="graph02">
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '3%', left: '50%' }"
                >{{ translate.red_1 }}</CRText>
                <CRText :style_val="{ color: '#000' }" :style="{ top: '88%', left: '20%' }">PA66+GF</CRText>

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.standard_item"
                    :type="'reg'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>

                <CRText :style_val="{ color: '#000' }" :style="{ top: '88%', left: '79%' }">PEEK</CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.solution_item"
                    :type="'sol'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>
              </div>
            </div>
          </div>
        </div>
      </ProductContentCard>

      <ProductContentCard
        :class="['special']"
        :data="{ title: etc_special_title, pack:'Special design'}"
        :intro="{
          tag: 'Standard/Special',
          context: translate.special_intro_context
        }"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'special'"
      >
        <ApplicationTable :dataSource="tableData" :style="{ width: '800pt' }"></ApplicationTable>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from "@/components/ProductHeader.vue";
import ProductContentCard from "@/components/ProductContentCard.vue";
import CRText from "@/components/CRText.vue";
// import DobuleDotLineBtn from '@/components/DobuleDotLineBtn.vue';
import ProductDotLineBtn from "@/components/ProductDotLineBtn.vue";
import ProductBase from "@/components/products/ProductBase.vue";
import ApplicationTable from "@/components/ApplicationTable.vue";

export default {
  name: "Electric_Turbo_charger",
  props: {},
  extends: ProductBase,

  data: () => ({
    template: "Electric_Turbo_charger", // use for lan and default video name
    title: "Electric Turbo charger",
    info: {
      title: "test title",
      description: "test word"
    },
    pImg: { folder: "sample", name: "e-turbo", type: "png" },
    table_data: []
  }),
  computed: {
    getImg: function(f) {
      return {
        table_ring: require("../../assets/product/Eps/oring3.png"),
        table_as01: require("../../assets/product/pump/as01.png"),
        table_as02: require("../../assets/product/pump/as02.png"),
        table_as03: require("../../assets/product/pump/as03.png")
      };
    },
    etc_retainer_title: function() {
      return this.translate.retainer_title;
    },
    etc_special_title: function() {
      return this.translate.special_title;
    },
    translate: function() {
      return this.State.Page[this.template];
    },
    common: function() {
      return this.State.Common;
    },
    context_description: function() {
      return this.translate.des;
    },
    tableData: function() {
      const common = this.common;
      const tableData = {
        array: [
          {
            double: false,
            value: [`O-ring ${common.material}`, "FKM", "FKM", "FKM"]
          },
          {
            double: false,
            value: [
              this.curLan === "JP"
                ? `<p style="font-family: Noto_Sans_JP !important;" lang="ja">${common.Outer_diameter}</p>`
                : common.Outer_diameter,
              "13mm",
              "16mm",
              "19mm"
            ]
          },
          {
            double: false,
            value: [
              this.curLan === "JP"
                ? `<p style="font-family: Noto_Sans_JP !important;" lang="ja">${common.Inner_diameter}</p>`
                : common.Inner_diameter,
              "5mm",
              "5mm",
              "6mm"
            ]
          }
        ],
        order: [
          {
            name: `<img class="ring_pic" src=${this.getImg.table_ring} style="width:100pt;height:auto;position:relative;">`
          },
          {
            name: `<img class="as-pic as01" src=${this.getImg.table_as01} style="width:120pt;height:auto;position:relative;">`
          },
          {
            name: `<img class="as-pic as02" src=${this.getImg.table_as02} style="width:120pt;height:auto;position:relative;">`
          },
          {
            name: `<img class="as-pic as03" src=${this.getImg.table_as03} style="width:120pt;height:auto;position:relative;">`
          }
        ],
        width: ["200pt", "200pt", "200pt", "200pt"],
        height: ["50pt", "50pt", "50pt"],
        autoHeightOrder: true,
        noEven: true
      };
      return tableData;
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    // DobuleDotLineBtn,
    ProductDotLineBtn,
    ApplicationTable
  },
  beforeUpdated: function() {
    this.$store.dispatch("serialsContext", ["special", "retainer"]);
    this.$store.dispatch("videoSrc", this.template);
  },

  mounted: function() {
    this.$store.dispatch("serialsContext", ["special", "retainer"]);
    this.$store.dispatch("videoSrc", this.template);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img.special {
  //width: 360pt;
  @include bgImg("../../assets/product/turbo/special_design.png", 200pt, 600pt);
}

.circle_part {
  @include bgImg(
    "../../assets/product/circle-bg.svg",
    169.408929pt,
    169.408929pt
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10pt;
}

.bearing {
  margin-bottom: 10pt;
  width: 93pt;
  height: 70pt;
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;
  pre {
    text-align: left;
  }
}

.graph {
  @include bgImg("../../assets/product/page-1.svg", 164.445143pt, 280.513286pt);
}

.ring {
  margin: 0 12pt;
  text-align: center;
  align-items: center;
  .imgs {
    margin: 12pt 6pt;
  }
  .ring_img_x {
    position: relative;
  }

  .ring_img6 {
    margin: 0 8pt;
    @include bgImg("../../assets/product/dc/04_standard.png", 130pt, 130pt);
  }
  .ring_img7 {
    margin: 0 8pt;
    @include bgImg("../../assets/product/dc/04_counter.png", 130pt, 130pt);
  }
  .ring_img6_1 {
    margin: 0 8pt;
    @include bgImg("../../assets/product/dc/01_type3.png", 70pt, 70pt);
  }
  .ring_img7_1 {
    margin: 0 8pt;
    @include bgImg("../../assets/product/dc/01_type4.png", 70pt, 70pt);
  }
  .ring_img8 {
    margin: 0 8pt;
    @include bgImg("../../assets/product/dc/seal_standard.png", 130pt, 130pt);
  }
  .ring_img9 {
    margin: 0 8pt;
    @include bgImg("../../assets/product/dc/seal_counter.png", 130pt, 130pt);
  }
}

.graph02 {
  position: relative;
  @include bgImg(
    "../../assets/product/dc/retainer_chart2.png",
    144.445143pt,
    260.513286pt
  );
}

.coordinate.solText {
  position: absolute;
  top: 110%;
  &.solText1 {
    left: 20%;
  }
  &.solText3 {
    left: 78%;
  }
}

.as-pic {
  width: 170pt;
  height: auto;
  position: relative;
}
</style>
