
<template>
  <div class="page sub-page encoder">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['seal']"
        :data="{ title: Encoder_seal_title, pack:'Seal' }"
        :intro="{ tag: 'Seal', context: translate.seal_intro_context }"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'seal'"
      >
        <div class="pack iflex pack02" :class="[curLan]" :folder="true"  :style="{'margin-top':'-100pt'}">
          <div class="ring iflex hor x1" :class="[curLan]">
            <div class="standard product-type">
              {{ common.standard_item }}
              <br>
              <span>{{translate.n0}}</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img4"></div>
            </div>
          </div>
          <div class="ring iflex hor x3" :class="[curLan]">
            <div class="standard product-type sol">
              {{ common.solution_item }}
              <br>
              <span>{{translate.n1}}</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img5"></div>
            </div>
          </div>
        </div>
        <div class="pack"  :style="{'margin-top':'-100pt'}">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <!-- <pre
              :style="{
                'max-width': '160pt',
                'text-align': 'left',
                'white-space': 'pre-line'
              }"
            >{{ translate.sen_0 }}</pre> -->
          </div>
        </div>

        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt','white-space': 'pre-wrap'}">{{translate.sen_0}}</pre>
            <div class="pack specialpack">
              <div class="graph">
                <CRText :style_val="{ color: '#f00' }" :style="{ top: '3%', left: '50%' }">{{ red.d22 }}</CRText>
                <CRText :style_val="{ color: '#000' }" :style="{ top: '72%', left: '20%' }">DD</CRText>
                <CRText :style_val="{ color: '#000' }" :style="{ top: '72%', left: '79%' }">DS</CRText>

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.standard_item"
                    :type="'reg'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.solution_item"
                    :type="'sol'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>
              </div>
            </div>
          </div>
        </div>
        

        
      </ProductContentCard>

      <ProductContentCard
        :class="['grease', 'extend']"
        :data="{ title: Encoder_grease_title, pack:'Grease' }"
        :intro="{ tag: 'Grease', context: translate.grease_intro_context }"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'grease'"
      >
        <div class="pack iflex" :style="{'margin-top':'-100pt'}">
          <ProductTable :dataSource="tableData"></ProductTable>
        </div>
        <div class="pack" :style="{'margin-top':'-100pt'}">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <!-- <pre
              :style="{
                'max-width': '160pt',
                'text-align': 'left',
                'white-space': 'pre-wrap'
              }"
            >{{ translate.sen_1 }}</pre> -->
          </div>
        </div>
        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt','white-space': 'pre-wrap'}">{{translate.sen_1}}</pre>
            <div class="pack specialpack" :class="[curLan]">
              <div class="graph2">
                <CRText :style_val="{ color: '#f00' }" :style="{ top: '5%', left: '50%' }">{{ red.d35 }}</CRText>
                <CRText :style_val="{ color: '#f00' }" :style="{ top: '11%', left: '81%' }">{{ red.d72 }}</CRText>

                <CRText :style="{ top: '75%', left: '20%' }">LY121</CRText>
                <CRText :style="{ top: '75%', left: '49%' }">LY551</CRText>
                <CRText :style="{ top: '75%', left: '78%' }">LY740</CRText>
                <CRText :class="['solText', curLan, 'solText1','sp']" :style="{}">
                  <img :src="Button.standard" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText2','sp']" :style="{}">
                  <img :src="Button.counter_1" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText3','sp']" :style="{}">
                  <img :src="Button.counter_2" :style="{maxWidth:'85pt'}">
                </CRText>
              </div>
            </div>
          </div>
        </div>
        
        
        
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductTable from '@/components/ProductTable.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'Encoder',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'Encoder',
    title: 'Rotary Encoder',
    pImg: { folder: 'sample', name: 'encode', type: 'png' },
    table_data: [
      ['L-2112', '21mn', '12mm'],
      ['L-1910', '19mn', '10mm'],
      ['R-1560', '15mn', '6mm']
    ]
  }),
  computed: {
    tableData: function () {
      const common = this.common
      const tableData = {
        array: [
          {
            double: false,
            value: [
              common.thickenging_agent,
              common.Lithium_soap,
              common.urea,
              common.urea
            ]
          },
          {
            double: false,
            value: [
              common.base_oil,
              common.ester,
              common.synthetic,
              common.synthetic
            ]
          },
          {
            double: false,
            value: [
              `<p>${common.baseoilviscosity} 40°C (mm<sup>2</sup>/s)</p>`,
              24,
              48,
              95
            ]
          },
          {
            double: false,
            value: [`${common.worked_penetration} 60W`, 250, 235, 194]
          },
          {
            double: false,
            value: [
              common.color,
              common.light_brown,
              common.light_brown,
              common.light_brown
            ]
          }
        ],
        order: ['', 'LY121', 'LY551', 'LY740'],
        width: ['100pt', '100pt', '100pt', '100pt']
      }
      return tableData
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    Encoder_seal_title: function () {
      return this.translate.seal_title
    },
    Encoder_grease_title: function () {
      return this.translate.grease_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    },
    red: function () {
      let data = {}
      const lan = this.curLan
      if (lan === 'EN') {
        data = {
          d22: `${this.common.decrease} 22%`,
          d35: `${this.common.decrease} 35%`,
          d72: `${this.common.decrease} 72%`
        }
      } else if (lan === 'CN') {
        data = {
          d22: `${this.common.decrease} 22%`,
          d35: `${this.common.decrease} 35%`,
          d72: `${this.common.decrease} 72%`
        }
      } else if (lan === 'JP') {
        data = {
          d22: `22% ${this.common.decrease}`,
          d35: `35% ${this.common.decrease}`,
          d72: `72% ${this.common.decrease}`
        }
      }
      return data
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    ProductDotLineBtn,
    CRText,
    ProductTable
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['seal', 'grease'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['seal', 'grease'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.pack {
  &.pack01 {
    padding-bottom: 70pt;
    &.EN {
      .ring_img_x .coordinate {
        // transform: rotate(30deg);
        // top: 150% !important;
      }
    }
  }
  &.specialpack {
    padding-bottom: 80pt;
  }
  padding: 15pt 0;
  position: relative;
  .coordinate {
    position: absolute;
  }
  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }
  .ring {
    margin: 0 12pt;
    text-align: center;
    align-items: center;

    &.EN{
      &.x1 > .product-type,
      &.x3 > .product-type{
        height: 50pt;
      }
    }
    .imgs {
      margin: 12pt 6pt;
    }
    .ring_img_x {
      position: relative;
    }
    .ring_img4 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/rotary/seal_standard.png",
        130pt,
        130pt
      );
    }
    .ring_img5 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/rotary/seal_counter.png",
        130pt,
        130pt
      );
    }
  }
}

.graph2 {
  @include bgImg(
    "../../assets/product/rotary/grease_chart.png",
    144.445143pt,
    330.513286pt
  );
  background-size: 100% 90%;
}

.graph {
  @include bgImg(
    "../../assets/product/rotary/seal_chart.png",
    144.445143pt,
    330.513286pt
  );
  background-size: 100% 90%;
}

.product-type {
  .sol {
    color: #004ea8;
  }
  span {
    font-size: 14pt !important;
  }
}
.solText {
  top: 87%;
  &.sp {
    top: 93%;
  }
  &.solText1 {
    left: 20%;
  }
  &.solText2 {
    left: 49%;
  }
  &.solText3 {
    left: 78%;
  }
}
</style>
