<template>
  <div class="page sub-page eps-motor">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['special']"
        :data="{ title: epsMotor_special_title, pack:'Special design' }"
        :intro="{
          tag: 'Standard/Special',
          context: translate.special_intro_context
        }"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'special'"
      >
        <div class="obj-con">
          <div class="object object-1">
            <div class="part"></div>
            <CRText :style_val="{ color: '#000' }" :style="{ top: '115%', left: '50%' }">
              O Ring 1pce
              <br />Groove 2lines
            </CRText>
          </div>
        </div>

        <div class="obj-con">
          <div class="object object-2">
            <div class="part part_2"></div>
            <CRText :style_val="{ color: '#000' }" :style="{ top: '115%', left: '50%' }">
              O Ring 2pcs
              <br />Groove 2lines
            </CRText>
          </div>
        </div>

        <div class="obj-con">
          <div class="object object-3">
            <div class="part part_3"></div>
            <CRText :style_val="{ color: '#000' }" :style="{ top: '115%', left: '50%' }">
              O Ring 2pcs
              <br />Groove 2lines
            </CRText>
          </div>
        </div>
      </ProductContentCard>

      <ProductContentCard
        :class="['special intro-full']"
        :data="{ title: epsMotor_special2_title, pack:'Special design' }"
        :intro="{
          tag: 'Standard/Special',
          context: translate.special2_intro_context
        }"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'special'"
      ></ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from "@/components/ProductHeader.vue";
import ProductContentCard from "@/components/ProductContentCard.vue";
import CRText from "@/components/CRText.vue";
import ProductBase from "@/components/products/ProductBase.vue";

export default {
  name: "EpsMotor",
  props: {},
  extends: ProductBase,
  data: () => ({
    template: "EpsMotor",
    title: "EPS motor",
    pImg: { folder: "Eps", name: "product", type: "png" },
    table_data: [
      [6000, "26mm", "10mm"],
      [608, "22mm", "8mm"]
    ]
  }),
  computed: {
    translate: function() {
      return this.State.Page[this.template];
    },
    epsMotor_special_title: function() {
      return this.translate.special_title;
    },
    epsMotor_special2_title: function() {
      return this.translate.special2_title;
    },

    context_description: function() {
      return this.translate.des;
    },
    common: function() {
      return this.State.Common;
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText
  },
  beforeUpdated: function() {
    this.$store.dispatch("serialsContext", ["special"]);
    this.$store.dispatch("videoSrc", this.template);
  },

  mounted: function() {
    this.$store.dispatch("serialsContext", ["special"]);
    this.$store.dispatch("videoSrc", this.template);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";

.obj-con {
  padding-bottom: 70pt;
  padding-left: 50pt;
}
.object {
  position: relative;
  width: 170pt;
  height: 170pt;
  & .part {
    @include bgImg("../../assets/product/Eps/oring.png", 70pt, 100pt);
    top: 20%;
    left: -25%;
    position: absolute;

    &.part_2 {
      @include bgImg("../../assets/product/Eps/oring2.png", 70pt, 100pt);
    }

    &.part_3 {
      @include bgImg("../../assets/product/Eps/oring3.png", 100pt, 120pt);
      top: 17%;
      left: -30%;
    }
  }
  &.object-1 {
    @include bgImg("../../assets/product/Eps/cad_1.png", 280pt, 230pt);
  }
  &.object-2 {
    @include bgImg("../../assets/product/Eps/cad_2.png", 280pt, 230pt);
  }
  &.object-3 {
    @include bgImg("../../assets/product/Eps/cad_3.png", 280pt, 230pt);
  }
}
</style>
