<template>
  <div class="page sub-page template">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
      :videos="['ETC', 'EGR']"
      :page_name="'EtcEgrValue'"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['seal']"
        :data="{ title: etc_egr_value_seal_title, pack:'Seal' }"
        :intro="{ tag: 'Seal', context: translate.seal_intro_context }"
        :con="'flex_just_se flex_align_top'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'seal'"
      >
        <div class="pack pack1">
          <div class="img"></div>
          <CRText
            :style_val="{ color: '#000' }"
            :style="{ top: '0%', left: '23%' }"
          >{{ translate.zero_press }}</CRText>
          <CRText
            :style_val="{ color: '#000' }"
            :style="{ top: '0%', left: '75%' }"
          >{{ translate.positive_press }}</CRText>

          <div class="standard product-type" :class="[curLan]">{{ common.standard_item }}</div>
        </div>
        <div class="pack pack2">
          <div class="img"></div>
          <CRText
            :style_val="{ color: '#000' }"
            :style="{ top: '0%', left: '29%' }"
          >{{ translate.zero_press }}</CRText>
          <CRText
            :style_val="{ color: '#000' }"
            :style="{ top: '0%', left: '75%' }"
          >{{ translate.positive_press }}</CRText>

          <div class="sol product-type">{{ common.solution_item }}</div>
        </div>
      </ProductContentCard>

      <ProductContentCard
        :class="['seal']"
        :data="{ title: etc_egr_value_seal2_title, pack:'Seal' }"
        :intro="{ tag: 'Seal', context: translate.seal2_intro_context }"
        :con="'flex_just_se '"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'seal'"
      >
        <div class="pack iflex">
          <div class="ring iflex hor x1">
            <div class="standard product-type" :class="[curLan]">{{ common.standard_item }}</div>
            <div class="ring_img"></div>
            <pre class="desc">NBR
{{ translate.R2210 }}</pre>
          </div>
          <div class="ring iflex hor x2">
            <div class="standard product-type sol" :class="[curLan]">{{ common.solution_item }} 1</div>
            <div class="ring_img"></div>
            <pre class="desc">H-NBR
{{ translate.R2210 }}</pre>
          </div>
          <div class="ring iflex hor x3">
            <div class="standard product-type sol" :class="[curLan]">{{ common.solution_item }} 2</div>
            <div class="ring_img"></div>
            <pre class="desc">FKM
{{ translate.L1910 }}</pre>
          </div>
        </div>
        <div class="pack">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <!-- <pre
              :style="{
                'max-width': '160pt',
                'text-align': 'left',
                'white-space': 'pre-line'
              }"
            >{{ translate.sen_0 }}</pre> -->
          </div>
        </div>
        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt'}">{{translate.sen_0}}</pre>
            <!-- <pre v-if="curLan ==='JP'" :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt'}">{{translate.sen_0_0}}<br><span>{{translate.condition}}<span :style="{  'text-align': 'left',display: 'inline-flex'}">{{translate.sen_0_1}}</span></span></pre> -->
            <div class="pack specialpack"> 
           
            
              <div class="graph">
                <CRText :style="{ top: '72%', left: '20%' }">NBR</CRText>
                <CRText :style="{ top: '72%', left: '49%' }">H-NBR</CRText>
                <CRText :style="{ top: '72%', left: '78%' }">FKM</CRText>
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: curLan==='EN'?'7%':'2%', left: '50%' }"
                  :class="['no-letter-spaceing', 'white-space-pre']"
                >{{ translate.red_0 }}</CRText>
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '2%', left: '77.5%', 'margin-top':curLan==='EN'?'-2%':'0' }"
                  :class="['no-letter-spaceing', 'white-space-pre']"
                >{{ translate.red_1 }}</CRText>

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <img :src="Button.standard" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText2']" :style="{}">
                  <img :src="Button.counter_1" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <img :src="Button.counter_2" :style="{maxWidth:'85pt'}">
                </CRText>
              </div>
            </div>
          </div>
        </div>
        
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'EtcEgrValue',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'EtcEgrValue',
    title: 'ETC/EGR Value',
    pImg: { folder: 'etc_egr', name: 'product', type: 'png' },
    table_data: [
      [608, '22mm', '8mm'],
      ['R-2210', '22mm', '10mm'],
      ['L-1910', '19mm', '10mm']
    ]
  }),
  computed: {
    translate: function () {
      return this.State.Page[this.template]
    },
    etc_egr_value_seal_title: function () {
      return this.translate.seal_title
    },
    etc_egr_value_seal2_title: function () {
      return this.translate.seal2_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    ProductDotLineBtn
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['seal'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['seal'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";

.pack {
  &.specialpack {
    padding-bottom: 80pt;
  }
  padding: 15pt 0;
  position: relative;
  &.pack1 {
    .img {
      @include bgImg(
        "../../assets/product/etc_egr/table1_standard.png",
        200pt,
        350pt
      );
    }
  }
  &.pack2 {
    .img {
      @include bgImg(
        "../../assets/product/etc_egr/table1_counter.png",
        200pt,
        350pt
      );
    }
  }

  .coordinate {
    position: absolute;
  }

  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }

  .ring {
    margin: 0 5pt;
    max-width: 110pt;
    text-align: center;
    align-items: center;
    &.x1 .ring_img {
      margin: 16pt 0;
      @include bgImg(
        "../../assets/product/etc_egr/table2_standard.png",
        82pt,
        82pt
      );
    }

    &.x2 .ring_img {
      margin: 16pt 0;
      @include bgImg(
        "../../assets/product/etc_egr/table2_counter1.png",
        82pt,
        82pt
      );
    }

    &.x3 .ring_img {
      margin: 16pt 0;
      @include bgImg(
        "../../assets/product/etc_egr/table2_counter2.png",
        82pt,
        69.7pt
      );
    }
  }
}

.graph {
  @include bgImg(
    "../../assets/product/etc_egr/table2_chart.png",
    144.445143pt,
    330.513286pt
  );
  background-size: 100% 90%;
}

.solText {
  top: 90%;
  &.sp {
  }
  &.solText1 {
    left: 20%;
  }
  &.solText2 {
    left: 49%;
  }
  &.solText3 {
    left: 78%;
  }
}
</style>
