<template>
  <div class="page sub-page etc-egr-moter">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
      :videos="['ETC', 'EGR']"
      :page_name="'EtcEgrMotor'"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['grease']"
        :data="{ title: EtcEgrMoter_grease_title, pack:'Grease' }"
        :intro="{ tag: 'Grease', context: translate.grease_intro_context  }"
        :con="'hor'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'grease'"
      >
        <div class="row row0 flex flex_just_sa flex_align_center">
          <ProductTable :dataSource="tableData" :style="{ width: '970pt' }"></ProductTable>
        </div>
        <div class="row row1 flex flex_just_sa flex_align_center">
          <div class="row row1 flex flex_just_sa flex_align_center hor">
            <div class="pack">
              <div class="text inner_con">
                <pre
                  :style="{
                  'text-align': 'left',
                  'white-space': 'pre',
                  'height':'60pt',
                  'max-width': '390pt'
                }"
                >{{ translate.sen_0 }}</pre>
              </div>
            </div>

            <div class="pack specialpack" :class="[curLan]">
              <div class="graph" :class="[cur_lan]">
                <CRText
                  :class="['small', 'short']"
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '16%', left: '30%' }"
                >{{ red.m75 }}</CRText>
                <CRText
                  :class="['small', 'short']"
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '28%', left: '48.5%' }"
                >{{ red.m25 }}</CRText>
                <CRText
                  :class="['small', 'short']"
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '16%', left: '67%' }"
                >{{ red.t180 }}</CRText>
                <CRText
                  :class="['small', 'short']"
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '28%', left: '85.5%' }"
                >{{ red.t130 }}</CRText>
              </div>
            </div>
          </div>

          <div class="row row2 flex flex_just_sa flex_align_center hor">
            <div class="pack">
              <div class="text inner_con">
                <pre
                  :style="{
                    'text-align': 'left',
                    'white-space': 'pre',
                    'height':'60pt',
                    'max-width': '390pt'
                }"
                >{{ translate.sen_1 }}</pre>
              </div>
            </div>

            <div class="pack specialpack" :class="[curLan]">
              <div class="graph" :class="[cur_lan]">
                <CRText
                  :class="['small', 'short']"
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '16%', left: '30%' }"
                >{{ red.d61 }}</CRText>
                <CRText
                  :class="['small', 'short']"
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '28%', left: '48.5%' }"
                >{{ red.d90 }}</CRText>
                <CRText
                  :class="['small', 'short']"
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '16%', left: '67%' }"
                >{{ red.d88 }}</CRText>
                <CRText
                  :class="['small', 'short']"
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '28%', left: '85.5%' }"
                >{{ red.d56 }}</CRText>
              </div>
            </div>
          </div>
        </div>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from "@/components/ProductHeader.vue";
import ProductContentCard from "@/components/ProductContentCard.vue";
import CRText from "@/components/CRText.vue";
// import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue';
import ProductTable from "@/components/ProductTable.vue";
import ProductBase from "@/components/products/ProductBase.vue";

export default {
  name: "EtcEgrMoter",
  props: {},
  extends: ProductBase,
  data: () => ({
    template: "EtcEgrMoter",
    title: "ETC/EGR motor",
    pImg: { folder: "etc", name: "product", type: "png" },
    table_data: [["R-1240", "12mm", "4mm"]]
  }),
  computed: {
    cur_lan: function() {
      return this.curLan;
    },
    translate: function() {
      return this.State.Page[this.template];
    },
    EtcEgrMoter_grease_title: function() {
      return this.translate.grease_title;
    },
    EtcEgrMoter_special_title: function() {
      return this.translate.special_title;
    },

    context_description: function() {
      return this.translate.des;
    },
    common: function() {
      return this.State.Common;
    },
    red: function() {
      let data = {};
      const lan = this.curLan;
      if (lan === "EN") {
        data = {
          m75: `${this.common.minus} 75%`,
          m25: `${this.common.minus} 25%`,
          t180: `1.8 ${this.common.times}`,
          t130: `1.3 ${this.common.times}`,
          d61: `${this.common.decrease} 61%`,
          d90: `${this.common.decrease} 90%`,
          d88: `${this.common.decrease} 88%`,
          d56: `${this.common.decrease} 56%`
        };
      } else if (lan === "CN") {
        data = {
          m75: `75% ${this.common.minus}`,
          m25: `25% ${this.common.minus}`,
          t180: `1.8 ${this.common.times}`,
          t130: `1.3 ${this.common.times}`,
          d61: `${this.common.decrease} 61%`,
          d90: `${this.common.decrease} 90%`,
          d88: `${this.common.decrease} 88%`,
          d56: `${this.common.decrease} 56%`
        };
      } else if (lan === "JP") {
        data = {
          m75: `75% ${this.common.minus}`,
          m25: `25% ${this.common.minus}`,
          t180: `1.8 ${this.common.times}`,
          t130: `1.3 ${this.common.times}`,
          d61: `61% ${this.common.decrease}`,
          d90: `90% ${this.common.decrease}`,
          d88: `88% ${this.common.decrease}`,
          d56: `56% ${this.common.decrease}`
        };
      }
      return data;
    },
    tableData: function() {
      const common = this.common;
      const tableData = {
        array: [
          {
            double: false,
            value: [
              common.thickenging_agent,
              "PTFE",
              "PTFE",
              "PTFE",
              common.PTFE_urea,
              common.PTFE_urea
            ]
          },
          {
            double: false,
            value: [
              common.base_oil,
              common.fluorine,
              common.fluorine,
              common.fluorine,
              common._fesh,
              common._fesh
            ]
          },
          {
            double: false,
            value: [
              `<p>${common.baseoilviscosity} 100°C (mm<sup>2</sup>/s)</p>`,
              34,
              45,
              22,
              17,
              22
            ]
          },
          {
            double: false,
            value: [
              `${common.worked_penetration}(60W)`,
              280,
              277,
              280,
              285,
              285
            ]
          },
          {
            double: false,
            value: [
              common.color,
              common.white,
              common.white,
              common.white,
              common.light_brown,
              common.light_brown
            ]
          }
        ],
        order: ["", "LY500", "LY677", "LY699", "LY754", "LY762"],
        width: ["192pt", "100pt", "100pt", "100pt", "150pt", "150pt"]
      };
      return tableData;
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    ProductTable
    //     // ProductDotLineBtn
  },
  beforeUpdated: function() {
    this.$store.dispatch("serialsContext", ["grease"]);
    this.$store.dispatch("videoSrc", this.template);
  },

  mounted: function() {
    this.$store.dispatch("serialsContext", ["grease"]);
    this.$store.dispatch("videoSrc", this.template);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.row {
  padding-bottom: 00pt;
  &.row1 {
    padding-bottom: 00pt;
  }
}

.pack {
  margin: 0 15pt;
  padding: 15pt 0;
  position: relative;
  &.specialpack {
    padding-top: 40pt;
    padding-bottom: 0;
  }
  &.pack1 {
    .img {
      @include bgImg(
        "../../assets/product/etc_egr/table1_standard.png",
        123.48pt,
        268.7955pt
      );
    }
  }
  &.pack2 {
    .img {
      @include bgImg(
        "../../assets/product/etc_egr/table1_counter.png",
        123.48pt,
        268.7955pt
      );
    }
  }
  .coordinate {
    position: absolute;
  }

  &.EN .coordinate {
  }
  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 25.6pt, 40pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }
}

.obj-con {
  padding-bottom: 40pt;
}

.row {
  .graph {
    background-size: 100% 90%;
  }

  &.row1 .graph {
    @include bgImg("../../assets/product/etc/chart1.png", 180pt, 380pt);
  }
  &.row2 .graph {
    @include bgImg("../../assets/product/etc/chart2.png", 180pt, 380pt);
  }
}
</style>
