<template>
  <div class="page sub-page turbo">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCardSimple
         

          :class="['grease', 'multi']"
          :data="[{ title: ev_grease_title, pack:'Grease' }, { title: ev_seal_title, pack:'Seal' }]"
          :intro="{ tag: 'Grease', context: translate.grease_intro_context }"
          :con="'space-around'"
          :folder="this.curFolder===0"
          :folderNumber="0"
          :type="['grease', 'seal']"
          :multi="true"
        >
          <div class="context" >
            <div class="panel">
              <div class="intro" :class="[curLan]">
                <div class="title">Internal Design</div>

                <div class="text">{{ translate.grease_intro_context }}</div>
                <div class="tag">Internal Design</div>
              </div>
              <div class="contain" :style="{'justify-content': 'space-around'}">
                <div class="pack iflex">
                  <ProductTable :dataSource="tableData"></ProductTable>
                </div>
                <!-- <div class="pack">
                  <div class="text inner_con">
                    <img src="@/assets/product/path-2.svg" class="path2">
                   
                  </div>
                </div> -->
                <div class="pack">
                  <div class="graph_con">
                    <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt'}">{{translate.sen_0}}</pre>
                    <div class="pack specialpack">
                      <div class="graph01">
                        <CRText
                          :style_val="{ color: '#f00' }"
                          :style="{ top: '3%', left: '77%' }"
                        >{{ translate.red_0 }}</CRText>
                        <CRText
                          :style_val="{ color: '#f00' }"
                          :style="{ top: '12%', left: '55%' }"
                        >{{ translate.graph_0 }}</CRText>
                        <CRText :style="{ top: '120%', left: '20%' }">
                          <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
                        </CRText>
                        <CRText :style="{ top: '120%', left: '78%' }">
                          <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
                        </CRText>
                        <CRText
                          
                          :style="{ top: '94%', left: '20%' }"
                        >LY349</CRText>
                        <CRText
                          
                          :style="{ top: '94%', left: '78%' }"
                        >LY764</CRText>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <div class="context">
            <div class="panel">
              <div class="intro" :class="[curLan]">
                <div class="title">Internal Design</div>

                <div class="text"></div>
                <div class="tag">Internal Design</div>
              </div>
              <div class="contain" :style="{'justify-content': 'space-around'}">
                <div class="circle circle_1" :style="{ 'margin-top': '3%' }">
                  <div class="circle_part">
                    <div class="inner_con hor">
                      <img src="@/assets/product/ABS_ESC/NBR.png" class="object_type_0">
                      NBR
                    </div>
                  </div>
                  <div class="standard product-type">{{ common.standard_item }}</div>
                </div>

                <div class="circle circle_2" :style="{ 'margin-top': '3%' }">
                  <div class="circle_part">
                    <div class="inner_con hor">
                      <img src="@/assets/product/ABS_ESC/NBR.png" class="object_type_0">
                      NBR (Special)
                    </div>
                  </div>
                  <div class="sol product-type">{{ common.solution_item }}</div>
                </div>

                <div class="text inner_con">
                  <img src="@/assets/product/path-2.svg" class="path2">
                  <!-- <span :style="{ 'max-width': '160pt', 'text-align': 'left' }">
                    {{
                    translate.sen_0
                    }}
                  </span> -->
                </div>
                <div class="graph_con">
                  <pre :style="{'max-width':'310pt' }">{{translate.sen_1}}</pre>
                  <div class="graph">
                    <CRText
                          :style_val="{ color: '#f00' }"
                          :style="{ top: '9%', left: '50%' }"
                        ><span v-html="translate.red_1"></span> </CRText> 
                    <CRText :style="{ top: '92%', left: '20%' }">NBR</CRText>
                    <CRText :style="{ top: '92%', left: '78%' }">NBR (Special)</CRText>
                    <CRText
                      :style_val="{ color: '#f00' }"
                      :style="{ top: '15%', left: '49%' }"
                    >{{ translate.graph }}</CRText>
                    <CRText :style="{ top: '115%', left: '20%' }">
                      <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
                    </CRText>
                    <CRText :style="{ top: '115%', left: '78%' }">
                      <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
                      <!-- <DobuleDotLineBtn
                        :text="common.solution_item"
                        :style_val="{width:'84.328pt', height:'38.399357pt'}"
                      ></DobuleDotLineBtn>-->
                    </CRText>
                  </div>


                </div>
                
                
              </div>
            </div>
          </div>
        </ProductContentCardSimple>
<!-- 
      <ProductContentCard
        :class="['special']"
        :data="{ title: ev_special_title, pack:'Special design'}"
        :intro="{
          tag: 'Standard/Special',
          context: translate.special_intro_context
        }"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'special'"
      >
        <div class="standard product-type">{{ common.standard_item }}</div>
        <div class="img special"></div>
        <div class="sol product-type">{{ common.solution_item }}</div>
      </ProductContentCard> -->
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductContentCardSimple from '@/components/ProductContentCardSimple.vue'

// import DobuleDotLineBtn from '@/components/DobuleDotLineBtn.vue';
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'
import ProductTable from '@/components/ProductTable.vue'

export default {
  name: 'EV_Traction_motor',
  props: {},
  extends: ProductBase,

  data: () => ({
    template: 'EV_Traction_motor', // use for lan and default video name
    title: 'EV Tranction motor',
    info: {
      title: 'test title',
      description: 'test word'
    },
    pImg: { folder: 'sample', name: 'ev_tranction', type: 'png' },
    table_data: []
  }),
  computed: {
    tableData: function () {
      const common = this.common
      const tableData = {
        array: [
          {
            double: false,
            value: [common.thickenging_agent, common._c_silica, common._cbs]
          },
          {
            double: false,
            value: [common.base_oil, common.synthetic, common.synthetic]
          },
          {
            double: false,
            value: [
              `<p>${common.baseoilviscosity} 40°C (mm<sup>2</sup>/s)</p>`,
              61,
              120
            ]
          },
          {
            double: false,
            value: [`${common.worked_penetration} 60W`, 286, 260]
          },
          {
            double: false,
            value: [common.color, common.black, common.black]
          }
        ],
        order: ['', 'LY349', 'LY764'],
        width: ['120pt', '120pt', '120pt']
      }
      return tableData
    },
    ev_grease_title: function () {
      return this.translate.grease_title
    },
    ev_seal_title: function () {
      return this.translate.seal_title
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    common: function () {
      return this.State.Common
    },
    context_description: function () {
      return this.translate.des
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    // DobuleDotLineBtn,
    ProductDotLineBtn,
    ProductContentCardSimple,
    ProductTable
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['seal', 'grease'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['seal', 'grease'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.circle_part {
  @include bgImg(
    "../../assets/product/circle-bg.svg",
    169.408929pt,
    169.408929pt
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19pt;
}

.object_type_0 {
  margin-bottom: 10pt;
  width: 90pt;
  height: 90pt;
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;
  pre {
    text-align: left;
  }
}

.graph01 {
  position: relative;
  @include bgImg(
    "../../assets/product/ev_tranction/ev_chart01.png",
    144.445143pt,
    260.513286pt
  );
}



.graph {
  @include bgImg(
    "../../assets/product/ABS_ESC/chart.png",
    144.445143pt,
    260.513286pt
  );
}

</style>
