<template>
  <div class="page sub-page fishing-reel">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['special']"
        :data="{title:FishingReel_special_title, pack:'Special design'}"
        :intro="{tag:'Standard/Special', context:translate.special_intro_context}"
        :con="'flex_just_se hor'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'special'"
      >
        <div class="pack iflex pack01" :class="[curLan]">
          <div class="ring iflex hor x1">
            <div class="standard product-type">
              {{common.standard_item}}
              <span>DD400</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img0">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n1}}</CRText>
              </div>

              <div class="ring_img_x ring_img1">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n0}}</CRText>
              </div>
            </div>
          </div>
          <div class="ring iflex hor x3">
            <div class="standard product-type sol">
              {{common.solution_item}}
              <span>Giga Protection 2</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img2">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n2}}</CRText>
              </div>

              <div class="ring_img_x ring_img3">
                <CRText
                  :style_val="{color:'#000'}"
                  :style="{top:'120%',left:'50%'}"
                >{{translate.n0}}</CRText>
              </div>
            </div>
          </div>
        </div>

        <div class="pack specialpack flex flex_just_se" style="width: 80%;">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <pre :style="{'text-align':'left','white-space':'pre-line'}">{{translate.sen_0}}</pre>
          </div>
          <div class="graph">

            <CRText :style_val="{color:'#f00'}" :style="{top:'1%',left:'79%'}">{{translate.red_0}}</CRText>
            <CRText :style="{ top: '108%', left: '18%' }">DD400</CRText>
            <CRText :style="{ top: '108%', left: '77%' }">Giga Protection 2</CRText>
            <CRText :class="['solText', curLan, 'solText1','sp']" :style="{ }">
              <ProductDotLineBtn
                :text="common.standard_item"
                :type="'reg'"
                :lan="curLan"
                :fontSize="'14'"
              ></ProductDotLineBtn>
            </CRText>

            <CRText :class="['solText', curLan, 'solText3','sp']" :style="{ }">
              <ProductDotLineBtn
                :text="common.solution_item"
                :type="'sol'"
                :lan="curLan"
                :fontSize="'14'"
              ></ProductDotLineBtn>
            </CRText>
          </div>
        </div>
      </ProductContentCard>
      <ProductContentCard
        :class="['grease']"
        :data="{title:FishingReel_grease_title, pack:'Grease'}"
        :intro="{tag:'Grease', context:translate.grease_intro_context}"
        :con="'flex_just_se '"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'grease'"
      >
        <div class="pack iflex pack02" :class="[curLan]">
          <div class="ring iflex hor x1">
            <div class="standard product-type">
              {{common.standard_item}}
              <br>
              <span>LO1</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img4"></div>
            </div>
          </div>
          <div class="ring iflex hor x3">
            <div class="standard product-type sol">
              {{common.solution_item}}
              <br>
              <span>LY460</span>
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img5"></div>
            </div>
          </div>
        </div>
        <div class="pack">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <!-- <pre :style="{'text-align':'left','white-space':'pre-line'}">{{translate.sen_1}}</!-->
          </div>
        </div>
        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt','white-space':'pre-wrap'}">{{translate.sen_1}}</pre>
            <div class="pack specialpack">
              <div class= "graph2">
                <CRText :style_val="{color:'#f00'}" :style="{top:'8%',left:'50%'}">{{translate.red_1}}</CRText>
                <CRText :style="{ top: '75%', left: '20%' }">LO1</CRText>
                <CRText :style="{ top: '75%', left: '78%' }">LY460</CRText>
                <CRText :class="['solText', curLan, 'solText1']" :style="{ }">
                  <ProductDotLineBtn
                    :text="common.standard_item"
                    :type="'reg'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{ }">
                  <ProductDotLineBtn
                    :text="common.solution_item"
                    :type="'sol'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>
              </div>
            </div>  
          </div>
        </div>
        
        
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'FishingReel',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'FishingReel',
    title: 'Fishing reel',
    pImg: { folder: 'sample', name: 'fishing', type: 'png' },
    table_data: []
  }),
  computed: {
    translate: function () {
      return this.State.Page[this.template]
    },
    FishingReel_grease_title: function () {
      return this.translate.grease_title
    },
    FishingReel_special_title: function () {
      return this.translate.special_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    ProductDotLineBtn
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['special', 'grease'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['special', 'grease'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.pack {
  &.pack01 {
    padding-bottom: 70pt;
    &.EN {
      .ring_img_x .coordinate {
      }
    }
  }
  &.specialpack {
    padding-bottom: 80pt;
  }
  padding: 15pt 0;
  position: relative;
  .coordinate {
    position: absolute;
  }
  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }
  .ring {
    margin: 0 12pt;
    text-align: center;
    align-items: center;
    .imgs {
      margin: 12pt 6pt;
    }
    .ring_img_x {
      position: relative;
    }
    .ring_img0 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_standard1.png",
        120pt,
        120pt
      );
    }
    .ring_img1 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_standard2.png",
        120pt,
        180pt
      );
    }
    .ring_img2 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_counter1.png",
        120pt,
        120pt
      );
    }
    .ring_img3 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/special_counter2.png",
        120pt,
        180pt
      );
    }
    .ring_img4 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/grease_standard.png",
        120pt,
        190pt
      );
    }
    .ring_img5 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/fishing/grease_counter.png",
        120pt,
        190pt
      );
    }
  }
}

.graph {
  @include bgImg(
    "../../assets/product/fishing/special_chart.png",
    180pt,
    350.51329pt
  );
  background-size: 100% 90%;
  position:relative;


  .solText {
    &.sp {
      top: 128%;
      &.solText1 {
        left: 18%;
      }

      &.solText3 {
        left: 78%;
      }
    }
   
  }

}

.graph2 {
  @include bgImg(
    "../../assets/product/fishing/grease_chart.png",
    144.445143pt,
    260.51329pt
  );
  background-size: 100% 90%;
}



.solText {
  top: 90%;
  &.sp {
    top: 90%;
    &.solText1 {
      left: 48%;
    }

    &.solText3 {
      left: 83%;
    }
  }
  &.solText1 {
    left: 20%;
  }
  &.solText2 {
    left: 49%;
  }
  &.solText3 {
    left: 78%;
  }
}
</style>
