<template>
  <div class="page sub-page hvac">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['retainer']"
        :data="{ title: HVAC_retainer_title, pack:'Retainer' }"
        :intro="{ tag: 'Retainer', context: translate.retainer_intro_context }"
        :con="'flex_just_se'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'retainer'"
      >
        <div class="pack iflex">
          <div class="ring iflex hor x1">
            <div class="ring_img"></div>
            <div class="standard product-type">{{ common.standard_item }}</div>
          </div>
          <div class="ring iflex hor x2">
            <div class="ring_img"></div>
            <div class="standard product-type">{{ common.solution_item }} 1</div>
          </div>
          <div class="ring iflex hor x3">
            <div class="ring_img"></div>
            <div class="standard product-type">{{ common.solution_item }} 2</div>
          </div>
        </div>
        <div class="pack">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2" />
          </div>
        </div>

        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt'}">{{translate.sen_0}}</pre>
            <div class="pack specialpack">
              <div class="graph">
                <CRText
                  :style_val="{color:'#f00'}"
                  :class="[curLan]"
                  :style="{top:'0%',left:'50%'}"
                >{{this.translate.d90}}</CRText>

                <CRText
                  :style_val="{color:'#f00'}"
                  :class="[curLan]"
                  :style="{top:'11%',left:'77%'}"
                >{{this.translate.d90}}</CRText>

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <img :src="Button.standard" :style="{maxWidth:'85pt'}" />
                </CRText>

                <CRText :class="['solText', curLan, 'solText2']" :style="{}">
                  <img :src="Button.counter_1" :style="{maxWidth:'85pt'}" />
                </CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <img :src="Button.counter_2" :style="{maxWidth:'85pt'}" />
                </CRText>
              </div>
            </div>
          </div>
        </div>
      </ProductContentCard>

      <ProductContentCardSimple
        :class="['inter']"
        :data="{ title: HVAC_inter_title, pack: 'Internal Design' }"
        :intro="{
            tag: 'Internal Design',
            context: translate.inter_intro_context
          }"
        :con="'flex_just_se '"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'inter'"
      >
        <div class="context no-margin">
          <div class="panel">
            <div class="intro" :class="[curLan]">
              <div class="title">Internal Design</div>

              <div class="text">{{ translate.inter_intro_context }}</div>
              <div class="tag">Internal Design</div>
            </div>
            <div class="contain">
              <div class="pack iflex">
                <div class="ring2 iflex hor x1">
                  <div class="ring_img"></div>
                  <div class="standard product-type">{{ common.standard_item }}</div>
                </div>
                <div class="ring2 iflex hor x2">
                  <div class="ring_img"></div>
                  <div class="standard product-type">{{ common.solution_item }} 1</div>
                </div>
                <div class="ring2 iflex hor x3">
                  <div class="ring_img"></div>
                  <div class="standard product-type">{{ common.solution_item }} 2</div>
                </div>
              </div>
              <div class="pack">
                <div class="text inner_con">
                  <img src="@/assets/product/path-2.svg" class="path2" />
                </div>
              </div>

              <div class="pack">
                <div class="graph_con">
                  <pre
                    :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt'}"
                  >{{translate.sen_1}}</pre>

                  <div class="pack specialpack" :class="[curLan]">
                    <div class="graph2">
                      <CRText
                        :style_val="{color:'#f00'}"
                        :class="[curLan]"
                        :style="{top:'0%',left:'50%'}"
                      >{{this.translate.d30}}</CRText>

                      <CRText
                        :style_val="{color:'#f00'}"
                        :class="[curLan]"
                        :style="{top:'11%',left:'77%'}"
                      >{{this.translate.d30}}</CRText>
                      <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                        <img :src="Button.standard" :style="{maxWidth:'85pt'}" />
                      </CRText>

                      <CRText :class="['solText', curLan, 'solText2']" :style="{}">
                        <img :src="Button.counter_1" :style="{maxWidth:'85pt'}" />
                      </CRText>

                      <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                        <img :src="Button.counter_2" :style="{maxWidth:'85pt'}" />
                      </CRText>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="context plus">
          <div class="panel">
            <div class="contain" :style="{width:'100%', 'padding-top':0}">
              <div class="pack">
                <div class="rect">
                  <div class="top entry">Retainer</div>
                  <div class="bottom entry">Internal design</div>
                </div>
              </div>
              <div class="pack iflex">
                <div class="ring3 iflex hor x1">
                  <div class="ring_img"></div>
                  <div class="standard product-type">{{ common.standard_item }}</div>
                </div>
                <div class="ring3 iflex hor x2">
                  <div class="ring_img"></div>
                  <div class="standard product-type">{{ common.solution_item }} 1</div>
                </div>
                <div class="ring3 iflex hor x3">
                  <div class="ring_img"></div>
                  <div class="standard product-type">{{ common.solution_item }} 2</div>
                </div>
              </div>
            </div>
            <p class="description">{{translate.combine_text}}</p>
          </div>
        </div>
      </ProductContentCardSimple>
    </div>
  </div>
</template>

<script>
import ProductHeader from "@/components/ProductHeader.vue";
import ProductContentCard from "@/components/ProductContentCard.vue";
import ProductContentCardSimple from "@/components/ProductContentCardSimple.vue";

import CRText from "@/components/CRText.vue";
import ProductBase from "@/components/products/ProductBase.vue";

export default {
  name: "HVAC",
  props: {},
  extends: ProductBase,
  data: () => ({
    template: "HVAC",
    title: "HVAC Blower motor",
    pImg: { folder: "hvac", name: "product", type: "png" },
    table_data: [[608, "22mm", "8mm"]]
  }),
  computed: {
    translate: function() {
      return this.State.Page[this.template];
    },
    HVAC_retainer_title: function() {
      return this.translate.retainer_title;
    },
    HVAC_inter_title: function() {
      return this.translate.inter_title;
    },

    context_description: function() {
      return this.translate.des;
    },
    common: function() {
      return this.State.Common;
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    ProductContentCardSimple,
    CRText
  },
  beforeUpdated: function() {
    this.$store.dispatch("serialsContext", ["inter", "retainer"]);
    this.$store.dispatch("videoSrc", this.template);
  },

  mounted: function() {
    this.$store.dispatch("serialsContext", ["inter", "retainer"]);
    this.$store.dispatch("videoSrc", this.template);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.context.plus {
  .panel {
    flex-direction: column;

    p.description {
      width: 100%;
      font-size: 15.8pt;
      text-align: center;
      white-space: pre-wrap;
      margin-top: 0;
    }
  }
  .rect {
    width: 210pt;
    height: 160pt;
    border-radius: 10pt;
    // box-shadow: rgba(0,0,0,0.3) -5pt 8pt 3pt;
    .entry {
      width: 100%;
      text-align: center;
      height: 50%;

      line-height: 80pt;
      color: #fff;
      font-size: 24pt;
      &.top {
        border-radius: 10pt 10pt 0 0;
        background-image: linear-gradient(
          147deg,
          rgb(0, 190, 209) 0%,
          rgb(0, 190, 209) 50%,
          rgba(66, 179, 204, 1) 67%,
          rgba(0, 133, 162, 1) 100%
        );
      }
      &.bottom {
        border-radius: 0 0 10pt 10pt;
        background-image: linear-gradient(
          147deg,
          rgba(255, 199, 71, 0.75) 0%,
          rgb(239, 172, 48) 58%,
          rgba(251, 184, 50, 0.88) 100%
        );
      }
    }
  }
}
.pack {
  margin: 0 15pt;
  padding: 15pt 0;
  position: relative;

  &.specialpack {
    padding-bottom: 20pt;
  }

  &.pack1 {
    .img {
      @include bgImg(
        "../../assets/product/etc_egr/table1_standard.png",
        123.48pt,
        268.7955pt
      );
    }
  }
  &.pack2 {
    .img {
      @include bgImg(
        "../../assets/product/etc_egr/table1_counter.png",
        123.48pt,
        268.7955pt
      );
    }
  }

  .coordinate {
    position: absolute;
  }

  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }

  .ring {
    margin: 0 12pt;
    margin-top: 10pt;
    max-width: 105pt;
    text-align: center;
    align-items: center;
    &.x1 .ring_img {
      margin: 16pt 0;
      @include bgImg(
        "../../assets/product/hvac/retainer_standard.png",
        130pt,
        130pt
      );
    }

    &.x2 .ring_img {
      margin: 16pt 0;
      @include bgImg(
        "../../assets/product/hvac/retainer_counter_1.png",
        130pt,
        130pt
      );
    }

    &.x3 .ring_img {
      margin: 16pt 0;
      @include bgImg(
        "../../assets/product/hvac/retainer_counter_2.png",
        130pt,
        130pt
      );
    }
  }

  .ring2 {
    margin: 0 12pt;
    margin-top: 10pt;
    // max-width: 110pt;
    text-align: center;
    align-items: center;
    &.x1 .ring_img {
      margin: 16pt 0;
      @include bgImg(
        "../../assets/product/hvac/internal_standard.png",
        121pt,
        123pt
      );
    }

    &.x2 .ring_img {
      margin: 16pt 0;
      background-position-y: -1pt;
      @include bgImg(
        "../../assets/product/hvac/internal_counter_1.png",
        121pt,
        123pt
      );
    }

    &.x3 .ring_img {
      margin: 16pt 0;
      background-position-y: 3pt;
      @include bgImg(
        "../../assets/product/hvac/internal_counter_2.png",
        121pt,
        123pt
      );
      // margin-top: 19pt;
    }
  }

  .ring3 {
    margin: 0 12pt;
    margin-top: 10pt;
    // max-width: 110pt;
    text-align: center;
    align-items: center;
    &.x1 .ring_img {
      margin: 16pt 0;
      @include bgImg(
        "../../assets/product/hvac/hvac_r_in_standard.png",
        140pt,
        220pt
      );
    }

    &.x2 .ring_img {
      margin: 16pt 0;
      background-position-y: -1pt;
      @include bgImg(
        "../../assets/product/hvac/hvac_r_in_counter_1.png",
        140pt,
        220pt
      );
    }

    &.x3 .ring_img {
      margin: 16pt 0;
      background-position-y: 3pt;
      @include bgImg(
        "../../assets/product/hvac/hvac_r_in_counter_2.png",
        140pt,
        220pt
      );
      // margin-top: 19pt;
    }
  }
}

.graph {
  @include bgImg(
    "../../assets/product/hvac/retainer_chart.png",
    144.445143pt,
    300pt
  );
  background-size: 100% 90%;
}

.graph2 {
  @include bgImg(
    "../../assets/product/hvac/internal_chart.png",
    144.445143pt,
    300.513286pt
  );
  background-size: 100% 90%;
}

.solText {
  top: 100%;

  &.solText1 {
    left: 20%;
  }
  &.solText2 {
    left: 48%;
  }
  &.solText3 {
    left: 76%;
  }
}
</style>
