<template>
  <div class="page sub-page laser-level">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['retainer']"
        :data="{ title: LaserLevel_retainer_title, pack:'Retainer' }"
        :intro="{ tag: 'Retainer', context: translate.retainer_intro_context }"
        :con="'hor'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'retainer'"
      >
        <div class="row flex flex_just_sa row1">
          <div class="obj-con">
            <div class="standard product-type" style="white-space: pre;">
              {{ common.standard_item }}
              <span>{{ translate.term_0 }}</span>
            </div>

            <div class="object object-1">
              <!-- <CRText
                :style_val="{ color: '#000' }"
                :style="{ top: '120%', left: '50%' }"
              >O Ring 1pec
                <br>Groove 2lines
              </CRText>-->
            </div>
          </div>

          <div class="obj-con">
            <div class="standard product-type" style="    white-space: pre;">
              {{ common.standard_item }} 2
              <span>PA66+GF</span>
            </div>

            <div class="object object-2">
              <!-- <CRText
                :style_val="{ color: '#000' }"
                :style="{ top: '120%', left: '50%' }"
              >O Ring 2pcs
                <br>Groove 2lines
              </CRText>-->
            </div>
          </div>

          <div class="obj-con">
            <div class="standard product-type sol" style="white-space: pre;">
              {{ common.solution_item }}
              <span>PA66+GF</span>
            </div>

            <div class="object object-3">
              <!-- <CRText
                :style_val="{ color: '#000' }"
                :style="{ top: '120%', left: '50%' }"
              >O Ring 2pcs
                <br>Groove 2lines
              </CRText>-->
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="row flex flex_just_sa flex_align_center hor" :style="{'zoom': '0.9'}">
            <div class="pack text">
              <div class="text inner_con">
                <pre
                  :style="{
                  'max-width': '220pt',
                  'text-align': 'left',
                  'white-space': 'pre-line'
                }"
                >{{ translate.sen_0 }}</pre>
              </div>
            </div>

            <div class="pack specialpack" :class="[curLan]">
              <div class="graph">
                <CRText :style="{ top: '75%', left: '20%' }">{{ translate.term_0 }}</CRText>
                <CRText :style="{ top: '75%', left: '49%' }">PA66+GF</CRText>
                <CRText :style="{ top: '75%', left: '78%' }">PA66+GF</CRText>
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '8%', left: '48%' }"
                >{{ translate.red_0 }}</CRText>

                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '16%', left: '75%' }"
                >{{ translate.red_1 }}</CRText>

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <img :src="Button.standard" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText2']" :style="{}">
                  <img :src="Button.counter_1" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <img :src="Button.counter_2" :style="{maxWidth:'85pt'}">
                </CRText>
              </div>
            </div>
          </div>

          <div class="row row2 flex flex_just_sa flex_align_center hor" :style="{'zoom': '0.9'}">
            <div class="pack text">
              <div class="text inner_con">
                <pre
                  :style="{
                  'max-width': '260pt',
                  'text-align': 'left',
                  'white-space': 'pre-line'
                }"
                >{{ translate.sen_1 }}</pre>
              </div>
            </div>

            <div class="pack specialpack" :class="[curLan]">
              <div class="graph">
                <CRText :style="{ top: '75%', left: '20%' }">{{ translate.term_0 }}</CRText>
                <CRText :style="{ top: '75%', left: '49%' }">PA66+GF</CRText>
                <CRText :style="{ top: '75%', left: '78%' }">PA66+GF</CRText>
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '10%', left: '55%' }"
                >{{ translate.red_2 }}</CRText>

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <img :src="Button.standard" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText2']" :style="{}">
                  <img :src="Button.counter_1" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <img :src="Button.counter_2" :style="{maxWidth:'85pt'}">
                </CRText>
              </div>
            </div>
          </div>

          <div class="row row3 flex flex_just_sa flex_align_center hor" :style="{'zoom': '0.9'}">
            <div class="pack text">
              <div class="text inner_con">
                <pre
                  :style="{
                  'max-width': '240pt',
                  'text-align': 'left',
                  'white-space': 'pre-line'
                }"
                >{{ translate.sen_2 }}</pre>
              </div>
            </div>

            <div class="pack specialpack" :class="[curLan]">
              <div class="graph">
                <CRText :style="{ top: '75%', left: '20%' }">{{ translate.term_0 }}</CRText>
                <CRText :style="{ top: '75%', left: '49%' }">PA66+GF</CRText>
                <CRText :style="{ top: '75%', left: '78%' }">PA66+GF</CRText>
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '8%', left: '48%' }"
                >{{ translate.red_3 }}</CRText>

                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '16%', left: '75%' }"
                >{{ translate.red_4 }}</CRText>
                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <img :src="Button.standard" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText2']" :style="{}">
                  <img :src="Button.counter_1" :style="{maxWidth:'85pt'}">
                </CRText>

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <img :src="Button.counter_2" :style="{maxWidth:'85pt'}">
                </CRText>
              </div>
            </div>
          </div>
        </div>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'LaserLevel',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'LaserLevel',
    title: 'Laser leveler',
    pImg: { folder: 'sample', name: 'laser', type: 'png' },
    table_data: [['R-830', '8mm', '3mm']]
  }),
  computed: {
    translate: function () {
      return this.State.Page[this.template]
    },
    LaserLevel_retainer_title: function () {
      return this.translate.retainer_title
    },
    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    ProductDotLineBtn,
    CRText
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['retainer'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['retainer'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.row {
  padding-bottom: 20pt;
  &.row1 {
    padding-bottom: 40pt;
  }
}

.pack {
  margin: 0 15pt;
  padding: 15pt 0;
  position: relative;
  &.specialpack {
    padding-bottom: 70pt;
  }
  &.pack1 {
    .img {
      @include bgImg(
        "../../assets/product/etc_egr/table1_standard.png",
        123.48pt,
        268.7955pt
      );
    }
  }
  &.pack2 {
    .img {
      @include bgImg(
        "../../assets/product/etc_egr/table1_counter.png",
        123.48pt,
        268.7955pt
      );
    }
  }
  .coordinate {
    position: absolute;
  }
  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 25.6pt, 40pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }
}

.obj-con {
  //padding-bottom: 40pt;
}

.object {
  position: relative;
  width: 170pt;
  height: 170pt;
  &.object-1 {
    @include bgImg("../../assets/product/laser/standard.png", 170pt, 230pt);
  }
  &.object-2 {
    @include bgImg("../../assets/product/laser/standard_2.png", 170pt, 230pt);
  }
  &.object-3 {
    @include bgImg("../../assets/product/laser/counter.png", 170pt, 230pt);
  }
}

.row {
  .graph {
    @include bgImg(
      "../../assets/product/laser/standard_chart.png",
      144.445143pt,
      280pt
    );
    background-size: 100% 90%;
  }
  &.row3 .graph {
    @include bgImg(
      "../../assets/product/laser/counter_chart.png",
      144.445143pt,
      280pt
    );
  }
  &.row2 .graph {
    @include bgImg(
      "../../assets/product/laser/standard_chart2.png",
      144.445143pt,
      280pt
    );
  }
}

.solText {
  top: 94%;
  &.EN {
  }
  &.solText1 {
    left: 18%;
  }
  &.solText2 {
    left: 48%;
  }
  &.solText3 {
    left: 78%;
  }
}

.pack.text {
  min-height: 80pt;
}
</style>
