<template>
  <div class="page sub-page oa">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['grease']"
        :data="{ title: OA_grease_title, pack:'Grease' }"
        :intro="{ tag: 'Grease', context: translate.grease_intro_context }"
        :con="' pcard01'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'grease'"
      >
        <div class="pack iflex">
          <ProductTable :dataSource="tableData"></ProductTable>
        </div>
        <div class="pack">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <pre
              :style="{
                'max-width': '220pt',
                'text-align': 'left',
                'white-space': 'pre-line'
              }"
            >{{ translate.sen_0 }}</pre>
          </div>
        </div>
        <div class="pack specialpack" :class="[curLan]">
          <div class="graph01">
            <CRText
              :style_val="{ color: '#f00' }"
              :style="{ top: '5%', left: '50%' }"
            >{{ red.inc48 }}</CRText>
            <!-- <CRText :style_val="{color:'#f00'}" :style="{top:'5%',left:'78%'}">{{red.d72}}</CRText> -->
            <!-- <CRText :style="{ top: '63%', left: '20%' }">LY727</CRText>
            <CRText :style="{ top: '63%', left: '78%' }">LY764</CRText>-->
            <CRText :style="{ top: '75%', left: '20%' }">
              <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
            <CRText :style="{ top: '75%', left: '78%' }">
              <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
          </div>
        </div>
      </ProductContentCard>

      <ProductContentCard
        :class="['grease']"
        :data="{ title: OA_grease2_title, pack:'Grease' }"
        :intro="{ tag: 'Grease', context: translate.grease2_intro_context }"
        :con="'hor pcard01'"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'grease'"
      >
        <div class="row flex flex_just_se flex_align_top">
          <div class="pack iflex">
            <ProductTable :dataSource="tableData2"></ProductTable>
          </div>
          <div class="pack iflex">
            <ProductTable :dataSource="tableData3"></ProductTable>
          </div>
        </div>
        <div class="row flex flex_just_se flex_align_top">
          <div class="pack">
            <div class="text inner_con" style="justify-content: flex-start;margin-bottom: 40pt;">
              <img src="@/assets/product/path-2.svg" class="path2">
              <pre
                :style="{
                'max-width': '220pt',
                'text-align': 'left',
                'white-space': 'pre-line'
              }"
              >{{ translate.sen_1 }}</pre>
            </div>
            <div class="result_text" v-for="text in this.translate.sen_2">{{text}}</div>
          </div>
          <div class="pack">
            <div class="result" :class="[curLan]"></div>
          </div>
        </div>

        <!--
            <div class="pack specialpack " :class="[curLan] ">
        </div>-->
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductTable from '@/components/ProductTable.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'OA',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'OA',
    title: 'Office Automation Equipment',
    pImg: {},
    table_data: []
  }),
  computed: {
    tableData: function () {
      const common = this.common
      const tableData = {
        array: [
          {
            double: false,
            value: [common.thickenging_agent, common._cbs, common._cbs]
          },
          {
            double: false,
            value: [common.base_oil, common.synthetic, common.synthetic]
          },
          {
            double: false,
            value: [
              `<p>${common.baseoilviscosity} 40°C (mm<sup>2</sup>/s)</p>`,
              148,
              120
            ]
          },
          {
            double: false,
            value: [`${common.worked_penetration} 60W`, 235, 260]
          },
          {
            double: false,
            value: [common.color, common.black, common.black]
          }
        ],
        order: ['', 'LY727', 'LY764'],
        width: ['120pt', '120pt', '120pt']
      }
      return tableData
    },
    tableData2: function () {
      const common = this.common

      const tableData = {
        array: [
          {
            double: false,
            value: [common.thickenging_agent, common.Lithium_soap, common.urea]
          },
          {
            double: false,
            value: [common.base_oil, common.ester, common.synthetic]
          },
          {
            double: false,
            value: [
              `<p>${common.baseoilviscosity} 40°C (mm<sup>2</sup>/s)</p>`,
              24,
              48
            ]
          },
          {
            double: false,
            value: [`${common.worked_penetration} 60W`, 250, 235]
          },
          {
            double: false,
            value: [common.color, common.light_brown, common.light_brown]
          }
        ],
        order: ['', 'LY121', 'LY551'],
        width: ['120pt', '120pt', '120pt']
      }
      return tableData
    },
    tableData3: function () {
      const common = this.common

      const tableData = {
        array: [
          {
            double: false,
            value: [common.base_oil, common.Mineral_oil, common.synthetic]
          },
          {
            double: false,
            value: [
              `<p>${common.baseoilviscosity} 40°C (mm<sup>2</sup>/s)</p>`,
              4,
              32
            ]
          },
          {
            double: false,
            value: [common.color, common.brown, common.light_brown]
          }
        ],
        order: ['', 'LY460', 'LY650'],
        width: ['120pt', '120pt', '120pt']
      }
      return tableData
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    OA_grease_title: function () {
      return this.translate.grease_title
    },
    OA_grease2_title: function () {
      return this.translate.grease2_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    },
    red: function () {
      let data = {}
      const lan = this.curLan
      if (lan === 'EN') {
        data = {
          inc48: `${this.common.increase} 48%`
        }
      } else if (lan === 'CN') {
        data = {
          inc48: `${this.common.increase} 48%`
        }
      } else if (lan === 'JP') {
        data = {
          inc48: `48% ${this.common.increase}`
        }
      }
      return data
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    ProductTable,
    ProductDotLineBtn
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['grease'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['grease'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
@import "../../scss/common.scss";

.pack {
  &.pack01 {
    padding: 35pt 0;

    &.EN {
      .ring_img_x .coordinate {
      }
    }
  }

  &.specialpack {
    padding-bottom: 80pt;
  }

  padding: 15pt 0;
  position: relative;

  .coordinate {
    position: absolute;
  }

  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }

  .text.inner_con {
    justify-content: center;
    align-items: center;

    pre {
      text-align: left;
    }
  }

  .ring {
    margin: 0 12pt;
    text-align: center;
    align-items: center;

    .imgs {
      margin: 12pt 6pt;
    }

    .ring_img_x {
      position: relative;
    }

    .ring_img4 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/rotary/seal_standard.png",
        130pt,
        100pt
      );
    }

    .ring_img5 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/rotary/seal_counter.png",
        130pt,
        100pt
      );
    }
  }
}

.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img.special {
  width: 360pt;
}

.circle_part {
  @include bgImg(
    "../../assets/product/circle-bg.svg",
    169.408929pt,
    169.408929pt
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19pt;
}

.object_type_0 {
  margin-bottom: 10pt;
  width: 90pt;
  height: 90pt;
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;

  pre {
    text-align: left;
  }
}

.graph01 {
  @include bgImg(
    "../../assets/product/oa/oa_chart.png",
    144.445143pt,
    260.513286pt
  );
}

.pack {
  .result {
    &.EN {
      @include bdImg(
        "../../assets/product/oa/oa_table_en.png",
        218.91264pt,
        360pt
      );
    }

    &.CN {
      @include bdImg(
        "../../assets/product/oa/oa_table.png",
        218.91264pt,
        360pt
      );
    }

    &.JP {
      @include bdImg(
        "../../assets/product/oa/oa_table_jp.png",
        218.91264pt,
        360pt
      );
    }
  }

  .result_text {
    font-weight: 600;
    line-height: 1.5em;
    width: 360pt;
    text-align: left;
    margin-top: 8pt;
    font-size: 15.8pt;
  }
}
</style>
