<template>
  <div class="page sub-page power-tool">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['seal']"
        :data="{ title: PowerTool_seal_title, pack:'Seal' }"
        :intro="{ tag: 'Seal', context: translate.seal_intro_context }"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'seal'"
      >
        <div class="pack iflex">
          <ProductTable :dataSource="tableData" :orderHTML="true"></ProductTable>
        </div>
      </ProductContentCard>

      <ProductContentCard
        :class="['grease', 'multi']"
        :data="[{ title: PowerTool_retainer_title, pack:'Retainer' }, { title: PowerTool_inter_title, pack:'Internal design' }]"
        :intro="{ tag: 'Retainer', context: translate.retainer_intro_context }"
        :con="'space-around'"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="['retainer', 'inter']"
        :multi="true"
      >
        
        <div class="pack iflex hor flex_align_center" :style="{'margin-top': '-50pt'}">
          <ApplicationTable :dataSource="tableData3" :style="{width:'100%'}"></ApplicationTable>
          <div class="con">
            <div class="imgx1"></div>
           
            <div class="imgx2"></div>
          </div>

          <div class="grease-text " :style='{"margin-top":"10pt"}'>Grease</div>
        </div>


        <div class="graph_con">
          <pre :style="{'max-width':'310pt' }">{{translate.sen_0}}</pre>
          <div class="graph graph01"> 
            <!-- <CRText :style="{ top: '100%', left: '20%' }">R-1350ZZMN​</CRText>
            <CRText :style="{ top: '100%', left: '78%' }">R-1350X2ZZMN​</CRText> -->
            <CRText
              :style_val="{ color: '#f00' }"
              :style="{ top: '12%', left: '55%' }"
            >{{ translate.graph_0 }}</CRText>
            <CRText :style="{ top: '100%', left: '20%' }">
              <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
            <CRText :style="{ top: '100%', left: '78%' }">
              <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
          </div>
        </div>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'

import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductTable from '@/components/ProductTable.vue'
import ProductBase from '@/components/products/ProductBase.vue'
import ApplicationTable from '@/components/ApplicationTable.vue'

export default {
  name: 'PowerTool',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'PowerTool',
    title: 'Power tool',
    pImg: { folder: 'sample', name: 'power-tool', type: 'png', size:'huge' },
    table_data: [[608, '22mm', '8mm'],['R-1350', '13mm', '5mm']],
    imgs: {}
  }),

  methods: {},
  computed: {
    getImg: function (f) {
      return {
        table_standard: require('../../assets/product/power/table_standard.png'),
        table_counter_01: require('../../assets/product/power/table_counter_01.png'),
        table_counter_02: require('../../assets/product/power/table_counter_02.png'),
        table_counter_03: require('../../assets/product/power/table_counter_03.png'),
        table_counter_04: require('../../assets/product/power/table_counter_04.png')
      }
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    PowerTool_seal_title: function () {
      return this.translate.seal_title
    },
    PowerTool_retainer_title: function () {
      return this.translate.retainer_title
    },
    PowerTool_inter_title: function () {
      return this.translate.inter_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    },
    tableData3: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
        ],
        order: [
          { name: common.standard_item, style: {} },
          { name: common.solution_item, style: {} }
        ],
        width: ['200pt', '200pt']
      }
      return tableData
    },
    tableData: function () {
      const common = this.common
      const tableData = {
        array: [
          {
            triple: true,
            value: [
              common.Shape,
              `<img src=${this.getImg.table_standard}>`,
              `<img src=${this.getImg.table_counter_01}>`,
              `<img src=${this.getImg.table_counter_02}>`,
              `<img src=${this.getImg.table_counter_03}>`,
              `<img src=${this.getImg.table_counter_04}>`
            ]
          },
          {
            double: false,
            value: [common.Loss_torque, '◯', '☆', '◎', '△', '△'],
            signal: true
          },
          {
            double: false,
            value: [
              common.Dust_protection_performance,
              '◎',
              '△',
              '◯',
              '☆',
              '☆'
            ],
            signal: true
          }
        ],
        order: [
          common.Type,
          common.Rubber_seal_contact.replace('(','<br>(').replace('（','<br>（'),
          common.Rubber_seal_non_contact.replace('(','<br>(').replace('（','<br>（'),
          common.Rubber_seal_light_contact.replace('(','<br>(').replace('（','<br>（'),
          common.Rubber_seal_heavy_contact.replace('(','<br>(').replace('（','<br>（'),
          common.Rubber_seal_2point_contact.replace('(','<br>(').replace('（','<br>（')
        ],
        width: ['123pt', '123pt', '123pt', '123pt', '123pt', '123pt']
      }
      return tableData
    }

    // '◯'
    // '☆'
    // '◎'
    // '△'
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    ProductTable,
    ApplicationTable,
    ProductDotLineBtn
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['special', 'seal' ,'retainer'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['special', 'seal' ,'retainer'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";

.graph {
  @include bgImg("../../assets/product/power/power_chart.png", 164.445143pt, 280.513286pt);
}

.con {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-style: solid;
  border-bottom-color: rgb(191, 191, 191);
  border-bottom-width: 1px;
  padding-bottom: 10pt;
}
.imgx1 {
  position: relative;
  display: inline-block;
  height: 200pt;
  width: 50%;
  background-image: url("../../assets/product/power/r1350zzmn.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // left: -100pt;
  top: 0;
}

.imgx2 {
  position: relative;
  display: inline-block;
  height: 200pt;
  width: 50%;
  background-image: url("../../assets/product/power/r1350-2-zzmn.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // left: -100pt;
  top: 0;
  // margin-left: 35pt;
}

</style>
