<template>
  <div class="page sub-page turbo">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
    
      <ProductContentCard
        :class="['inter']"
        :data="{ title: plg_inter_title, pack:'inter design'}"
        :intro="{
          tag: 'Standard/inter',
          context: translate.inter_intro_context
        }"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'inter'"
      >
        <div class="pack iflex pack02" :class="[curLan]" :style="{'margin-top':'-130pt'}" :folder="true"> 
          <div class="ring iflex hor x1">
            <div class="standard product-type">
              {{ common.standard_item }}
              <br>
              <!-- <span>PA66+GF</span> -->
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img4"></div>
            </div>
            <!-- <span>R-1760 Standard 2</span> -->
          </div>
          <div class="ring iflex hor x3">
            <div class="standard product-type sol">
              {{ common.solution_item }}
              <br>
              <!-- <span>PEEK</span> -->
            </div>
            <div class="imgs flex flex_just_sa flex_align_center">
              <div class="ring_img_x ring_img5"></div>
            </div>
            <!-- <span>R-1760 Special 2</span> -->

          </div>
        </div>
        <div class="pack">
          <div class="text inner_con">
            <img src="@/assets/product/path-2.svg" class="path2">
            <!-- <pre
              :style="{
        'max-width': '150pt',
        'text-align': 'left',
        'white-space': 'pre-line'
      }"
            >{{ translate.sen_0 }}</pre> -->
          </div>
        </div>
        <div class="pack">
          <div class="graph_con">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt','white-space': 'pre-line'}">{{translate.sen_0}}</pre>
            <div class="pack specialpack">
              <div class="graph01">
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '3%', left: '50%' }"
                >{{ translate.red_0 }}</CRText>
                <!-- <CRText
                  :style_val="{ color: '#000' }"
                  :style="{ top: '88%', left: '20%' }"
                >PA66+GF</CRText> -->

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.standard_item"
                    :type="'reg'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>

                <!-- <CRText :style_val="{ color: '#000' }" :style="{ top: '88%', left: '79%' }">PEEK</CRText> -->

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.solution_item"
                    :type="'sol'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>
              </div>
            </div>
          </div>

          <div class="graph_con graph_con_nf">
            <pre :style="{'max-width':'350pt', 'margin-top':'-15pt','padding-bottom': '20pt','white-space': 'pre-line'}">{{translate.sen_1}}</pre>
            <div class="pack specialpack">
              <div class="graph02">
                <CRText
                  :style_val="{ color: '#f00' }"
                  :style="{ top: '3%', left: '50%' }"
                >{{ translate.red_1 }}</CRText>
                <!-- <CRText
                  :style_val="{ color: '#000' }"
                  :style="{ top: '88%', left: '20%' }"
                >R-1760 Standard 2</CRText> -->

                <CRText :class="['solText', curLan, 'solText1']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.standard_item"
                    :type="'reg'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>

                <!-- <CRText
                  :style_val="{ color: '#000' }"
                  :style="{ top: '88%', left: '79%' }">R-1760 Special 2</CRText> -->

                <CRText :class="['solText', curLan, 'solText3']" :style="{}">
                  <ProductDotLineBtn
                    :text="common.solution_item"
                    :type="'sol'"
                    :lan="curLan"
                    :fontSize="'14'"
                  ></ProductDotLineBtn>
                </CRText>
              </div>
            </div>
          </div>
        </div>
                
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
// import DobuleDotLineBtn from '@/components/DobuleDotLineBtn.vue';
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'Power_Lift_Gate',
  props: {},
  extends: ProductBase,

  data: () => ({
    template: 'Power_Lift_Gate', // use for lan and default video name
    title: 'Power Back door',
    info: {
      title: 'test title',
      description: 'test word'
    },
    pImg: { folder: 'sample', name: 'plg', type: 'png' },
    table_data: []
  }),
  computed: {
   
    plg_inter_title: function () {
      return this.translate.inter_title
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    common: function () {
      return this.State.Common
    },
    context_description: function () {
      return this.translate.des
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    // DobuleDotLineBtn,
    ProductDotLineBtn
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['inter'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['inter'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.ring {
  margin: 0 12pt;
  text-align: center;
  align-items: center;
  .imgs {
    margin: 12pt 6pt;
  }
  .ring_img_x {
    position: relative;
  }
  .ring_img4 {
    margin: 0 8pt;
    @include bgImg(
      "../../assets/product/power/R-1760-Standard.png",
      170pt,
      170pt
    );
  }
  .ring_img5 {
    margin: 0 8pt;
    @include bgImg(
      "../../assets/product/power/R-1760-Special.png",
      170pt,
      170pt
    );
  }
}

.img.special {
  width: 360pt;
}


.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;
  pre {
    text-align: left;
  }
}

.graph01 {
  position: relative;
  @include bgImg(
    "../../assets/product/plg/plg_chart01.png",
    144.445143pt,
    260.513286pt
  );
}

.graph02 {
  position: relative;
  @include bgImg(
    "../../assets/product/plg/plg_chart02.png",
    144.445143pt,
    260.513286pt
  );
}


.coordinate.solText {
  position: absolute;
  top: 110%;
  &.solText1 {
    left: 20%;
  }
  &.solText3 {
    left: 78%;
  }
}
.graph_con_nf{
  margin-top:40pt;
}
</style>
