<template>
  <div class="page sub-page radiaator-fan-motor">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['grease']"
        :data="{ title: RadiatorFanMotor_grease_title, pack:'Grease' }"
        :intro="{ tag: 'Grease', context: translate.grease_intro_context }"
        :con="'hor pcard01 flex_just_sa'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'grease'"
      >
        <div class="flex flex_align_center flex_just_sa">
          <div class="pack iflex">
            <ProductTable :dataSource="tableData"></ProductTable>
          </div>
          <div class="pack">
            <div class="text inner_con">
              <img src="@/assets/product/path-2.svg" class="path2">
              
            </div>
          </div>

          <div class="pack">
            <div class="graph_con">
              <pre :style="{'max-width':'360pt', 'margin-top':'-15pt','padding-bottom': '0pt','white-space':'pre-wrap'}">{{translate.sen_0}}</pre>
              <div class="pack specialpack" :class="[curLan]">
                <div class="graph01">
                  <CRText
                    :style_val="{ color: '#f00' }"
                    :style="{ top: '10%', left: '77%' }"
                  >{{ translate.red_0}}</CRText>

                  <CRText :style="{ top: '83%', left: '20%' }">LY706</CRText>
                  <CRText :style="{ top: '83%', left: '78%' }">LY704</CRText>

                  <CRText :style="{ top: '100%', left: '20%' }">
                    <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
                  </CRText>
                  <CRText :style="{ top: '100%', left: '78%' }">
                    <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
                  </CRText>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      </ProductContentCard>

      <ProductContentCard
        :class="['seal']"
        :data="{ title: RadiatorFanMotor_seal_title, pack:'Seal' }"
        :intro="{ tag: 'Seal', context: translate.seal_intro_context }"
        :con="'space-around'"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'seal'"
      >
        <div class="circle circle_1" :style="{ }">
          <div class="circle_part">
            <div class="inner_con hor">
              <img src="@/assets/product/radiator/seal_standard.png" class="object_type_0">
              NBR
            </div>
          </div>
          <div class="standard product-type">{{ common.standard_item }}</div>
        </div>

        <div class="circle circle_2" :style="{ }">
          <div class="circle_part">
            <div class="inner_con hor">
              <img src="@/assets/product/radiator/seal_counter.png" class="object_type_0">
              H-NBR
            </div>
          </div>
          <div class="sol product-type">{{ common.solution_item }}</div>
        </div>

        <div class="text inner_con">
          <img src="@/assets/product/path-2.svg" class="path2">
         
        </div>
        <div class="graph_con">
          <pre :style="{'max-width':'340pt','white-space':'pre-wrap' }">{{translate.sen_1}}</pre>

          <div class="graph02">
            <CRText :style="{ top: '90%', left: '20%' }">NBR</CRText>
            <CRText :style="{ top: '90%', left: '78%' }">H-NBR</CRText>
            <CRText
              :style_val="{ color: '#f00' }"
              :style="{ top: '15%', left: '48%' }"
            >{{ translate.red_1 }}</CRText>
            <CRText :style="{ top: '115%', left: '20%' }">
              <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
            <CRText :style="{ top: '115%', left: '78%' }">
              <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
              
            </CRText>
          </div>
        </div>
        
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductTable from '@/components/ProductTable.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'RadiatorFanMotor',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'RadiatorFanMotor',
    title: 'Radiator Fan motor',
    pImg: { folder: 'radiator', name: 'product', type: 'png' },
    table_data: [[608, '22mm', '8mm']]
  }),
  computed: {
    tableData: function () {
      const common = this.common
      const tableData = {
        array: [
          {
            double: false,
            value: [common.thickenging_agent, common.urea, common.PTFE_urea]
          },
          {
            double: false,
            value: [common.base_oil, common.ester, common.fluorine_ester]
          },
          {
            double: false,
            value: [
              `<p>${common.baseoilviscosity} 100°C (mm<sup>2</sup>/s)</p>`,
              11,
              20
            ]
          },
          {
            double: false,
            value: [`${common.worked_penetration} 60W`, 263, 280]
          },
          {
            double: false,
            value: [common.color, common.light_brown, common.light_brown]
          }
        ],
        order: ['', 'LY706', 'LY704'],
        width: ['110pt', '100pt', '100pt']
      }
      return tableData
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    RadiatorFanMotor_grease_title: function () {
      return this.translate.grease_title
    },
    RadiatorFanMotor_seal_title: function () {
      return this.translate.seal_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    },
    red: function () {
      let data = {}
      const lan = this.curLan
      if (lan === 'EN') {
        data = {
          d22: `${this.common.decrease} 22%`,
          d35: `${this.common.decrease} 35%`,
          d72: `${this.common.decrease} 72%`
        }
      } else if (lan === 'CN') {
        data = {
          d22: `${this.common.decrease} 22%`,
          d35: `${this.common.decrease} 35%`,
          d72: `${this.common.decrease} 72%`
        }
      } else if (lan === 'JP') {
        data = {
          d22: `22% ${this.common.decrease}`,
          d35: `35% ${this.common.decrease}`,
          d72: `72% ${this.common.decrease}`
        }
      }
      return data
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    ProductTable,
    ProductDotLineBtn
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['seal', 'grease'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['seal', 'grease'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.pack {
  &.pack01 {
    padding: 35pt 0;
    &.EN {
      .ring_img_x .coordinate {
      }
    }
  }
  &.specialpack {
    padding-bottom: 30pt;
  }
  padding: 15pt 0;
  position: relative;
  .coordinate {
    position: absolute;
  }
  .path2 {
    @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
    margin-right: 5pt;
  }
  .text.inner_con {
    justify-content: center;
    align-items: center;
    pre {
      text-align: left;
    }
  }
  .ring {
    margin: 0 12pt;
    text-align: center;
    align-items: center;
    .imgs {
      margin: 12pt 6pt;
    }
    .ring_img_x {
      position: relative;
    }
    .ring_img4 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/rotary/seal_standard.png",
        130pt,
        100pt
      );
    }
    .ring_img5 {
      margin: 0 8pt;
      @include bgImg(
        "../../assets/product/rotary/seal_counter.png",
        130pt,
        100pt
      );
    }
  }
}

.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img.special {
  width: 360pt;
}

.circle_part {
  @include bgImg(
    "../../assets/product/circle-bg.svg",
    169.408929pt,
    169.408929pt
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 19pt;
}

.object_type_0 {
  margin-bottom: 10pt;
  width: 100pt;
  height: 100pt;
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;
  pre {
    text-align: left;
  }
}

.graph01 {
  @include bgImg(
    "../../assets/product/radiator/grease_chart.png",
    144.445143pt,
    260.513286pt
  );
}

.graph02 {
  @include bgImg(
    "../../assets/product/radiator/seal_chart.png",
    144.445143pt,
    260.513286pt
  );
}
</style>
