<template>
  <div class="page sub-page turbo">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['retainer', 'multi']"
        :data="[{ title: turbo_retainer_title, pack:'Retainer' }, { title: turbo_retainer_title, pack:'Internal design' }]"
        :intro="{ tag: 'Retainer', context: translate.retainer_intro_context }"
        :con="'space-around'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="['retainer', 'inter']"
        :multi="true"
      >

        <!-- :multi="true" -->
        <div class="circle circle_1" :style="{ }">
          <div class="circle_part">
            <div class="inner_con">{{ common.Oil_retaining_bearing }}</div>
          </div>
          <div class="standard product-type">{{ common.standard_item }}</div>
        </div>

        <div class="circle circle_2" :style="{ }">
          <div class="circle_part">
            <div class="inner_con hor">
              <img src="@/assets/product/bitmap@3x.png" class="bearing">
              {{ common.ball_bearing }}
            </div>
          </div>
          <div class="sol product-type">{{ common.solution_item }}</div>
        </div>

        <div class="text inner_con">
          <img src="@/assets/product/path-2.svg" class="path2">
          
        </div>
        <div class="graph_con">
          <pre :style="{'max-width':'310pt' }">{{translate.sen_0}}</pre>
          <div class="graph">
            
            <CRText :style="{ top: '100%', left: '20%' }">{{ common.Oil_retaining_bearing }}</CRText>
            <CRText :style="{ top: '100%', left: '78%' }">{{ common.ball_bearing }}</CRText>
            <CRText
              :style_val="{ color: '#f00' }"
              :style="{ top: '12%', left: '55%' }"
            >{{ translate.graph_0 }}</CRText>
            <CRText :style="{ top: '120%', left: '20%' }">
              <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
            <CRText :style="{ top: '120%', left: '78%' }">
              <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
            </CRText>
          </div>
        </div>
        
      </ProductContentCard>

      <ProductContentCard
        :class="['special']"
        :data="{ title: turbo_special_title, pack:'Special design'}"
        :intro="{
          tag: 'Standard/Special',
          context: translate.special_intro_context
        }"
        :folder="this.curFolder===1"
        :folderNumber="1"
        :type="'special'"
      >
        <div class="standard product-type">{{ common.standard_item }}</div>
        <div class="img special"></div>
        <div class="sol product-type">{{ common.solution_item }}</div>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
// import DobuleDotLineBtn from '@/components/DobuleDotLineBtn.vue';
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'Turbo',
  props: {},
  extends: ProductBase,

  data: () => ({
    template: 'Turbo', // use for lan and default video name
    title: 'DisplayTitle',
    info: {
      title: 'test title',
      description: 'test word'
    },
    pImg: { folder: 'turbo', name: 'product', type: 'png' },
    table_data: []
  }),
  computed: {
    turbo_retainer_title: function () {
      return this.translate.retainer_title
    },
    turbo_special_title: function () {
      return this.translate.special_title
    },
    translate: function () {
      return this.State.Page[this.template]
    },
    common: function () {
      return this.State.Common
    },
    context_description: function () {
      return this.translate.des
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    CRText,
    // DobuleDotLineBtn,
    ProductDotLineBtn
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['special', 'retainer'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['special', 'retainer'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.img {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img.special {
  //width: 360pt;
  @include bgImg("../../assets/product/turbo/special_design.png", 200pt, 600pt);
}

.circle_part {
  @include bgImg(
    "../../assets/product/circle-bg.svg",
    169.408929pt,
    169.408929pt
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10pt;
}

.bearing {
  margin-bottom: 10pt;
  width: 93pt;
  height: 70pt;
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.text.inner_con {
  justify-content: center;
  align-items: center;
  pre {
    text-align: left;
  }
}

.graph {
  @include bgImg("../../assets/product/page-1.svg", 164.445143pt, 280.513286pt);
}
</style>
