<template>
  <div class="page sub-page wiper-motor">
    <ProductHeader
      :description="context_description"
      :title="title"
      :pImg="pImg"
      :table_data="table_data"
    ></ProductHeader>
    <div class="context">
      <ProductContentCard
        :class="['inter']"
        :data="{ title: wiper_moter_inter_title, pack:'Internal design' }"
        :intro="{
          tag: 'Internal Design',
          context: translate.inter_intro_context
        }"
        :con="'space-around'"
        :folder="this.curFolder===0"
        :folderNumber="0"
        :type="'inter'"
      >
        <div class="double-circle">
          <div class="object-1"></div>
          <div class="object-2"></div>
          <CRText
            :style="{ position: 'absolute', top: '-75%', left: '22.5%'}"
            :style_val="{fontSize: '12.6492pt', color: '#818caa'}"
          >{{ common.standard_item }}</CRText>
          <CRText
            :style="{ position: 'absolute', top: '-75%', left: '76.5%'}"
            :style_val="{fontSize: '12.6492pt', color: '#004ea8'}"
          >{{ common.solution_item }}</CRText>
        </div>
        <div class="mid">
          <CRText
            :style_val="{ color: '#000' }"
            :style="{ top: '5%', left: '86%' }"
          >{{ translate.touch }}</CRText>

          <CRText
            :style_val="{ color: '#000' }"
            :style="{ top: '95%', left: '5%' }"
          >{{ translate.touch }}</CRText>
        </div>
        <div class="text inner_con">
          <img src="@/assets/product/path-2.svg" class="path2">
        </div>
        <div class="graph">
          <CRText
            :style_val="{ color: '#f00' }"
            :style="{ top: '8%', left: '79%' }"
          >{{ translate.increase }}</CRText>
          <CRText :style="{ top: '107%', left: '19%' }">
            <ProductDotLineBtn :text="common.standard_item" :type="'reg'" :lan="curLan"></ProductDotLineBtn>
          </CRText>
          <CRText :style="{ top: '107%', left: '78%' }">
            <ProductDotLineBtn :text="common.solution_item" :type="'sol'" :lan="curLan"></ProductDotLineBtn>
            <!-- <DobuleDotLineBtn
                :text="common.solution_item"
                :style_val="{width:'84.328pt', height:'38.399357pt'}"
            ></DobuleDotLineBtn>-->
          </CRText>
          <pre class="tip" style>{{translate.sen_0}}</pre>
        </div>
      </ProductContentCard>
    </div>
  </div>
</template>

<script>
import ProductHeader from '@/components/ProductHeader.vue'
import ProductContentCard from '@/components/ProductContentCard.vue'
import CRText from '@/components/CRText.vue'
import ProductDotLineBtn from '@/components/ProductDotLineBtn.vue'
import ProductBase from '@/components/products/ProductBase.vue'

export default {
  name: 'WiperMoter',
  props: {},
  extends: ProductBase,
  data: () => ({
    template: 'WiperMotor',
    title: 'Wiper motor',
    pImg: { folder: 'wiper', name: 'product', type: 'png' },
    table_data: [[608, '22mm', '8mm']]
  }),
  computed: {
    translate: function () {
      return this.State.Page[this.template]
    },
    wiper_moter_inter_title: function () {
      return this.translate.inter_title
    },

    context_description: function () {
      return this.translate.des
    },
    common: function () {
      return this.State.Common
    }
  },
  components: {
    ProductHeader,
    ProductContentCard,
    ProductDotLineBtn,
    CRText
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['inter'])
    this.$store.dispatch('videoSrc', this.template)
  },

  mounted: function () {
    this.$store.dispatch('serialsContext', ['inter'])
    this.$store.dispatch('videoSrc', this.template)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../scss/common.scss";
.double-circle {
  @include bgImg(
    "../../assets/product/wiper/compare.png",
    129.503714pt,
    270.301358pt
  );
  margin-top: 100pt;
  position: relative;
}

.object-1 {
  @include bgImg(
    "../../assets/product/wiper/standard.png",
    60.234286pt,
    60.234286pt
  );
  position: absolute;
  top: -60%;
  left: 11.5%;
}

.object-2 {
  @include bgImg(
    "../../assets/product/wiper/counter.png",
    60.234286pt,
    60.234286pt
  );
  position: absolute;
  top: -60%;
  left: 65.5%;
}

.product-type {
  position: absolute;
  top: -75%;
  left: 15.5%;
  &.sol {
    left: 68.5%;
  }
}

.path2 {
  @include bgImg("../../assets/product/path-2.svg", 12.8pt, 19.576143pt);
  margin-right: 5pt;
}

.tip {
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: left;
  top: -28%;
  left: 0;
  font-size: 14.8pt;
}
.graph {
  position: relative;
  @include bgImg(
    "../../assets/product/wiper/chart.png",
    144.445143pt,
    260.513286pt
  );
}

.mid {
  @include bgImg("../../assets/product/wiper/wiper_function.png", 250pt, 250pt);
}
</style>
