<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
        <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans+SC"
            rel="stylesheet"
        />

        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
        <title>minebeamitsumi_fe</title>
        <script>
            document.addEventListener(
                'touchstart',
                event => {
                    if (event.touches.length > 1) {
                        event.preventDefault()
                    }
                },
                { passive: false }
            )

            let lastTouchEnd = 0
            document.addEventListener(
                'touchend',
                event => {
                    const now = new Date().getTime()
                    if (now - lastTouchEnd <= 300) {
                        event.preventDefault()
                    }
                    lastTouchEnd = now
                },
                false
            )
            function init() {
                // document.body.parentElement.requestFullscreen();
                document.body.addEventListener(
                    'touchstart',
                    event => {
                        // event.preventDefault();
                    },
                    { passive: false }
                )
            }
        </script>
    </head>

    <body onload="init();">
        <noscript>
            <strong
                >We're sorry but minebeamitsumi_fe doesn't work properly without
                JavaScript enabled. Please enable it to continue.</strong
            >
        </noscript>
        <div id="bg"></div>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
