<template>
  <div></div>
</template>
<script>
export default {
  name: "ApplicationBase",
  computed: {
    curFolder: function() {
      return this.State.folderNumber;
    }
  },
  data: () => ({ context_ele: null }),
  methods: {
    scrollBarWheel: function(evnet) {
      // event.target.scrollLeft += event.deltaY*10;
      const condition = function(e) {
        return e.classList.contains("application-context");
      };
      let target = this.findAncient(event.target, condition);
      if (target && target === this.context_ele) {
        target.scrollLeft += event.deltaY * 2;
      }
    },
    findAncient: function(e, call) {
      if (!e) return false;
      if (call(e)) return e;
      else {
        return this.findAncient(e.parentElement, call);
      }
    }
  },
  mounted: function() {
    this.setlineMode(true);
    // console.log('mounte appliation base component')
  },
  beforeUpdate: function() {
    this.setlineMode(true);
    // console.log('mounte appliation base component')
  }
};
</script>
