
<template>
  <div class="page sub-page grease" :class="[curLan]">
    <ApplicationHeader :description="translate.des[app_mark]" :title="title" :no_video="true"></ApplicationHeader>
    <div
      class="context application-context"
      v-on:wheel="scrollBarWheel($event)"
      style="margin-top:50pt"
    >
      <AppPageCard
        :data="{
          number: 1,
          title: this.local.sen_0,
          description: ''
        }"
        :style="{ minWidth: '540pt',maxWidth: '700pt',marginRight:'10pt',height:'430pt'}"
      >
        <ApplicationTable :dataSource="tableData"></ApplicationTable>
        <ApplicationTable :dataSource="tableData_append" style="marginTop:0"></ApplicationTable>
      </AppPageCard>
      <AppPageCard
        :data="{
          number: 2,
          title: this.common.for_car,
          description: ''
        }"
        :style="{ minWidth: '1300pt',maxWidth: '1300pt', marginRight:'10pt'}"
      >
        <ApplicationTable :dataSource="tableData2"></ApplicationTable>
      </AppPageCard>
      <AppPageCard
        :data="{
          number: 3,
          title: this.common.for_ng,
          description: ''
        }"
        :style="{ minWidth: '1460pt',maxWidth: '1460pt', marginRight:'10pt'}"
      >
        <ApplicationTable :dataSource="tableData3"></ApplicationTable>
      </AppPageCard>
      <div class="column-entry" style="padding-right:30pt;">
        <AppPageCard
          :data="{
          number: 4,
          title: this.local.term_43,
          description: ''

        }"
          :style="{ minWidth: '750pt',maxWidth: '750pt',height:'430pt'}"
        >
          <ApplicationTable :dataSource="tableData4"></ApplicationTable>
        </AppPageCard>
      </div>
      <!-- <div class="column-entry smalltext" style="height:100%;padding-right:30pt;"></div> -->
    </div>
  </div>
</template>

<script>
import ApplicationHeader from '@/components/ApplicationHeader.vue'
import AppPageCard from '@/components/AppPageCard.vue'
import ApplicationTable from '@/components/ApplicationTable.vue'
import CRText from '@/components/CRText.vue'
import ApplicationBase from '@/components/application/ApplicationBase.vue'
// import ApplicationContentCard from "@/components/ApplicationContentCard.vue";
export default {
  mixins: [ApplicationBase],
  name: 'Grease',
  props: {},
  data: () => ({
    context_ele: null,
    isDev: false,
    app_mark: 'grease',
    template: 'Grease',
    title: 'Grease'
  }),
  computed: {
    getImg: function (f) {
      let _view_01 = ''
      if (this.curLan === 'EN') {
        _view_01 = require('../../assets/app/grease/grease_en.png')
      } else if (this.curLan === 'CN') {
        _view_01 = require('../../assets/app/grease/grease_cn.png')
      } else if (this.curLan === 'JP') {
        _view_01 = require('../../assets/app/grease/grease_jp.png')
      }
      return {
        view_01: _view_01
      }
    },
    tableData4: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          {
            value: [
              `<div class="full-grid flex hor" style="background-color:#7994cc;color:#fff;border-radius:2pt;">
              <div class="title half-grid">${local.term_44}</div>
              <div class="_context half-grid just-se">
                <div class="entry ">${local.term_47}</div>
                <div class="entry ">${local.term_48}</div>
              </div>
              </div>`,
              `<div class="full-grid flex hor" style="background-color:#73bd61;color:#fff;border-radius:2pt;">
              <div class="title half-grid">${local.term_45}</div>
              <div class="_context half-grid just-se">
                <div class="entry ">${local.term_49}</div>
                <div class="entry ">${local.term_50}</div>
              </div>
              </div>`,
              `<div class="full-grid flex hor" style="background-color:#014fa2;color:#fff;border-radius:2pt;">
              <div class="title grid">${local.term_46}</div>

              </div>`
            ]
          },
          {
            value: [
              `<div class="flex  just-se" style="justify-content: space-evenly; width: 100%; position: relative;">

                <div class="entry " style="width:50%;">${local.term_51}
              <p style="margin:0;font-size:9pt;color:#777;margin-top:5pt;">※${
  local.term_52
}</p></div>
                <div class="entry " style="width:50%;">${local.term_53}</div>
              </div>
              </div>`,
              `<div class="flex  just-se column" style="justify-content: space-evenly; width: 100%; position: relative;">

                <div class="entry  " style="width:50%;">${local.term_54}</div>
                <div class="entry  " style="width:50%;">${local.term_55}</div>
              </div>
              </div>`,
              `<div class="flex " style="">

                <div class="entry ">${local.term_56}</div>
              </div>
              </div>`
            ],
            flex_se: true,
            no_First: true
          }
        ],

        order: [],
        width: ['270pt', '270pt', '140pt'],
        height: ['50pt', '120pt']
      }
      return tableData
    },
    tableData3: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          {
            value: [
              `<div class="full-grid ">${local.term_17}</div>`,
              `<div class="full-grid r1">LY72</div>`,
              `<div class="full-grid r1">LY121</div>`,
              `<div class="full-grid r1">LY552</div>`,
              `<div class="full-grid r1">LY737</div>`,
              `<div class="full-grid r2">LY551</div>`,
              `<div class="full-grid r2">LY695</div>`,
              `<div class="full-grid r2">LY735</div>`,
              
              `<div class="full-grid r2">LY740</div>`,
              `<div class="full-grid ">LY764</div>`
            ]
          },
          {
            value: [
              local.term_06,
              local.term_07,
              local.term_07,
              local.term_07,

              local.term_58,

              local.term_08,
              local.term_08,
              local.term_08,
              
              local.term_08,
              local.term_23
            ]
          },
          {
            value: [
              local.term_11,
              local.term_12,
              local.term_12,
              local.term_57,

              local.term_25_1,

              local.term_25,
              local.term_25,
              local.term_25,
              
              local.term_25,
              local.term_25
            ]
          },
          {
            value: [
              `<p>${local.term_18_1} (mm<sup>2</sup>/s)</p>`,
              16,
              24,
              53,

              144,

              48,
              60,
              100,
              
              95,
              120
            ]
          },
          {
            value: [local.term_19, 275, 250, 263, 327, 235, 235, 210, 194, 260]
          },
          {
            value: [
              local.term_26,
              local.term_27,
              local.term_27,
              local.term_27,

              local.term_59,

              local.term_27,
              local.term_28,
              local.term_29,
              
              local.term_30,
              local.term_31
            ]
          },
          {
            value: [
              local.term_32,
              local.term_33,
              local.term_34,
              local.term_35,

              local.term_60,

              local.term_36,
              local.term_37,
              local.term_38,
              
              local.term_39,
              local.term_40
            ]
          } // ☆△×盖○◎○
        ],
        // order: [
        //   { name: common.Type, style: {} },
        //   { name: local.term_01, style: {} },
        //   { name: local.term_06, style: {} },
        //   { name: local.term_15, style: {} },
        //   { name: local.term_16, style: {} }
        // ],
        order: [],
        width: [
          '150pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt'
        ],
        height: ['50pt', '50pt', '50pt', '50pt', '50pt', '50pt', '50pt']
      }
      return tableData
    },
    tableData2: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          {
            value: [
              `<div class="full-grid ">${local.term_17}</div>`,
              `<div class="full-grid r1">LY121</div>`,
              `<div class="full-grid r2">LY706</div>`,
              `<div class="full-grid r3">LY704</div>`,
              `<div class="full-grid r3">LY754</div>`,
              `<div class="full-grid r3">LY762</div>`,
              `<div class="full-grid r4">LY500</div>`,
              `<div class="full-grid r4">LY677</div>`,
              `<div class="full-grid r4">LY699</div>`
            ]
          },
          {
            value: [
              local.term_06,
              local.term_07,
              local.term_08,
              local.term_09,
              local.term_09,
              local.term_09,
              local.term_10,
              local.term_10,
              local.term_10
            ]
          },
          {
            value: [
              local.term_11,
              local.term_12,
              local.term_12,
              local.term_24,
              local.term_13,
              local.term_13,
              local.term_14,
              local.term_14,
              local.term_14
            ]
          },
          {
            value: [
              `<p>${local.term_18} (mm<sup>2</sup>/s)</p>`,
              5,
              11,
              20,
              17,
              22,
              34,
              45,
              22
            ]
          },
          {
            value: [local.term_19, 250, 263, 280, 285, 285, 280, 277, 280]
          },
          {
            value: [local.term_20, '○', '△', '△', '◎', '○', '△', '○', '◎'],
            signal: true
          },
          {
            value: [
              `<div>${
                local.term_21
              }<p style="margin:0;font-size:9pt;color:#777">※${
                local.term_22
              }:608<br>3000rpm. FA=39N</p></div>`,
              '160°C 800H',
              '160°C 1500H',
              '160°C 3000H',
              '180°C 3500H',
              '180°C 2500H',
              '180°C 2000H',
              '180°C 500H',
              '180°C 1500H'
            ]
          } // ☆△×盖○◎○
        ],
        // order: [
        //   { name: common.Type, style: {} },
        //   { name: local.term_01, style: {} },
        //   { name: local.term_06, style: {} },
        //   { name: local.term_15, style: {} },
        //   { name: local.term_16, style: {} }
        // ],
        order: [],
        width: [
          '150pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt',
          '140pt'
        ],
        height: ['50pt', '50pt', '50pt', '50pt', '50pt', '50pt', '50pt']
      }
      return tableData
    },
    tableData_append: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              `<p>${local.term_41}<br><span class="sub">${
                local.term_42
              }</span></p>`,
              `<img src="${this.getImg.view_01}" style="width:100%">`
            ]
          }
        ],

        order: [],
        width: ['100pt', '360pt'],
        height: ['90pt']
      }
      return tableData
    },

    tableData: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              `<div class="full-grid ">${local.term_01}</div>`,
              `<div class="full-grid r1">${local.term_02}</div>`,
              `<div class="full-grid r2">${local.term_03}</div>`,
              `<div class="full-grid r3">${local.term_04}</div>`,
              `<div class="full-grid r4">${local.term_05}</div>`
            ]
          },
          {
            value: [
              local.term_06,
              local.term_07,
              local.term_08,
              local.term_09,
              local.term_10
            ]
          },
          {
            value: [
              local.term_11,
              local.term_12,
              local.term_12,
              local.term_13,
              local.term_14
            ]
          },
          {
            value: [local.term_15, '◎', '○', '△', '△'],
            signal: true
          },
          {
            value: [local.term_16, '△', '○', '◎', '☆'],
            signal: true
          }
        ],

        order: [],
        width: ['100pt', '98pt', '98pt', '98pt', '98pt'],
        height: ['50pt', '50pt', '50pt', '50pt', '50pt']
      }
      return tableData
    },

    translate: function () {
      return this.State.APPs
    },
    common: function () {
      return this.State.Common
    },
    local: function () {
      return this.State[this.template]
    }
  },
  methods: {},
  components: {
    ApplicationHeader,
    AppPageCard,
    ApplicationTable,
    CRText
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['grease'])
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  },

  mounted: function () {
    this.context_ele = Array.prototype.slice
      .call(this.$el.children)
      .filter(n => n.classList.contains('application-context'))[0]
    this.$store.dispatch('serialsContext', ['grease'])
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  },
  updated: function () {
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
.grid.flex.value {
  .full-grid {
    color: rgb(1, 78, 168);
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 5pt;
      bottom: 0;
      left: 0;
      background-color: transparent;
    }

    &.r1::after {
      background-color: #fef88c;
    }
    &.r2::after {
      background-color: #fed94e;
    }
    &.r3::after {
      background-color: #ffb436;
    }
    &.r4::after {
      background-color: #d44149;
    }
  }
}

.smalltext {
  .table .row:not(.top) .grid {
    font-size: 10pt;
  }
}
.sub {
  font-size: 10pt;
}
</style>
