
<template>
  <div class="page sub-page inter">
    <ApplicationHeader :description="translate.des[app_mark]" :title="title"></ApplicationHeader>
    <div class="context application-context" v-on:wheel="scrollBarWheel($event)">
      <AppPageCard
        :data="{
          number: 1,
          title: this.local.sen_2,
          description:  'ex. 608 for Wiper motor'//this.local.sen_3
        }"
        :style="{ minWidth: '970pt',maxWidth: '970pt',height:'100%', marginRight:'10pt'}"
      >
        <ApplicationTable :dataSource="tableData4" :noFirst="true"></ApplicationTable>
      </AppPageCard>
      <div class="column-entry" style="height:100%;padding-right:30pt;">
        <AppPageCard
          :data="{
          number: 2,
          title: this.local.sen_0,
          description:  'ex. 608 for Air cleaner motor'//this.local.sen_1
        }"
          :style="{ minWidth: '1000pt',maxWidth: '1000pt',height:'100%', paddingRight:'40pt'}"
        >
          <ApplicationTable :dataSource="tableData5"></ApplicationTable>
        </AppPageCard>
      </div>
    </div>
  </div>
</template>

<script>
import ApplicationHeader from '@/components/ApplicationHeader.vue'
import AppPageCard from '@/components/AppPageCard.vue'
import ApplicationTable from '@/components/ApplicationTable.vue'
import CRText from '@/components/CRText.vue'
import ApplicationBase from '@/components/application/ApplicationBase.vue'

// import ApplicationContentCard from "@/components/ApplicationContentCard.vue";
export default {
  mixins: [ApplicationBase],

  name: 'Internal_Design',
  props: {},
  data: () => ({
    context_ele: null,
    isDev: false,
    app_mark: 'inter',
    template: 'Internal_Design',
    title: 'Internal Design'
  }),
  computed: {
    getImg: function (f) {
      return {
        // shape
        graph_00: require('../../assets/app/inter/table1_1.png'),
        graph_01: require('../../assets/app/inter/table1_2.png'),
        graph_02: require('../../assets/app/inter/table1_3.png'),
        graph_03: require('../../assets/app/inter/table2_1.png'),
        graph_04: require('../../assets/app/inter/table2_2.png')
      }
    },
    tableData5: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              '',
              `<div style="width:100%;height:100%;background-image:url('${
                this.getImg.graph_03
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              // `<img src="${this.getImg.graph_03}"/>`,
              `<div style="width:100%;height:100%;background-image:url('${
                this.getImg.graph_04
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`
            ]
          },
          { value: [local.rf, translate.common.standard, local.sub] },
          { value: [local.n_o, translate.common.standard, local.add] },
          {
            value: [
              `<div>${
                local.ball_force
              }<p style="margin:0;font-size:9pt;color:#777">※${
                translate.common.standard_limit100
              }</p></div>`,

              100,
              47
            ]
          },
          {
            value: [
              `<div>${
                local.loss
              }<p style="margin:0;font-size:9pt;color:#777">※${
                translate.common.standard_limit100
              }</p></div>`,
              100,
              59
            ]
          }
        ],
        order: [
          '',
          { name: common.standard_item, style: {} },
          { name: common.solution_item, style: {} }
        ],
        width: ['300pt', '300pt', '300pt'],
        height: ['200pt', '50pt', '50pt', '50pt', '50pt']
      }
      return tableData
    },
    tableData4: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              `<div style="width:100%;height:100%;background-image:url('${
                this.getImg.graph_00
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:100%;height:100%;background-image:url('${
                this.getImg.graph_01
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:100%;height:100%;background-image:url('${
                this.getImg.graph_02
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`
            ]
          },

          { value: [local.sen_4, translate.common.standard, local.add] },
          { value: [local.sen_5, translate.common.standard, local.sub] },
          {
            value: [
              `<div>${
                local.sen_6
              }<p style="margin:0;font-size:9pt;color:#777">※${
                translate.common.standard_limit100
              }</p></div>`,
              100,
              312
            ]
          }
        ],
        order: [
          '',
          { name: common.standard_item, style: {} },
          { name: common.solution_item, style: {} }
        ],
        width: ['300pt', '300pt', '300pt'],
        height: ['200pt', '50pt', '50pt', '50pt']
      }
      return tableData
    },

    translate: function () {
      return this.State.APPs
    },
    common: function () {
      return this.State.Common
    },
    local: function () {
      return this.State.Inter
    }
  },
  methods: {},
  components: {
    ApplicationHeader,
    AppPageCard,
    ApplicationTable,
    CRText
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['inter'])
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  },

  mounted: function () {
    this.context_ele = Array.prototype.slice
      .call(this.$el.children)
      .filter(n => n.classList.contains('application-context'))[0]
    this.$store.dispatch('serialsContext', ['inter'])
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  },
  updated: function () {
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
