
<template>
  <div class="page sub-page retainer">
    <ApplicationHeader :description="translate.des[app_mark]" :title="title"></ApplicationHeader>
    <div class="context application-context" v-on:wheel="scrollBarWheel($event)">
      <AppPageCard
        :data="{
          number: 1,
          title: this.translate.common.Type,
          description: ''
        }"
        :style="{ minWidth: '1000pt',maxWidth: '1000pt',height:'100%', marginRight:'10pt'}"
      >
        <ApplicationTable :dataSource="tableData"></ApplicationTable>
      </AppPageCard>
      <AppPageCard
        :data="{
          number: 2,
          title: this.local.sen_0,
          description:  this.local.sen_1
        }"
        :style="{ minWidth: '900pt',maxWidth: '900pt', marginRight:'10pt' ,height:'100%'}"
      >
        <div class="container flex" :style="{'justify-content': 'space-around'}">
          <div class="text-area" :style="{width:'250pt', textAlign: 'left'}">
            <h2>{{local.sen_2}}</h2>
            <br>
            <p class="sub">※{{local.sen_3}}</p>
            <br>
            <p>{{local.sen_4}}</p>
            <p>{{local.sen_5}} : 4200rpm</p>
            <p>{{local.sen_6}} : -40°C Fa=70N</p>
          </div>
          <ApplicationTable :dataSource="tableData2" :style="{width:'650pt'}"></ApplicationTable>
        </div>
      </AppPageCard>
      <div class="column-entry" style="padding-right:30pt;height:100%;">
        <AppPageCard
          :data="{
          number: 2,
          title: this.local.sen_8,
          description:  this.local.sen_9
        }"
          :style="{ minWidth: '700pt',maxWidth: '700pt', marginBottom:'12pt',height:'270pt', paddingBottom:'0'}"
          :class="['en-title-30']"
        >
          <div
            class="container flex"
            :style="{'justify-content': 'space-around','flex-direction':'column'}"
          >
            <ApplicationTable :dataSource="tableData3" :style="{width:'100%'}"></ApplicationTable>
            <div class="con">
              <div class="imgx1"></div>
              <div
                class="graph bg-entry"
                style="width:60%; height:100pt;"
                :style="{backgroundImage:'url('+this.getImg.graph_11+')'}"
              >
                <!-- <div class="p1 abs">{{this.local.sen_7}}</div>
                <div class="p2 abs">{{this.local.sen_7}}</div>
                <div class="p3 abs">{{this.local.sen_7}}</div>
                <div class="p4 abs">{{this.local.sen_7}}</div> -->
              </div>
              <div class="imgx2"></div>
              
            </div>
            <div class="grease-text " :style="{'margin-top':'0pt'}">Grease</div>
          </div>
        </AppPageCard>

        <AppPageCard
          :data="{
          number: 2,
          title:  this.local.sen_10,
          description:  this.local.sen_11,
        }"
          :style="{ minWidth: '700pt',maxWidth: '700pt'}"
        >
          <div
            class="container flex"
            :style="{'justify-content': 'space-around',marginTop: '-5pt'}"
          >
            <img
              class="img-temperature"
              src="@/assets/app/retainer/04_product.png"
              width="120pt"
              height="110pt"
            >
            <ApplicationTable :dataSource="tableData4" :style="{width:'80%'}"></ApplicationTable>
          </div>
          <p>{{ this.local.sen_12}}</p>
        </AppPageCard>
      </div>
    </div>
  </div>
</template>

<script>
import ApplicationHeader from '@/components/ApplicationHeader.vue'
import AppPageCard from '@/components/AppPageCard.vue'
import ApplicationTable from '@/components/ApplicationTable.vue'
import CRText from '@/components/CRText.vue'
import ApplicationBase from '@/components/application/ApplicationBase.vue'

// import ApplicationContentCard from "@/components/ApplicationContentCard.vue";
export default {
  mixins: [ApplicationBase],

  name: 'Retainer',
  props: {},
  data: () => ({
    context_ele: null,
    isDev: false,
    app_mark: 'retainer',
    template: 'Retainer',
    title: 'Retainer'
  }),
  computed: {
    getImg: function (f) {
      return {
        // shape
        graph_01: require('../../assets/app/retainer/01_type1.png'),
        graph_02: require('../../assets/app/retainer/01_type2.png'),
        graph_03: require('../../assets/app/retainer/01_type3.png'),
        graph_04: require('../../assets/app/retainer/01_type4.png'),
        graph_05: require('../../assets/app/retainer/02-1_counter_chart.png'),
        graph_06: require('../../assets/app/retainer/02-1_counter1.png'),
        graph_07: require('../../assets/app/retainer/02-1_counter2.png'),
        graph_08: require('../../assets/app/retainer/02-1_counter2_chart.png'),
        graph_09: require('../../assets/app/retainer/02-1_standard.png'),
        graph_10: require('../../assets/app/retainer/02-1_standard_chart.png'),
        graph_11: require('../../assets/product/air/ac_motor_pipe.png'),
        graph_12: require('../../assets/app/retainer/03_counter.png'),
        graph_13: require('../../assets/app/retainer/03_standard.png'),
        graph_14: require('../../assets/app/retainer/04_counter.png'),
        graph_15: require('../../assets/app/retainer/04_product.png'),
        graph_16: require('../../assets/app/retainer/04_standard.png')
      }
    },
    tableData4: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          {
            value: [
              `<div style="width:80%;height:80%;background-image:url('${
                this.getImg.graph_16
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:80%;height:80%;background-image:url('${
                this.getImg.graph_14
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`
            ]
          }
        ],
        order: [
          { name: common.standard_item, style: {} },
          { name: common.solution_item, style: {} }
        ],
        height: ['110pt'],
        width: ['170pt', '170pt']
      }
      return tableData
    },
    tableData3: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
        ],
        order: [
          { name: common.standard_item, style: {} },
          { name: '', style: {} },
          { name: common.solution_item, style: {} }
        ],
        width: ['200pt','300pt', '200pt']
      }
      return tableData
    },
    tableData2: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              `<div style="width:80%;height:80%;background-image:url('${
                this.getImg.graph_09
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:80%;height:80%;background-image:url('${
                this.getImg.graph_06
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:80%;height:80%;background-image:url('${
                this.getImg.graph_07
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`
            ]
          },
          {
            value: [100, 10, 10]
          },
          {
            value: [
              `<div style="width:80%;height:80%;background-image:url('${
                this.getImg.graph_10
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:80%;height:80%;background-image:url('${
                this.getImg.graph_05
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:80%;height:80%;background-image:url('${
                this.getImg.graph_08
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`
            ]
          }
        ],
        order: [
          { name: common.standard_item, style: {} },
          { name: common.solution_item + '1', style: {} },
          { name: common.solution_item + '2', style: {} }
        ],
        width: ['200pt', '200pt', '200pt'],
        height: ['170pt', '50pt', '170pt']
      }
      return tableData
    },
    tableData: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              '',
              `<div style="width:67.763572pt;height:55.716714pt;background-image:url('${
                this.getImg.graph_01
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:67.763572pt;height:55.716714pt;background-image:url('${
                this.getImg.graph_02
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:67.763572pt;height:55.716714pt;background-image:url('${
                this.getImg.graph_03
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`,
              `<div style="width:67.763572pt;height:55.716714pt;background-image:url('${
                this.getImg.graph_04
              }');background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>`
            ]
          },
          {
            value: [
              local.term_01,
              local.term_07,
              local.term_07,
              'PA66+GF',
              'PEEK'
            ]
          },
          {
            value: [local.term_02, '○', '○', '◎', '○'],
            signal: true
          },
          {
            value: [local.term_03, '○', '○', '◎', '◎'],
            signal: true
          },
          {
            value: [local.term_04, '○', '◎', '◎', '○'],
            signal: true
          },
          {
            value: [local.term_05, '○', '△', '◎', '☆'],
            signal: true
          },
          {
            value: [local.term_06, '☆', '☆', '○', '◎'],
            signal: true
          }
        ],
        order: [
          { name: translate.common.Type, style: {} },
          { name: local.type_1, style: {} },
          { name: local.type_2, style: {} },
          { name: local.type_3, style: {} },
          { name: local.type_4, style: {} }
        ],
        width: ['150pt', '150pt', '150pt', '150pt', '150pt'],
        height: ['80pt', '54pt', '54pt', '54pt', '54pt', '54pt', '54pt']
      }
      return tableData
    },

    translate: function () {
      return this.State.APPs
    },
    common: function () {
      return this.State.Common
    },
    local: function () {
      return this.State[this.template]
    }
  },
  methods: {},
  components: {
    ApplicationHeader,
    AppPageCard,
    ApplicationTable,
    CRText
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['retainer'])
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  },

  mounted: function () {
    this.context_ele = Array.prototype.slice
      .call(this.$el.children)
      .filter(n => n.classList.contains('application-context'))[0]
    this.$store.dispatch('serialsContext', ['retainer'])
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  },
  updated: function () {
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.bg-entry {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
.abs {
  position: absolute;
  display: inline-table;

  &.p1 {
    top: 24%;
    left: 27%;
  }
  &.p2 {
    top: 57%;
    left: 27%;
  }
  &.p3 {
    top: 24%;
    left: 98%;
  }
  &.p4 {
    top: 57%;
    left: 98%;
  }
}
.con {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgx1 {
  position: relative;
  display: inline-block;
  height: 80pt;
  width: 80pt;
  background-image: url("../../assets/app/retainer/03_standard.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // left: -100pt;
  top: 0;
}
.imgx2 {
  position: relative;
  display: inline-block;
  height: 80pt;
  width: 80pt;
  background-image: url("../../assets/app/retainer/03_standard.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  // left: -100pt;
  top: 0;
  // margin-left: 35pt;
}
</style>
