
<template>
  <div class="page sub-page seal" :class="{ dev: isDev }">
    <ApplicationHeader :description="translate.des[app_mark]" :title="title"></ApplicationHeader>
    <div class="context application-context" v-on:wheel="scrollBarWheel($event)">
      <AppPageCard
        :data="{
          number: 1,
          title: this.translate.common.design,
          description: ''
        }"
        :style="{ minWidth: '847pt',maxWidth: '847pt',height:'100%', marginRight:'10pt'}"
      >
        <ApplicationTable :dataSource="tableData"></ApplicationTable>
      </AppPageCard>

      <div class="column-entry" style="margin-right:10pt;">
        <AppPageCard
          :data="{
          number: 2,
          title: this.translate.common.high_temperature_resistance,
          description: ''
        }"
          :style="{ minWidth: '700pt',maxWidth: '700pt', marginBottom:'10pt'}"
        >
          <div class="container flex" :style="{'justify-content': 'space-around'}">
            <img
              class="img-temperature"
              src="@/assets/app/seal/wheel01.png"
              width="81.316pt"
              height="83.575pt"
            >
 
            <ApplicationTable :dataSource="tableData2" :style="{width:'80%'}"></ApplicationTable>
          </div>
 
 
 
        </AppPageCard>
 
        <AppPageCard
          :data="{
          number: 3,
          title: this.translate.common.environmental_durability,
          description: 'ex. for ABS/ESC',
          titleFixed:true
        }"
          :style="{ minWidth: '700pt',maxWidth: '700pt'}"
        >
          <ApplicationTable :dataSource="tableData3" :style="{width:'615pt'}"></ApplicationTable>
        </AppPageCard>
      </div>

      <AppPageCard
        :data="{
          number: 4,
          title: this.local.sen_2,
          description:  this.local.sen_3
        }"
        :style="{ minWidth: '940pt',maxWidth: '940pt',height:'100%', marginRight:'10pt'}"
      >
        <ApplicationTable :dataSource="tableData4"></ApplicationTable>
      </AppPageCard>

      <div class="column-entry" style="padding-right:30pt;height:100%;">
        <AppPageCard
          :data="{
          number: 5,
          title: this.local.sen_4,
          description:  this.local.sen_5
        }"
          :style="{ minWidth: '890pt',maxWidth: '890pt',height:'100%', marginRight:'10pt'}"
        >
          <ApplicationTable :dataSource="tableData5"></ApplicationTable>
        </AppPageCard>
      </div>
    </div>
  </div>
</template>

<script>
import ApplicationHeader from '@/components/ApplicationHeader.vue'
import AppPageCard from '@/components/AppPageCard.vue'
import ApplicationTable from '@/components/ApplicationTable.vue'
import CRText from '@/components/CRText.vue'
import ApplicationBase from '@/components/application/ApplicationBase.vue'

export default {
  mixins: [ApplicationBase],

  name: 'Seal',
  props: {},
  data: () => ({
    context_ele: null,
    isDev: false,
    app_mark: 'seal',
    template: 'Seal',
    title: 'Seal'
  }),
  computed: {
    getImg: function (f) {
      return {
        // shape
        graph_01: require('../../assets/app/seal/01.svg'),
        graph_02: require('../../assets/app/seal/02.svg'),
        graph_03: require('../../assets/app/seal/03.svg'),
        graph_04: require('../../assets/app/seal/04.svg'),
        graph_05: require('../../assets/app/seal/05.svg'),
        graph_06: require('../../assets/app/seal/06.svg'),
        graph_07: require('../../assets/app/seal/07.svg'),
        graph_08: require('../../assets/app/seal/08.svg'),
        // temperature && environment
        wheel_01: require('../../assets/app/seal/wheel01.png'),
        wheel_02: require('../../assets/app/seal/wheel02.png'),
        wheel_03: require('../../assets/app/seal/wheel03.png'),
        //
        rotate1: require('../../assets/app/seal/table4_1.png'),
        rotate1_2: require('../../assets/app/seal/table4_1-2.png'),
        rotate2: require('../../assets/app/seal/table4_2.png'),
        rotate2_2: require('../../assets/app/seal/table4_2-2.png'),
        rotate3: require('../../assets/app/seal/table4_3.png'),
        rotate3_2: require('../../assets/app/seal/table4_3-2.png'),
        //
        limit1: require('../../assets/app/seal/table5_1.png'),
        limit2: require('../../assets/app/seal/table5_2.png')
      }
    },
    tableData5: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              `<div><img src="${
                this.getImg.limit1
              }"/> <p style="top: auto;bottom:0;position:absolute;left:0;width:100%;text-align:center;"
            >${local.deformation_amount}</p></div>`,
              `<div><img src="${
                this.getImg.limit2
              }"/> <p style="top: auto;bottom:0;position:absolute;left:0;width:100%;text-align:center;"
            >${local.deformation_amount}</p></div>`
            ]
          }
        ],
        order: [
          { name: common.standard_item, style: {} },
          { name: common.solution_item, style: {} }
        ],
        width: ['300pt', '300pt'],
        height: ['180pt', '80pt']
      }
      return tableData
    },
    tableData4: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              '',
              `<div class="flex-block"> <div class="half-grid column left"><img src="${
                this.getImg.rotate1
              }"/></div><div class="half-grid column"><img src="${
                this.getImg.rotate1_2
              }"/></div></div>`,
              `<div class="flex-block"> <div class="half-grid column left"><img src="${
                this.getImg.rotate2
              }"/></div><div class="half-grid column"><img src="${
                this.getImg.rotate2_2
              }"/></div></div>`,
              `<div class="flex-block"> <div class="half-grid column left"><img src="${
                this.getImg.rotate3
              }"/></div><div class="half-grid column"><img src="${
                this.getImg.rotate3_2
              }"/></div></div>`
            ]
          },
          {
            value: [
              `<div>${
                local.gbRRC
              }<p style="margin:0;font-size:9pt;color:#777">※${
                local.sen_1
              }</p></div>`,
              100,
              37,
              0
            ]
          },
          {
            value: [`${local.dustprotection}`, '△', '○', '◎'],
            signal: true
          },
          {
            value: [`${local.loss_tor}`, '☆', '◎', '○'],
            signal: true
          }
        ],

        order: [],
        width: ['180pt', '150pt', '150pt', '150pt'],
        height: ['180pt', '80pt', '80pt', '80pt']
      }
      return tableData
    },
    tableData3: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              'NBR',
              `<div class="flex-block" style="width:80%;"> <div class="half-grid column left">100</div><div class="half-grid column"><img src="${
                this.getImg.wheel_02
              }"/></div></div>`
            ]
          },
          {
            value: [
              'EPDM',
              `<div class="flex-block" style="width:80%;"> <div class="half-grid column left">3</div><div class="half-grid column"><img src="${
                this.getImg.wheel_03
              }"/></div></div>`
            ]
          }
        ],

        order: [
          { name: translate.common.rubber_material, style: {} },
          {
            name: `${translate.common.brake_oil} ${
              translate.common.dimension_change
            }<span class="sub">※${local.sen_1}</span>`,
            style: { flexDirection: 'column' }
          }
        ],
        width: ['100pt', '290pt'],
        height: ['60pt', '60pt']
      }
      return tableData
    },
    tableData2: function () {
      const common = this.common
      const translate = this.translate
      const local = this.local
      const tableData = {
        array: [
          {
            value: ['NBR', '120℃ × 1000H']
          },
          {
            value: ['S-NBR', '135℃ × 1000H']
          },
          {
            value: ['H-NBR', '150℃ × 1000H']
          },
          {
            value: ['ACM', '175℃ × 1000H']
          },
          {
            value: ['FKM', '200℃ × (3500+	α)H']
          }
        ],
        order: [
          { name: translate.common.rubber_material, style: {} },
          {
            name: `${translate.common.high_temperature_resistance}(${
              translate.common.hardness_20_point_up
            })<span class="sub">※${local.sen_0}</span>`,
            style: { flexDirection: 'column' }
          }
        ],
        width: ['100pt', '290pt'],
        height: ['35pt', '35pt', '35pt', '35pt', '35pt']
      }
      return tableData
    },
    tableData: function () {
      const common = this.common
      const local = this.local
      const translate = this.translate
      const tableData = {
        array: [
          {
            triple: true,
            value: [
              '',
              `<img src=${this.getImg.graph_01}>`,
              `<img src=${this.getImg.graph_02}>`,
              `<img src=${this.getImg.graph_03}>`,
              `<img src=${this.getImg.graph_04}>`,
              `<img src=${this.getImg.graph_05}>`,
              `<img src=${this.getImg.graph_06}>`,
              `<img src=${this.getImg.graph_07}>`,
              `<img src=${this.getImg.graph_08}>`
            ]
          },
          {
            parent: true,
            hor: true,
            double: true,
            value: [
              translate.common.Type,
              translate.common.non_contact_metal,
              local.non_contact_rubber_seal,
              `<div class="half-grid top">${
                translate.common.contact_rubber_seal
              }</div><div class="half-grid bottom">${
                translate.common.standard
              }</div>`,
              `<div class="half-grid top">${
                translate.common.contact_rubber_seal
              }</div><div class="half-grid bottom">${
                translate.common.light_contact
              }</div>`,
              `<div class="half-grid top">${
                translate.common.contact_rubber_seal
              }</div><div class="half-grid bottom">${
                translate.common.heavy_contact
              }</div>`,
              `<div class="half-grid top">${
                translate.common.contact_rubber_seal
              }</div><div class="half-grid bottom">${
                translate.common.two_point_contact
              }</div>`,
              `<div class="half-grid top">${
                translate.common.contact_rubber_seal
              }</div><div class="half-grid bottom">${
                translate.common.reverse_contact
              }</div>`,
              `<div class="half-grid top">${
                translate.common.contact_rubber_seal
              }</div><div class="half-grid bottom">${
                local.Axial_motion_reinforced_version
              }</div>`
            ]
          },
          // ☆△×盖○◎○
          {
            double: false,
            value: [
              translate.common.loss_torque,
              '☆',
              '☆',
              '◯',
              '◎',
              '△',
              '△',
              '◎',
              '△'
            ],
            signal: true
          },
          {
            double: false,
            value: [local.term_0, '△', '△', '◎', '◯', '☆', '☆', '◯', '☆'],
            signal: true
          },
          {
            double: false,
            value: [local.term_1, '×', '×', '◯', '△', '◎', '◎', '△', '◎'],
            signal: true
          }
        ],
        order: [
          { name: translate.common.bearing_type, style: {} },
          { name: translate.common.standard, style: {} },
          { name: translate.common.standard, style: {} },
          { name: translate.common.standard, style: {} },
          { name: translate.common.special, style: {} },
          { name: translate.common.special, style: {} },
          { name: translate.common.special, style: {} },
          { name: translate.common.special, style: {} },
          { name: translate.common.special, style: {} }
        ],
        width: [
          '83pt',
          '83pt',
          '83pt',
          '83pt',
          '83pt',
          '83pt',
          '83pt',
          '83pt',
          '83pt'
        ],
        height: ['150pt', '100pt', '50pt', '50pt', '50pt']
      }
      return tableData
    },
    translate: function () {
      return this.State.APPs
    },
    common: function () {
      return this.State.Common
    },
    local: function () {
      return this.State.Seal
    }
  },
  methods: {},
  components: {
    ApplicationHeader,
    AppPageCard,
    ApplicationTable,
    CRText
  },
  beforeUpdated: function () {
    this.$store.dispatch('serialsContext', ['seal'])
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  },

  mounted: function () {
    this.context_ele = Array.prototype.slice
      .call(this.$el.children)
      .filter(n => n.classList.contains('application-context'))[0]
    this.$store.dispatch('serialsContext', ['seal'])
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  },
  updated: function () {
    this.$store.dispatch('videoSrc', this.template + '_' + this.curLan)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.dev {
  .context {
    background-color: rgba(255, 255, 255, 1);
  }
}
</style>
