
<template>
  <div class="page sub-page special">
    <ApplicationHeader :description="translate.des[app_mark]" :title="title"></ApplicationHeader>
    <div class="context application-context" v-on:wheel="scrollBarWheel($event)">
      <AppPageCard
        :data="{
          number: 1,
          title: this.local.term_05,
          description: ''
        }"
        :style="{ minWidth: '1620pt',maxWidth: '1620pt',height:'100%', marginRight:'10pt'}"
      >
        <ApplicationTable :dataSource="tableData" :class="['no-first' ]"></ApplicationTable>
      </AppPageCard>
      <div class="column-entry" style="padding-right:30pt;height:100%;">
        <AppPageCard
          :data="{
          number: 2,
          title: this.local.term_08,
          description: ''
        }"
          :style="{ minWidth: '680pt',maxWidth: '680pt',height:'100%', marginRight:'10pt', height:'100%'}"
        >
          <ApplicationTable :dataSource="tableData2"></ApplicationTable>
        </AppPageCard>
      </div>
    </div>
  </div>
</template>

<script>
import ApplicationHeader from "@/components/ApplicationHeader.vue";
import AppPageCard from "@/components/AppPageCard.vue";
import ApplicationTable from "@/components/ApplicationTable.vue";
import CRText from "@/components/CRText.vue";
import ApplicationBase from "@/components/application/ApplicationBase.vue";

// import ApplicationContentCard from "@/components/ApplicationContentCard.vue";
export default {
  mixins: [ApplicationBase],

  name: "Special_Design",
  props: {},
  data: () => ({
    context_ele: null,
    isDev: false,
    app_mark: "special",
    template: "Special_Design",
    title: "Special design"
  }),
  computed: {
    getImg: function(f) {
      const lan = this.curLan;
      let graph_14 = null;
      let graph_12 = null;
      if (lan === "EN") {
        graph_14 = require("../../assets/app/special/table1_7-1_en.png");
        graph_12 = require("../../assets/app/special/table1_6-1_en.png");
      } else if (lan === "CN") {
        graph_14 = require("../../assets/app/special/table1_7-1_ch.png");
        graph_12 = require("../../assets/app/special/table1_6-1_ch.png");
      } else {
        graph_14 = require("../../assets/app/special/table1_7-1_jp.png");
        graph_12 = require("../../assets/app/special/table1_6-1_jp.png");
      }
      return {
        // shape
        graph_01: require("../../assets/app/special/table1_1.png"),
        graph_02: require("../../assets/app/special/table1_1-2.png"),
        graph_03: require("../../assets/app/special/table1_2.png"),
        graph_04: require("../../assets/app/special/table1_2-2.png"),
        graph_05: require("../../assets/app/special/table1_3.png"),
        graph_06: require("../../assets/app/special/table1_3-2.png"),
        graph_07: require("../../assets/app/special/table1_4.png"),
        graph_08: require("../../assets/app/special/table1_4-2.png"),
        graph_09: require("../../assets/app/special/table1_5.png"),
        graph_10: require("../../assets/app/special/table1_5-2.png"),
        graph_11: require("../../assets/app/special/table1_6.png"),
        graph_12: graph_12,
        graph_13: require("../../assets/app/special/table1_7.png"),
        graph_14: graph_14,
        graph_15: require("../../assets/app/special/table1_8.png"),
        graph_16: require("../../assets/app/special/table1_8-2.png"),
        graph_17: require("../../assets/app/special/table2-1.png"),
        graph_18: require("../../assets/app/special/table2-2.png"),
        graph_19: require("../../assets/app/special/table2-3.png")
      };
    },
    tableData2: function() {
      const common = this.common;
      const translate = this.translate;
      const local = this.local;
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              "",
              `<div class="abs-bg" style="background-image:url('${this.getImg.graph_17}')"></div>`,
              `<div class="abs-bg" style="background-image:url('${this.getImg.graph_18}')"></div>`,
              `<div class="abs-bg" style="background-image:url('${this.getImg.graph_19}')"></div>`
            ]
          },
          {
            value: [local.term_09, "△", "○", "◎"],
            signal: true
          },
          {
            value: [local.term_10, "◎", "◎", "○"],
            signal: true
          },
          {
            value: [local.term_11, "○", "◎", "○"],
            signal: true
          }
        ],
        order: [
          { name: "", style: {} },
          { name: "SUS440C", style: {} },
          { name: "DD400", style: {} },
          { name: "Giga Protection 2", style: {} }
        ],
        width: ["150pt", "150pt", "150pt", "150pt"],
        height: ["140pt", "65pt", "65pt", "65pt"]
      };
      return tableData;
    },
    tableData: function() {
      const common = this.common;
      const translate = this.translate;
      const local = this.local;
      const tableData = {
        array: [
          // ☆△×盖○◎○
          {
            value: [
              //          `<div style="width:67.763572pt;height:55.716714pt;background-image:url('${
              //             this.getImg.graph_01
              //           }');background-size: contain;
              // background-repeat: no-repeat;
              // background-position: center;"></div>`,
              `<div class="box"><div class="grid-column">
                <img style="height:50pt;margin-bottom:40pt;" src="${this.getImg.graph_01}">
                <img style="height:180pt" src="${this.getImg.graph_02}">
              </div></div>`,

              `<div class="box">

                <div class="grid-column">
                <img style="height:50pt;margin-bottom:40pt;" src="${this.getImg.graph_03}">
                <img style="height:184pt;margin-top:-1pt;" src="${this.getImg.graph_04}">
                </div>
                <div class="grid-column">
                <img style="height:50pt;margin-bottom:40pt;" src="${this.getImg.graph_05}">
                <img style="height:199pt;margin-top:-14pt;" src="${this.getImg.graph_06}">
                </div>
                <div class="grid-column">
                <img style="height:50pt;margin-bottom:40pt;" src="${this.getImg.graph_07}">
                <img style="height:199pt;margin-top:-15pt;" src="${this.getImg.graph_08}">
                </div>
              </div>`,
              `<div class="box"><div class="grid-column">
                <img style="height:50pt;margin-bottom:30pt;margin-top:10pt;" src="${this.getImg.graph_09}">
                <img style="height:227pt;margin-top:-20pt;" src="${this.getImg.graph_10}">
              </div></div>`,
              `<div class="box">

                <div class="grid-column">
                <img style="height:50pt;margin-bottom:40pt;" src="${this.getImg.graph_11}">
                <img style="height: 240pt;margin-top: -52pt;" src="${this.getImg.graph_12}">
                </div>
                <div class="grid-column">
                <img style="height:50pt;margin-bottom:40pt;" src="${this.getImg.graph_13}">
                <img style="height: 240pt;margin-top: -52pt;" src="${this.getImg.graph_14}">
                </div>
              </div>`,
              `<div class="box"><div class="grid-column">
                <img style="height:60pt;margin-bottom:40pt;" src="${this.getImg.graph_15}">
                <img style="height:80pt" src="${this.getImg.graph_16}">
              </div></div>`
            ]
          },
          {
            value: [
              `<pre>${local.term_06}
Alternator</pre>`,
              `<pre>${local.term_06}
EPS motor
Purge pump motor​
Electric Turbo charger​</pre>`,
              `<pre>${local.term_06}
Power tool</pre>`,
              `<pre>${local.term_06}
ABS/ESC pump</pre>`,
              `<pre>${local.term_06}
Turbo charger</pre>`
            ]
          }
        ],
        order: [
          { name: local.term_00, style: {} },
          { name: local.term_01, style: {} },
          { name: local.term_02, style: {} },
          { name: local.term_03, style: {} },
          { name: local.term_04, style: {} }
        ],
        width: ["170pt", "440pt", "150pt", "290pt", "150pt"],
        height: ["350pt", "90pt"],
        display: ["inherit", "inline"]
      };
      return tableData;
    },

    translate: function() {
      return this.State.APPs;
    },
    common: function() {
      return this.State.Common;
    },
    local: function() {
      return this.State.Special;
    }
  },
  methods: {
    scrollBarWheel: function(evnet) {
      // event.target.scrollLeft += event.deltaY*10;
      const condition = function(e) {
        return e.classList.contains("application-context");
      };
      let target = this.findAncient(event.target, condition);
      if (target && target === this.context_ele) {
        target.scrollLeft += event.deltaY * 2;
      }
    },
    findAncient: function(e, call) {
      if (!e) return false;
      if (call(e)) return e;
      else {
        return this.findAncient(e.parentElement, call);
      }
    }
  },
  components: {
    ApplicationHeader,
    AppPageCard,
    ApplicationTable,
    CRText
  },
  beforeUpdated: function() {
    this.$store.dispatch("serialsContext", ["special"]);
    this.$store.dispatch("videoSrc", this.template + "_" + this.curLan);
  },

  mounted: function() {
    this.context_ele = Array.prototype.slice
      .call(this.$el.children)
      .filter(n => n.classList.contains("application-context"))[0];
    this.$store.dispatch("serialsContext", ["special"]);
    this.$store.dispatch("videoSrc", this.template + "_" + this.curLan);
  },
  updated: function() {
    this.$store.dispatch("videoSrc", this.template + "_" + this.curLan);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
.box {
  display: flex;
  .grid-column {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
}

.abs-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
</style>
