<template>
  <div class="header">
    <div class="logo"></div>

    <div class="navigation">
      <router-link to="/">
        <span class="home icon"></span>
      </router-link>
      <span class="lan">
        <p v-on:click="changeLanguage('CN')" :class="{ active: curLan=== 'CN' }">中</p>
        <p v-on:click="changeLanguage('EN')" :class="{ active: curLan=== 'EN' }">En</p>
        <p v-on:click="changeLanguage('JP')" :class="{ active: curLan === 'JP' }" class="end">日</p>
      </span>
      <span class="back icon" v-on:click="previousPage()"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderRow',
  props: {},
  data: () => ({
    lan: 'CN'
  }),
  methods: {
    previousPage: function () {
      window.history.back()
    },
    changeLanguage: function (str) {
      this.$store.dispatch('changeLanguage', str)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../scss/common.scss";

.header {
  position: absolute;
  top: 0;
  right: 0;
  //width: calc(25% - 90pt);
  width: calc(100% - 90pt);
  //background-color:rgba(0,0,0,0.3);
  height: 72pt;
  margin: 0 45pt;
  display: inline-flex;
  justify-content: space-between; //flex-end;
  align-items: center;
  z-index: 100;

  div {
    &.logo {
      @include bdImg("../assets/header/logo.svg", 30.870071pt, 198.773143pt);
      //margin-right: 11.25pt;
      margin: 0;
    }

    &.navigation {
      display: inline-flex;
      align-items: flex-end;

      span {
        display: inline-block;
      }

      .lan {
        font-size: 27pt;
        display: inline-flex;
        color: rgb(129, 140, 170);
        line-height: 30pt;
        position: relative;
        transition: color 0.3s;

        p {
          position: relative;
          margin: 0 9pt;
          cursor: pointer;
          border-radius: 100%;

          width: 26.728964pt;
          height: 26.728964pt;
          font-size: 12.6492pt;
          background-color: #818caa;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          //   &:not(.end)::after {
          //     content: "";
          //     width: 1pt;
          //     height: 1em;
          //     background-color: rgb(129, 140, 170);
          //     position: absolute;
          //     top: 0;
          //     right: -10.75pt;
          //   }

          &.active,
          &:hover {
            background-color: rgb(1, 78, 168);
          }
        }
      }

      .icon {
        background-color: #818caa;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active,
        &:hover {
          background-color: rgb(1, 78, 168);
        }

        &.disable {
          background-color: #818caa !important;
          opacity: 0.6;
        }
      }

      .home {
        @include iconImg("../assets/header/home.png", 25.6pt, 26.728964pt);
        margin-right: 11.25pt;
      }

      .back {
        @include iconImg("../assets/header/back.png", 36.140571pt, 36.140571pt);
        margin-left: 11.25pt;
      }
    }
  }
}
</style>
