<template>
  <div class="home page">
    <AppSerial></AppSerial>
    <AppTable></AppTable>
    <!-- <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>-->
  </div>
</template>

<script>
// @ is an alias to /src
import AppSerial from '@/components/AppSerial.vue'
import AppTable from '@/components/AppTable.vue'

export default {
  name: 'home',
  components: {
    AppTable,
    AppSerial
  }
}
</script>

<style lang="scss" scoped>
</style>
