<template>
  <div class="page" :class="[pageType]">
    <AppList></AppList>
    <ProductMenu
      :cur_page="State.currentPage"
      :title="State.Common.for_car"
      :data="car_app"
      :style="{top:'135pt'}"
      :class="[curLan]"
    ></ProductMenu>
    <ProductMenu
      :cur_page="State.currentPage"
      :title="State.Common.for_ng"
      :data="ng_app"
      :style="{top:'421.5pt'}"
      :class="['blue', curLan]"
    ></ProductMenu>
    <transition name="fade">
      <router-view/>
    </transition>
  </div>
</template>

<script>
// @ is an alias to /src
import AppList from '@/components/AppList.vue'
import ProductMenu from '@/components/ProductMenu.vue'
export default {
  name: 'Product',
  components: {
    AppList,
    ProductMenu
  },
  data: () => ({
    car_app: [
       {
        link: '/product/Purge_Pump',
        text: 'Purge Pump motor'
      },
      {
        link: '/product/Electric_Turbo_charger',
        text: 'Electric Turbo charger'
      },
      {
        link: '/product/Power_Lift_Gate',
        text: 'Power Back door'
      },
      {
        link: '/product/EV_Traction_motor',
        text: 'EV Traction motor'
      },
      {
        link: '/product/ABS_ESC',
        text: 'ABS/ESC'
      },
      {
        link: '/product/Wiper_motor',
        text: 'Wiper motor'
      },
      {
        link: '/product/ETC_EGR_Value',
        text: 'ETC/EGR Value'
      },
      {
        link: '/product/Turbo',
        text: 'Turbo charger'
      },
      {
        link: '/product/EPS_motor',
        text: 'EPS motor'
      },
      {
        link: '/product/HVAC_Blower_motor',
        text: 'HVAC Blower motor'
      },
      {
        link: '/product/Radiator_fan_motor',
        text: 'Radiator Fan motor'
      },
      {
        link: '/product/ETC_EGR_motor',
        text: 'ETC/EGR motor'
      }
    ],
    ng_app: [
      {
        link: '/product/Laser_leveler',
        text: 'Laser leveler'
      },
      // {
      //   link: '/product/AC_Cleaner_motor',
      //   text: 'AC Cleaner motor'
      // },
      {
        link: '/product/BLDC_Cleaner_motor',
        text: 'Vacuum cleaner motor'
      },
      {
        link: '/product/Fishing_Reel',
        text: 'Fishing reel'
      },
      {
        link: '/product/Air_Cleaner_motor',
        text: 'Air Cleaner motor'
      },
      {
        link: '/product/Encoder',
        text: 'Rotary Encoder'
      },
      // {
      //   link: '/product/OA',
      //   text: 'OA'
      // },
      {
        link: '/product/Power_Tools',
        text: 'Power tool'
      },
      {
        link: '/product/Anemometer_Flowmeter',
        text: 'Anemometer, Flowmeter',
        short: true
      },
      {
        link: '/product/Drone',
        text: 'Drone'
      }
    ]
  }),
  mounted: function () {},
  beforeUpdate: function () {},
  computed: {
    pageType: function () {
      return this.$route.path.indexOf('/product') === -1
        ? 'application'
        : 'product'
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
  .fade-leave-to
  /* .fade-leave-active below version 2.1.8 */

 {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease 0.2s;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
  .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */

 {
  transform: translateX(-10px);
  opacity: 0;
}
</style>
