<template>
  <div class="app-button" :class="{active:getSerialList().indexOf(data.src) != -1, line:lineMode}">
    <div class="icon" :style="{'-webkit-mask-image': 'url('+background+')'}"></div>
    <p>{{data.text}}</p>
  </div>
</template>

<script>
export default {
  name: 'app-button',
  props: {
    data: Object
  },
  computed: {
    background () {
      return require('../assets/home/' +
        this.data.src +
        '.' +
        this.data.img_type)
    },
    lineMode: function () {
      return this.State.lineMode
    }
  },
  components: {},
  methods: {
    getSerialList: function () {
      return this.State.serial
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../scss/common.scss";
$color-grease: #e60012;
$color-seal: #1a68b3;
$color-retainer: #0090aa;
$color-inter: #dc670b;
$color-special: #ab1379;
.app-button {
  cursor: pointer;
  margin: 0 31pt;
  padding: 0 21pt;
  margin: 0px 3pt;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .icon {
    @include iconImg("../assets/empty.svg", 45pt, 45pt);
    background-color: #818caa;
    transition: background-color 0.3s;
  }
  p {
    font-family: Arial;
    font-size: 16.8px;
    font-weight: 600;
    color: #818caa;
    transition: color 0.3s;
  }
  &::after {
    position: absolute;
    bottom: -9pt;
    left: 0;
    width: 100%;
    height: 8pt;
    background-color: transparent;
    transition: background-color 0.3s, bottom 0.3s;
    // content: "";
    border-radius: 3.7pt;
  }
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19pt;
    opacity: 0;
    -webkit-filter: blur(9pt);
    filter: blur(9pt);
    background-color: transparent;
    transition: background-color 0.3s, opacity 0.3s;
    content: "";
  }
  //&:hover
  &.active {
    &::before {
      background-color: transparent;
      opacity: 0.38;
          
      height: 63.246pt;
      filter: blur(0);
      border-radius: 7px;
    }
    
    .icon {
      background-color: #004ea8;
    }
    p {
      color: #004ea8;
    }
  }
  &.line::after {
    background-color: transparent;
    bottom: -4.5pt;
    content:'';
  }

  // ,  &.grease:hover
  &.grease.active {
    .icon,
    &.line::after
    //,&::before
    {
      background-color: $color-grease;
    }
    &::before{
      background-color: transparent;
      background-image:linear-gradient(180deg, rgba(211, 53, 159, 0) 0%, rgba(178, 24, 52, 0.5) 100%);
    }
    p {
      color: $color-grease;
    }
    &.line::after{
      background-color: $color-grease;
    }
  }

  // ,  &.seal:hover
  &.seal.active {
    .icon,
    &.line::after
    //,&::before
    {
      background-color: $color-seal;
    }
    &::before{
      background-color: transparent;
      background-image: linear-gradient(180deg, rgba(211, 53, 159, 0) 0%, rgba(76, 24, 178, 0.4) 100%)
    }
    p {
      color: $color-seal;
    }

    &.line::after{
      background-color: $color-seal;
    }
  }

  // ,  &.retainer:hover
  &.retainer.active {
    .icon,
    &.line::after
    //,&::before
    {
      background-color: $color-retainer;
    }
    &::before{
      background-color: transparent;
      background-image: linear-gradient(180deg, rgba(0,190,209,0) 0%, rgba(0,158,193,0.4) 100%);
    }
    p {
      color: $color-retainer;
    }
    &.line::after{
      background-color: $color-retainer;
    }
  }

  // ,  &.inter:hover
  &.inter.active {
    .icon,
    &.line::after
    //,&::before
    {
      background-color: $color-inter;
    }
    &::before{
      background-color: transparent;
      background-image: linear-gradient(180deg, rgba(254,175,1,0) 0%, rgba(215,93,12,0.36) 100%);
    }
    p {
      color: $color-inter;
    }
    &.line::after{
      background-color: $color-inter;
    }
  }

  // ,  &.special:hover
  &.special.active {
    .icon,
    &.line::after
    //,&::before
    {
      background-color: $color-special;
    }

    &::before{
      background-color: transparent;
      background-image: linear-gradient(180deg, rgba(211,53,159,0) 0%, rgba(178,24,127,0.3) 100%);
    }
    p {
      color: $color-special;
    }
    &.line::after{
      background-color: $color-special;
    }
  }
}
</style>
