<template>
  <div class="card" :class="{active:isActive}" v-on:click="redirection">
    <div class="dot cover"></div>

    <div class="dot"></div>
    <div class="icon"></div>
    <span class="text">{{text}}</span>
  </div>
</template>

<script>
export default {
  name: 'AppCard',
  props: {
    text: String,
    to: String
  },
  data: () => ({
    isActive: false
  }),
  methods: {
    redirection: function () {
      const _this = this
      const router = this.$router
      this.isActive = true
      setTimeout(function () {
        router.push({
          path: _this.to
        })
      }, 360)
    }
  },
  beforeUpdate: function () {
    // this.isActive = false;
  },
  mounted: function () {
    this.isActive = false
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
@import "../scss/common.scss";
.card {
  overflow: hidden;
  cursor: pointer;
  width: 157.5pt;
  height: 112.5pt;
  border-radius: 6.2pt;
  box-shadow: 0 1.5pt 12pt 0 #d8deea;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  .dot {
    width: 11.293929pt;
    height: 11.293929pt;
    top: 9.788071pt;
    right: 9.788071pt;
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    border: solid 2.1px #d4e4ee;
    border-radius: 100%;
    background-color: #fff;
    transition: all 0.16s;
    &.cover {
      z-index: 1;
      opacity: 0.3;
      background-color: transparent;
      transition: all 0.2s 0.15s;
    }
  }
  &.active {
    .dot:not(.cover) {
      background-color: #1e97e2;
      border-color: #1e97e2;
    }
    .dot.cover {
      background-color: #1e97e2;
      border-color: #1e97e2;
      transform: scale(30);
      opacity: 0.8;
    }
    .text {
      color: #fff;
    }
    .icon::after {
      background-color: #fff !important;
    }
  }
  &.active.car {
    .dot:not(.cover) {
      background-color: #f5a623;
      border-color: #f5a623;
    }
    .dot.cover {
      background-color: #f5a623;
      border-color: #f5a623;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  &.disabled {
    visibility: hidden;
  }
  .icon {
    position: relative;
    width: 59pt;
    height: 48.75pt;
    margin-bottom: 2pt;
    z-index: 3;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      @include maskImg("../assets/home/car.svg", 100%, 100%);
      background-color: #f5a623;
      transition: background-color 0.2s 0.15s;
    }
  }
  &.laser-leveler .icon::after {
    @include maskImg("../assets/home/laser.svg", 100%, 100%);
    background-color: #1e97e2;
  }
  &.ac-cleaner .icon::after {
    @include maskImg("../assets/home/ac-cleaner.svg", 100%, 100%);
    background-color: #1e97e2;
  }
  &.bldc .icon::after {
    @include maskImg("../assets/home/bldc.svg", 100%, 100%);
    background-color: #1e97e2;
  }
  &.reel .icon::after {
    @include maskImg("../assets/home/fishing.svg", 100%, 100%);
    background-color: #1e97e2;
  }
  &.encoder .icon::after {
    @include maskImg("../assets/home/encoder.svg", 100%, 100%);
    background-color: #1e97e2;
  }
  &.oa .icon::after {
    @include maskImg("../assets/home/oa.svg", 100%, 100%);
    background-color: #1e97e2;
  }
  &.power-tool .icon::after {
    @include maskImg("../assets/home/power.svg", 100%, 100%);
    background-color: #1e97e2;
  }
  &.air-cleaner .icon {
    width:28pt;
    &::after{
      @include maskImg("../assets/home/air_c.svg", 100%, 100%);
      background-color: #1e97e2;
    }
  }
  &.ane .icon {
    width:82pt;
    &::after{
      @include maskImg("../assets/home/ane.svg", 100%, 100%);
      background-color: #1e97e2;
    }
  }
  &.drone .icon {
    width:90pt;
    &::after{
      @include maskImg("../assets/home/drone.svg", 100%, 100%);
      background-color: #1e97e2;
    }
  }
  .text {
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #353e5b;
    width: 100%;
    transition: color 0.3s;
    z-index: 3;
  }
  // &:hover .text {
  //   color: #1e97e2;
  // }
  // &.car:hover .text {
  //   color: #f5a623;
  // }
}
</style>
