<template>
  <div class="application-header">
    <div class="title">
      <div class="logo-bg"></div>
      <span>{{ title }}</span>
    </div>
    <div class="description">{{ description }}</div>
    <VideoBtn v-if="!no_video"></VideoBtn>
  </div>
</template>

<script>
import VideoBtn from '@/components/VideoBtn.vue'
export default {
  name: 'ApplicationHeader',
  props: {
    description: String,
    title: String,
    no_video: Boolean
  },
  beforeUpdated: function () {},

  mounted: function () {},
  computed: {
    common: function () {
      return this.State.Common
    }
  },
  components: {
    VideoBtn
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../scss/common.scss";
.application-header {
  position: relative;
  height: 118.962714pt;
  width: 1155.745359pt;
  display: block;
  text-align: left;
  .title {
    font-family: Arial;
    font-size: 29.5pt;
    font-weight: bold;
    color: #004ea8;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    .logo-bg {
      @include bdImg("../assets/logo.svg", 35.387643pt, 213.078786pt);
      display: inline-block;
      margin-right: 10pt;
    }
    span {
      margin-top: 9pt;
      display: inline-block;
    }
  }
  .description {
    font-size: 15.8pt;
    font-weight: 500;
    color: #353e5b;
    margin-top: 12pt;
    max-width: 80%;
  }

}
</style>
