<template>
  <div class="table card-table">
    <div class="top row flex" v-if="dataSource.order.length >0" :class="{'no-first': no_First }">
      <div
        class="grid flex order"
        :class="{'auto-height-order': dataSource.autoHeightOrder}"
        v-for="(item, index) in dataSource.order"
        :key="index"
        :style="{...{ width: dataSource.width[index]}, ...item.style}"
        v-html="item.name"
      ></div>
    </div>
    <div class="line" v-if="dataSource.order.length === 0"></div>
    <div
      class="data row flex"
      :class="{'no-first': item.no_First }"
      :key="index"
      v-for="(item, index) in dataSource.array"
      :style="{ height:(dataSource.height[index]||'')}"
    >
      <div
        class="grid flex value"
        v-for="(vitem, vindex) in item.value"
        :key="vindex"
        :class="{
          double: item.double,
          triple: item.triple,
          first: vindex === 0,
          even: (index + 1) % 2 == 0 && vindex !== 0,
          hor : item.hor,
          parent:item.parent,
          signal:item.signal
        }"
        :style="{ minWidth: dataSource.width[vindex], maxWidth: dataSource.width[vindex], display:(dataSource.display?dataSource.display[index]||'inherit':'inherit') }"
        v-html="vitem"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ApplicationTable",
  props: {
    dataSource: Object,
    noFirst: Boolean
  },
  mounted: function() {
    // console.log('noFirst', this.noFirst)
  },
  computed: {
    no_First: function() {
      return !!this.noFirst;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.table {
  position: relative;
  width: 100%;
  margin-top: 20pt;
  > .line {
    width: 100%;
    height: 0;
    border-top: 1px solid #014ea8;
  }
  & * {
    position: relative;
  }
  .grid {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #353e5b;
    height: 37.646429pt;

    &.double {
      height: 70pt;
    }

    &.triple {
      height: 100pt;
    }
    &.order {
      color: #014ea8;
      font-weight: 600;
      &.auto-height-order {
        height: auto;
      }
    }
    &.first {
      font-weight: 600;
    }

    &.hor {
      flex-direction: column;
    }

    &.parent {
      justify-content: space-evenly;
    }
  }
  &.no-first .grid.first {
    font-weight: 200;
  }
  .row.no-first .grid.first {
    font-weight: 200;
  }
  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.top {
      border-top: 1px solid #014ea8;
      border-bottom: 1px solid #014ea8;
      &.no-first {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        & > * {
          border-top: 1px solid #014ea8;
          border-bottom: 1px solid #014ea8;
        }

        & > div:nth-child(1) {
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
        }
      }
    }
    &:not(.top) .grid {
      height: 100%;

      & > .half-grid {
        height: 50%;
      }
    }

    &:not(.top)::after {
      content: " ";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgb(191, 191, 191);
    }

    &:not(.top):last-child::after {
      background-color: transparent;
    }
  }

  .row:not(.top) .grid {
    font-size: 11.745686pt;
  }
}
</style>
