<template>
  <div class="app-list-btm">
    <div class="logo"></div>
    <router-link v-for="item in buttons" :to="item.link">
      <AppButton :data="item" :class="[item.src]"></AppButton>
    </router-link>

    <!-- <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>-->
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import AppButton from '@/components/AppButton.vue'
export default {
  name: 'app-list',
  data: () => ({
    buttons: [
      {
        text: 'Grease',
        link: '/application/Grease',
        img_type: 'png',
        src: 'grease'
      },
      {
        text: 'Seal',
        link: '/application/Seal',
        img_type: 'png',
        src: 'seal'
      },
      {
        text: 'Retainer',
        link: '/application/Retainer',
        img_type: 'png',
        src: 'retainer'
      },
      {
        text: 'Internal design',
        link: '/application/Internal_Design',
        img_type: 'png',
        src: 'inter'
      },
      {
        text: 'Special design',
        link: '/application/Special_Design',
        img_type: 'png',
        src: 'special'
      }
    ]
  }),
  components: {
    AppButton
  }
}
</script>

<style lang="scss" scoped>
@import "../scss/common.scss";
.logo {
  @include bdImg("../assets/logo.svg", 45pt, 175pt);
  display: inline-block;
  margin-right:1cm;
}

.app-list-btm {
  font-size: 0;
  position: absolute;
  width: 100%;
  bottom: 4.5pt;
  left: 0;
  z-index: 10;
  a {
    text-decoration: none !important;
  }
}
</style>
