<template>
  <div :class="[curLan, 'app-page-card', {'no-outer-card': onlyContent} ]">
    <div class="number" >
      <p>{{ data.number }}</p>
    </div>
    <div class="intro">
      <div class="title" v-html="data.title" :style="" :class="{fixed:data.titleFixed}"></div>
      <div class="description" v-html="data.description"></div>
    </div>
    <div class="card-context">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-page-card',
  props: {
    data: Object,
    onlyContent: Boolean
  },
  computed: {},
  components: {},
  methods: {
    getSerialList: function () {
      return this.State.serial
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../scss/common.scss";
.no-outer-card{
  position:relative;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 7.22pt;
}
.app-page-card:not(.no-outer-card) {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 7.22pt;
  min-width: 100pt;
  min-height: 100pt;
  box-sizing: border-box;
  padding: 19.57pt 35.387643pt;
  box-shadow: 0 9.2pt 7.7pt 0 #d8deea;
  background-color: #fff;
}
.app-page-card {
  
  .intro {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
  }
  .title {
    min-width:50%;
    font-size: 16.263257pt;
    font-weight: 600;
    color: #005bab;
    margin-right: 7pt;
    line-height: 20pt;
    text-align: left;

    &.fixed{
      min-width:0;
      margin-right:120pt;
    }
  }

  &.en-title-30.EN .title{
    min-width:30%;
  }

  .description {
    font-size: 12.6492pt;
    line-height: 20pt;
    color: #005bab;
    text-align: left;
  }
  .number {
    position: absolute;
    top: -27.858357pt;
    left: -27.858357pt;
    border-radius: 100%;
    background-color: #004ea8;
    width: 55.716714pt;
    height: 55.716714pt;
    p {
      position: absolute;
      top: 47%;
      left: 47%;
      font-size: 13.6pt;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50%;
      padding: 0;
      margin: 0;
      color: #fff;
    }
  }
}
</style>
