<template>
  <div class="app-serial-panel">
    <div class="mark">
      <div class="con"></div>
    </div>
    <div class="contain">
      <router-link v-for="item in apps" :to="item.link">
        <SerialCircle
          v-bind:color="item.color"
          :style="item.pos"
          :text="item.text"
        ></SerialCircle>
      </router-link>
    </div>
  </div>
</template>

<script>
import SerialCircle from './SerialCircle.vue'

export default {
  name: 'AppSerial',
  props: {
    // msg: String
  },
  data: () => ({
    apps: [
      {
        color: 'red',
        pos: {
          top: '11.5%',
          left: '43.5%'
        },
        text: 'Grease',
        link: '/application/Grease'
      },

      {
        color: 'blue',
        pos: {
          top: '25.5%',
          left: '56%'
        },
        text: 'Seal',
        link: '/application/Seal'
      },

      {
        color: 'green',
        pos: {
          top: '42.6%',
          left: '60.2%'
        },
        text: 'Retainer',
        link: '/application/Retainer'
      },

      {
        color: 'yellow',
        pos: {
          top: '59.5%',
          left: '56.2%'
        },
        text: 'Internal design',
        link: '/application/Internal_Design'
      },

      {
        color: 'purple',
        pos: {
          top: '73.65%',
          left: '43.7%'
        },
        text: 'Special design',
        link: '/application/Special_Design'
      }
    ]
  }),
  components: {
    SerialCircle
  }
}
</script>

<style lang="scss" scoped>
@import "../scss/common.scss";
.app-serial-panel {
  position: absolute;
  left: 0;
  width: 44.89583333333333%;
  height: 0;
  padding-bottom: 56.25%;
  background-image: url("../assets/home/big-circle.svg");
  background-size: cover;
  background-position: center;
  display: inline-flex;
  .mark {
    position: absolute;
    width: 33.0243337196%;
    top: 48%;
    left: 8.7%;
    height: 0;
    .con {
      position: relative;
      top: 0;
      left: 0;
      height: 0;
      padding-bottom: 17.34%;
      width: 100%;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        @include bgImg("../assets/home/logo.svg", 100%, 100%);
      }
    }
  }
}
</style>
