<template>
  <div class="app-table-list">
    <!-- <router-link> -->
    <AppCard :class="item.classSet" :text="item.text" v-for="item in products" :to="item.link"></AppCard>
    <!-- </router-link> -->
  </div>
</template>

<script>
import AppCard from '@/components/AppCard.vue'

export default {
  name: 'AppTable',
  data: () => ({
    products: [
      {
        link: '/product/Purge_Pump',
        classSet: ['car'],
        text: 'Purge Pump motor'
      },
      {
        link: '/product/Electric_Turbo_charger',
        classSet: ['car'],
        text: 'Electric Turbo charger'
      },
      {
        link: '/product/Power_Lift_Gate',
        classSet: ['car'],
        text: 'Power Back door'
      },
      {
        link: '/product/EV_Traction_motor',
        classSet: ['car'],
        text: 'EV Traction motor'
      },
      {
        link: '/product/ABS_ESC',
        classSet: ['car'],
        text: 'ABS/ESC'
      },
      {
        link: '/product/Wiper_motor',
        classSet: ['car'],
        text: 'Wiper motor'
      },
      {
        link: '/product/ETC_EGR_Value',
        classSet: ['car'],
        text: 'ETC/EGR Value'
      },
      {
        link: '/product/Turbo',
        classSet: ['car'],
        text: 'Turbo'
      },
      {
        link: '/product/EPS_motor',
        classSet: ['car'],
        text: 'EPS motor'
      },
      {
        link: '/product/HVAC_Blower_motor',
        classSet: ['car'],
        text: 'HVAC Blower motor'
      },
      {
        link: '/product/Radiator_fan_motor',
        classSet: ['car'],
        text: 'Radiator Fan motor'
      },
      {
        link: '/product/ETC_EGR_motor',
        classSet: ['car'],
        text: 'ETC/EGR motor'
      },
      
      {
        link: '/product/Laser_leveler',
        classSet: ['laser-leveler'],
        text: 'Laser leveler'
      },
      // {
      //   link: '/product/AC_Cleaner_motor',
      //   classSet: ['ac-cleaner'],
      //   text: 'AC Cleaner motor'
      // },
      {
        link: '/product/BLDC_Cleaner_motor',
        classSet: ['bldc'],
        text: 'Vacuum Cleaner motor'
      },
      {
        link: '/product/Fishing_Reel',
        classSet: ['reel'],
        text: 'Fishing reel'
      },
      {
        link: '/product/Air_Cleaner_motor',
        classSet: ['air-cleaner'],
        text: 'Air Cleaner motor'
      },
      {
        link: '/product/Encoder',
        classSet: ['encoder'],
        text: 'Rotary Encoder'
      },
      // {
      //   link: '/product/OA',
      //   classSet: ['oa'],
      //   text: 'OA'
      // },
      {
        link: '/product/Power_Tools',
        classSet: ['power-tool'],
        text: 'Power tool'
      },
      {
        link: '/product/Anemometer_Flowmeter',
        classSet: ['ane'],
        text: 'Anemometer, Flowmeter'
      },
      {
        link: '/product/Drone',
        classSet: ['drone'],
        text: 'Drone'
      }
    ]
  }),
  props: {
    // msg: String
  },
  components: {
    AppCard
  },
  methods: {
    redirect: function (link) {
      this.$router.push(link)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
.app-table-list {
  height: 615pt;
  width: 46.875%;
  position: absolute;
  left: 50%;
  top: 12.5%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  a,
  a:-webkit-any-link {
    text-decoration: none;
  }
}
</style>
