<template>
  <div class="coordinate">
    <div class="range">
      <pre :style="style_val||{}"><slot></slot></pre>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CRText',
  props: {
    style_val: Object
  },
  mounted: function () {},
  beforeUpdate: function () {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.coordinate {
  width: 0;
  height: 0;
  overflow: visible;
  position: relative;
  left: 0;
  top: 0;
  &.no-letter-spaceing pre{
    letter-spacing : 0 !important;
    
  }

  &.white-space-pre pre{
    white-space:pre  !important;
  }
  &.coordinate {
    pre {
      letter-spacing: -.2pt;
      
     
      svg {
        letter-spacing: 0;
      }
    }
  }
  &.short{
    &.coordinate {
      pre {
        letter-spacing:-1.5pt;
      }
    }
  }
  .range {
    position: absolute;
    width: 200pt;
    height: 200pt;
    top: -100pt;
    left: -100pt;
    display: flex;
    align-items: center;
    justify-content: center;
    pre {
      font-family: "PingFangSC", "Noto Sans SC", "微軟正黑體", Arial;
      font-size: 15.8pt;
    }
  }

  // &.small {
  //   .range pre {
  //     font-size: 11.5pt !important;
  //   }
  // }
}
</style>
