<template>
  <svg
    :style="style_val"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    :width="appendData.w"
    :height="appendData.h"
    :viewBox="appendData.viewBox"
  >
    <defs>
      <rect
        :id="appendData.uid.a"
        :width="appendData.ic_w"
        :height="appendData.ic_h"
        x="8.4"
        y="7.2"
        rx="18"
      ></rect>
      <mask
        :id="appendData.uid.b"
        :width="appendData.ic_w"
        :height="appendData.ic_h"
        x="0"
        y="0"
        fill="#fff"
      >
        <use v-bind="{'xlink:href':appendData.uid._a}"></use>
      </mask>
      <rect :id="appendData.uid.c" :width="appendData.oc_w" :height="appendData.oc_h" rx="25.2"></rect>
      <mask
        :id="appendData.uid.d"
        :width="appendData.oc_w"
        :height="appendData.oc_h"
        x="0"
        y="0"
        fill="#fff"
      >
        <use v-bind="{'xlink:href':appendData.uid._b}"></use>
      </mask>
    </defs>
    <g fill="none" fill-rule="evenodd" transform="translate(0 .2)" :width="appendData.w">
      <use
        :stroke="computer_color"
        stroke-dasharray="1.2 4.8"
        stroke-width="2.4"
        :mask="appendData.uid.__c"
        v-bind="{'xlink:href':appendData.uid._a}"
      ></use>
      <use
        :stroke="computer_color"
        stroke-dasharray="1.2 4.8"
        stroke-width="2.4"
        :mask="appendData.uid.__d"
        v-bind="{'xlink:href':appendData.uid._b}"
      ></use>
      <text
        :fill="computer_color"
        font-family="PingFangSC-Medium, PingFang SC"
        font-size="16.8"
        font-weight="400"
      >
        <tspan x="30" y="31.2">{{text}}</tspan>
      </text>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'Double_Dot_line_Btn',
  props: {
    // lan: String,
    color: String,
    text: String,
    style_val: Object,
    append: Object,
    fontSize: String
  },
  data: () => ({}),
  computed: {
    computer_color: function () {
      if (this.color && true) {
        return this.color
      } else {
        return '#004EA8'
      }
    },
    appendData: function () {
      const data = {
        w: this.append.Iw,
        h: this.append.Ih,
        viewBox: `0 0 ${this.append.Iw} ${this.append.Ih}`,
        oc_w: this.append.Iw - 1,
        oc_h: this.append.Ih - 1,
        ic_w: this.append.Iw - 16,
        ic_h: this.append.Ih - 15
      }
      data.uid = {
        a: 'a' + this._uid,
        _a: '#a' + this._uid,
        b: 'b' + this._uid,
        _b: '#b' + this._uid,
        c: 'c' + this._uid,
        _c: '#c' + this._uid,
        __c: 'url(#c' + this._uid + ')',
        d: 'd' + this._uid,
        _d: '#d' + this._uid,
        __d: 'url(#d' + this._uid + ')'
      }

      return data
    },
    font_size: function () {
      if (this.fontSize && true) {
        return this.fontSize
      } else {
        return 16.8
      }
    }
  },
  mounted: function () {},
  beforeUpdate: function () {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
.coordinate {
  width: 0;
  height: 0;
  overflow: visible;
  position: relative;
  left: 0;
  top: 0;

  .range {
    position: absolute;
    width: 200pt;
    height: 200pt;
    top: -100pt;
    left: -100pt;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
