<template>
  <div class="product-header">
    <div class="title">{{ title }}</div>
    <div class="description">{{ description }}</div>
    <VideoBtn v-if="!videos"></VideoBtn>
    <VideoBtn v-if="videos && videos.length > 1 " v-for="name in videos" :name="name" class="videos-btn" :src="page_name"></VideoBtn>
    <div class="side iflex">
      <div class="product-image" :class="{huge:pImg&&pImg.size==='huge'}">
        <img class="image"   :src="productImg" v-if="productImg !== null" />
      </div>
      <div class="table" v-if="tableContext">
        <div class="top row-hor">
          <div class="grid">
            {{ State.Common.Main_dimensions }}
          </div>
          <div class="grid" :style="{'font-family':(curLan==='JP'?'Noto_Sans_JP !important':'inherit')}" :lang="curLan==='JP'?'ja':'en'">
            {{ State.Common.Outer_diameter }}
          </div>
          <div class="grid" :style="{'font-family':(curLan==='JP'?'Noto_Sans_JP !important':'inherit')}" :lang="curLan==='JP'?'ja':'en'">
            {{ State.Common.Inner_diameter }}
          </div>
        </div>
        <div class="context  row-hor" v-for="item in this.tableContext">
          <div class="grid" v-for="vitem in item">
            {{ vitem }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VideoBtn from '@/components/VideoBtn.vue'

export default {
  name: 'ProductHeader',
  props: {
    description: String,
    title: String,
    pImg: Object,
    table_data: Array,
    videos : Array,
    page_name:String
  },
  computed: {
    productImg: function () {
      if (this.pImg && this.pImg.folder && this.pImg.name && this.pImg.type) {
        return require('../assets/product/' +
          this.pImg.folder +
          '/' +
          this.pImg.name +
          '.' +
          this.pImg.type)
      } else {
        return null
      }
    },
    tableContext: function () {
      return this.table_data && JSON.stringify(this.table_data).length > 2
        ? this.table_data
        : null
    }
  },
  beforeUpdated: function () {},

  mounted: function () {},
  components: { VideoBtn }
}
</script>

<style scoped lang="scss">
@import "../scss/common.scss";
.product-header {
  .videos-btn{
    margin-right:20pt;
  }
  .title {
    font-family: Arial;
    font-size: 29.5pt;
    font-weight: bold;
    color: #004ea8;
  }
  .description {
    font-size: 15.8pt;
    font-weight: 500;
    color: #353e5b;
    margin-top: 12pt;
  }
  .video-btn {
        position: relative;
    left: 0;
    top: 0;
  }

  .side {
    position: absolute;
    right: 0;
    top: 0;
    height: 166.5pt;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .product-image {

      position: relative;
      right: 0;
      top: 0;
      height: 138.538pt;
      height:166pt;
      width: auto;
      display: inline-block;

      &.huge{
        height:166pt;
      }
      img {
        height: 100%;
        display: block;
        position: relative;
      }
    }

    .table {
      display: inline-flex;
      position: relative;
      margin-left: 13pt;
      flex-direction: column;
      border-radius: 3.8pt;
      box-shadow: 0 1.5pt 16.7pt 0 rgba(53, 62, 91, 0.19);

      background-color: #ffffff;
      height: fit-content;
      .row-hor {
        display: flex;
      }
      .grid {
        width: 95pt;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      }

      > .top {
        height: 25.6pt;
        background-color: #e9f1f6;
      }

      > .context {
        height: 37.64pt;
      }
    }
  }
}
</style>
