<template>
  <div class="card" :class="{fold:!folder, single: !multi, multi : multi}">
    <div class="head" :class="{multi:multi, single: !multi}">
      <span v-if="!multi" class="pack-con single" :class="[type]">
        <div class="type-pack">{{data.pack}}</div>
        <div class="text">{{common.des_text}}{{data.title}}</div>
      </span>
      <div class="dual-pack multi" v-if="multi">
        <span class="pack-con top" :class="[type[0]]">
          <div class="type-pack">{{data[0].pack}}</div>
          <div class="text">{{common.des_text}}{{data[0].title}}</div>
        </span>
        <span class="pack-con bottom" :class="[type[1]]">
          <div class="type-pack">{{data[1].pack}}</div>
          <div class="text">{{common.des_text}}{{data[1].title}}</div>
        </span>
      </div>
      <div class="icon" v-on:click="changeFolderNumber()"></div>
    </div>
    <div class="outer-panel">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductContentCardSimple",
  props: {
    // type: String,
    // data: Object,
    // folder: Boolean,
    // folderNumber: Number,
    type: [Array, String],
    data: [Array, Object],
    intro: Object,
    con: String,
    folder: Boolean,
    folderNumber: Number,
    multi: Boolean
  },
  data: () => ({
    fold: false
  }),
  methods: {
    changeFolderNumber: function() {
      let target = this.folderNumber;
      if (this.State.folderNumber === target) {
        target = -1;
      }
      // console.log(this.State.folderNumber, target)
      this.$store.dispatch("folderNumber", target);
    }
  },
  computed: {
    common: function() {
      return this.State.Common;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../scss/productcontentcard.scss";

.card {
  .outer-panel {
    transition: all 0.5s;
    max-height: 315pt;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 7.5px;
      height: 4px;
      background-color: #777; /* or add it to the track */
    }

    &::-webkit-scrollbar-thumb {
      background: #ddd;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background: #b8c0c8;
      border-radius: 2px;
    }

    & > .context {
      max-height: none;

      &.no-margin .pack {
        margin: 0;
      }
    }
  }
  &.fold .outer-panel {
    max-height: 0;
  }
}
.card {
  .head {
    span {
    }
    .icon {
    }
  }
  .context {
    // position: relative;
    .panel {
      &::after {
        content: " ";
        height: 0.5px;
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 10%;
        background: #4e4e4e69;
      }
      &:last-child::after {
        content: none;
      }
    }
  }
}
</style>
