<template>
  <div class="product-panel">
    <div class="title">{{ title }}</div>
    <div class="con">
      <div class="product-list">
        <!-- <router-link :class="'option'" :to="'/product/ABS_ESC'">ABS/ESC</router-link> -->
        <router-link
          v-for="(item,index) in data"
          :key="index"
          :class="{
            option: true,
            active: item.link.split('/').pop() === cur_page,
            short : item.short
          }"
          :to="item.link"
        >{{ item.text }}</router-link>
        <!-- <router-link :class="'option'" :to="'/product/ABS_ESC'">ABS/ESC</router-link>
                <router-link :class="'option'" :to="'/product/Wiper_motor'">Wiper motor</router-link>
                <router-link :class="'option'" :to="'/product/unknow'">ETC/EGR Valve</router-link>
                <router-link :class="'option'" :to="'/product/unknow'">Turbo</router-link>
                <router-link :class="'option'" :to="'/product/unknow'">EPS motor</router-link>
                <router-link :class="'option'" :to="'/product/unknow'">HVAC Blower motor</router-link>
                <router-link :class="'option'" :to="'/product/unknow'">Radiator fan motor</router-link>
        <router-link :class="'option'" :to="'/product/unknow'">ETC/EGR motor</router-link>-->
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: "product-menu",
  props: {
    data: Array,
    cur_page: String,
    title: String
  },
  computed: {},
  components: {},
  created: function() {},
  beforeUpdate: function() {}
};
</script>

<style lang="scss" scoped>
@import "../scss/common.scss";
$defaul-color: #f7c572;
$blue-color: #014ea8;
.product-panel {
  z-index: 10;
  position: absolute;
  width: 188pt;
  right: 41pt;
  .con {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      #fff 8%,
      #fff 92%,
      transparent
    );
    height: auto;
    width: 100%;
    position: relative;
    display: block;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background-color: #aaa;
      /* or add it to the track */
    }
  }
  &.EN .title {
    margin-bottom: 5pt;
  }
  & {
    .title {
      color: $defaul-color;
    }
    .con {
      height: 219.75pt;
    }
    .product-list {
      .option {
        color: $defaul-color;
        &::after {
          border: 1px solid $defaul-color;
        }
        &:hover {
          color: #f7ae34;
        }
        &.active::before {
          background-color: $defaul-color;
        }
      }
      &::after {
        background-color: $defaul-color;
      }
    }
  }
  &.blue {
    &.EN {
      margin-top: 10pt;
    }
    .title {
      color: $blue-color;
    }
    .con {
      height: 219.75pt;
    }
    .product-list {
      .option {
        color: $blue-color;
        &::after {
          border: 1px solid $blue-color;
        }
        &:hover {
          color: #0a72ec;
        }
        &.active::before {
          background-color: $blue-color;
        }

        &.active {
          color: #0a72ec;
        }
      }
      &::after {
        background-color: $blue-color;
      }
    }
  }
  .title {
    font-size: 18pt;
    font-weight: 600;
    width: 100%;
    position: relative;
    text-align: left;
    margin-bottom: 22.5pt;
  }
  .product-list {
    margin-top: 10pt;
    margin-bottom: 10pt;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    overflow: auto;
    box-sizing: border-box;
    padding-right: 4pt;
    .option {
      position: relative;
      text-decoration: none !important;
      line-height: 45pt;
      font-size: 13.5pt;
      box-sizing: border-box;
      padding-right: 27pt;
      font-family: Arial;
      text-align: right;
      display: inline-block;
      transition: all 0.3s;
      text-decoration: solid underline !important;
      text-decoration-color: transparent !important;

      // width: fit-content;
      // padding: 0pt 32px;
      &.active {
        font-size: 14.5pt;
        // text-decoration-color:inherit !important;
        // box-shadow: 0px 1px 1px;
        // border-radius: 53pt;
        color: #f7ae34;
        &.short {
          letter-spacing: -0.5pt;
        }
      }
      &::after {
        content: "";
        position: absolute;
        right: 0.5px;
        margin-top: -4.7pt;
        top: 22.5pt;
        width: 11.7pt;
        height: 11.7pt;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 100%;
        z-index: 10;
      }
      &::before {
        @include iconImg("../assets/wired_circle.png", 21pt, 21pt);
        mask-repeat: no-repeat;
        mask-size: 93%;
        transition: background-color 0.3s;
        content: " ";
        position: absolute;
        right: -5.5px;
        top: 13.5pt;
        z-index: 20;
      }
    }
    &::after {
      content: "";
      position: absolute;
      right: 10pt;
      width: 1px;
      top: 22.5pt;
      height: calc(100% - 45pt);
    }
  }
}
</style>
