<template>
  <div class="card" :class="{fold:!folder, single: !multi, multi : multi}">
    <div class="head" :class="{multi:multi, single: !multi}">
      <span v-if="!multi" class="pack-con single" :class="[type]">
        <div class="type-pack">{{data.pack}}</div>
        <div class="text" v-if="data.title && data.title.length">{{common.des_text}}{{data.title}}</div>
      </span>
      <div class="dual-pack multi" v-if="multi">
        <span class="pack-con top" :class="[type[0]]">
          <div class="type-pack">{{data[0].pack}}</div>
          <div
            class="text"
            v-if="data[0].title && data[0].title.length"
          >{{common.des_text}}{{data[0].title}}</div>
        </span>
        <span class="pack-con bottom" :class="[type[1]]">
          <div class="type-pack">{{data[1].pack}}</div>
          <div
            class="text"
            v-if="data[1].title && data[1].title.length"
          >{{common.des_text}}{{data[1].title}}</div>
        </span>
      </div>

      <div class="icon" v-on:click="changeFolderNumber()"></div>
    </div>
    <div class="context">
      <div class="panel">
        <div class="intro" :class="[curLan]">
          <div class="title">{{intro.tag}}</div>

          <div class="text">{{intro.context}}</div>
          <div class="tag">{{intro.tag}}</div>
        </div>

        <div class="contain" :class="[con]">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductContentCard",
  props: {
    type: [Array, String],
    data: [Array, Object],
    intro: Object,
    con: String,
    folder: Boolean,
    folderNumber: Number,
    multi: Boolean
  },
  data: function() {
    return {
      fold: this.folder ? this.folder : false
    };
  },
  methods: {
    changeFolderNumber: function() {
      let target = this.folderNumber;
      if (this.State.folderNumber === target) {
        target = -1;
      }
      // console.log(this.State.folderNumber, target)
      this.$store.dispatch("folderNumber", target);
    }
  },
  computed: {
    common: function() {
      return this.State.Common;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../scss/productcontentcard.scss";
</style>
