<template>
  <div class="table">
    <div class="top row flex">
      <div
        class="grid flex order"
        :class="{'auto-height-order': dataSource.autoHeightOrder}"
        v-if = "!orderHTML"
        v-for="(item, index) in dataSource.order"
        :style="{ width: dataSource.width[index] }"
        v-html="item"
      ></div>
      <div
        class="grid flex order"
        v-if = "orderHTML"
        v-for="(item, index) in dataSource.order"
        :style="{ width: dataSource.width[index] }"
        v-html="item"
      ></div>
    </div>
    <div class="data row flex" v-for="(item, index) in dataSource.array">
      <div
        class="grid flex value"
        v-for="(vitem, vindex) in item.value"
        :class="{
          double: item.double,
          triple: item.triple,
          first: vindex === 0,
          even: ((index + 1) % 2 == 0 && vindex !== 0)&&(!dataSource.noEven),
          signal : item.signal &&  vindex !== 0

        }"
        :style="{ width: dataSource.width[vindex] }"
        v-html="vitem"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductTable',
  props: {
    dataSource: Object,
    orderHTML:[Array, Boolean]
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.table {
  position: relative;
  & * {
    position: relative;
  }
  .grid {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #353e5b;
    height: 37.646429pt;
    &.double {
      height: 70pt;
    }

    &.triple {
      height: 100pt;
    }
    &.order {
      color: #014ea8;
      font-weight: 600;
      &.auto-height-order{
        height:auto;
      }
    }
    &.first {
      font-weight: 600;
    }
  }
  &.no-first .grid.first{
    font-weight:200;
  }
  .top.row {
    border-top: 1px solid #014ea8;
    border-bottom: 1px solid #014ea8;
  }
  .even {
    background-color: #e9f1f6;
  }
}
</style>
