<template>
  <DobuleDotLineBtn
    :text="text"
    :style_val="getInfo.style"
    :color="getInfo.color"
    :append="getInfo.other"
    :fontSize="fontSize"
  ></DobuleDotLineBtn>
</template>

<script>
import DobuleDotLineBtn from '@/components/DobuleDotLineBtn.vue'

export default {
  name: 'ProductDotLineBtn',
  props: {
    type: String,
    lan: String,
    text: String,
    fontSize: String
  },
  data: () => ({
    reg: {
      style: { width: '84.329pt', height: '38.399357pt' },
      other: { Ih: 51, Iw: 112 },
      color: '#818CAA'
    },
    sol: {
      style: { width: '84.329pt', height: '38.399357pt' },
      other: { Ih: 51, Iw: 112 },
      color: '#004EA8'
    },
    en_sol: {
      style: { width: '150.585714pt', height: '38.399357pt' },
      other: { Ih: 51, Iw: 190 }
    },
    en_reg: {
      style: { width: '130.585714pt', height: '38.399357pt' },
      other: { Ih: 51, Iw: 130 }
    }
  }),
  computed: {
    getInfo: function () {
      let data = {}
      if (this.lan === 'EN') {
        if (this.type === 'sol') {
          data = {
            style: this.en_sol.style,
            other: this.en_sol.other,
            color: this.sol.color
          }
        } else {
          data = {
            style: this.en_reg.style,
            other: this.en_reg.other,
            color: this.reg.color
          }
        }
      } else {
        if (this.type === 'sol') {
          data = this.sol
        } else {
          data = this.reg
        }
      }

      return data
    }
  },
  components: {
    DobuleDotLineBtn
  },
  beforeUpdated: function () {},

  mounted: function () {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
@import "../scss/common.scss";
</style>
