<template>
  <div class="serial-circle">
    <div class="content">
      <div class="circle" :class="[color]">
        <div class="icon"></div>
        <p class="en">{{text}}</p>
        <!-- <p class="non-en">漢字</p> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SerialCircle',
  props: {
    color: String,
    text: String
  },
  data: () => ({
    // bgcolor: "#000"
  }),
  mounted: function () {
    // let _this = this;
  }
}
</script>

<style lang="scss" scoped>
@import "../scss/common.scss";

.serial-circle {
  position: absolute;
  width: 18.79350348027842%;
  height: 0;

  .content {
    position: absolute;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;

    .circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 99.8%;
      height: 99.8%;
      cursor: pointer;
      border-radius: 100%;

      p {
        margin: 0 auto;
        margin-bottom: 4pt;
        line-height: 1em;
        color: #fff;
        text-align: center;
        width: 80%;

        &.en {
          font-size: 13pt;
          font-weight: bold;
        }

        &.non-en {
          font-size: 11.7pt;
          font-weight: 500;
        }
      }

      .icon {
        @include bdImg("../assets/empty.svg", 58pt, 58pt);
        margin-top: 19.5pt;
      }

      &.red {
        background-image: linear-gradient(
          147deg,
          rgb(230, 0, 18),
          rgb(173, 32, 37)
        );
        box-shadow: 8.282214pt 20.329071pt 21.834929pt -14.305643pt rgba(230, 0, 18, 0.48);

        .icon {
          background-image: url("../assets/home/grease.png");
        }
      }

      &.blue {
        background-image: linear-gradient(
          329deg,
          rgb(26, 104, 179),
          rgb(29, 148, 204)
        );
        box-shadow: 8.282214pt 20.329071pt 21.834929pt -14.305643pt rgba(0, 153, 176, 0.6);

        .icon {
          background-image: url("../assets/home/seal.png");
        }
      }

      &.green {
        background-image: linear-gradient(
          135deg,
          rgb(0, 190, 209),
          rgb(0, 133, 162)
        );
        box-shadow: 8.282214pt 20.329071pt 21.834929pt -14.305643pt rgba(0, 120, 183, 0.57);

        .icon {
          background-image: url("../assets/home/retainer.png");
        }
      }

      &.yellow {
        background-image: linear-gradient(
          147deg,
          rgb(255, 177, 0),
          rgb(198, 56, 18)
        );
        box-shadow: 8.282214pt 20.329071pt 21.834929pt -14.305643pt rgba(234, 120, 37, 0.79);

        .icon {
          background-image: url("../assets/home/inter.png");
        }
      }

      &.purple {
        background-image: linear-gradient(
          133deg,
          rgb(221, 61, 168),
          rgb(163, 12, 113)
        );
        box-shadow: 8.282214pt 20.329071pt 21.834929pt -14.305643pt rgba(181, 31, 126, 0.72);

        .icon {
          background-image: url("../assets/home/special.png");
        }
      }
    }
  }
}
</style>
