<template>
  <div class="video-btn" :tag="State.video" v-on:click="openVideo()" :class="{mid:this.name&&this.name.length >6}">
    <p>{{ common.demo_video }}<p v-if="video_name"> {{video_name}} </p></p>
    <div class="icon"></div>
  </div>
</template>

<script>
export default {
  name: 'VideoBtn',
  props: {
    src: String,
    name : String
  },
  beforeUpdated: function () {},

  mounted: function () {},
  computed: {
    common: function () {
      return this.State.Common
    },
    path: function () {
      if (this.src) {
        if ( this.name ){
          return `${this.src}_${this.name}`
        }
        return this.src
      }else return null
    },
    video_name : function () {
      let text = '';
      if (this.name&&this.name.length > 0 ){
        if ( this.curLan === 'EN')
          text = `(${this.name})`
        else
          text = `（${this.name}）`
      }
      return text;
    }
  },
  methods: {
    openVideo: function () {
      if ( this.name && (this.name.length > 0) ){
         this.$store.dispatch('videoSrc', `${this.src}_${this.name}`)
      }
      this.$store.dispatch('videoEnable', true)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../scss/common.scss";

.video-btn {
  cursor: pointer;
  height: 45pt;
  width: 171.6pt;
  font-family: Arial;
  font-size: 12.8pt;
  font-weight: bold;
  color: #fff;
  border-radius: 22.5pt;
  box-shadow: 0 1.25pt 7.5pt 0 rgba(0, 78, 168, 0.26);
  background-color: #004ea8;
  //   padding: 0 34pt;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-top: 18pt;
  position: absolute;
  top: 41pt;
  right: 10pt;
  &.mid{
    width: 230pt;
  }
  p:last-child {
    // margin-right: 11.74pt;
  }
  .icon {
    @include bdImg("../assets/video.svg", 15.81pt, 21.684343pt);
    margin: 0;
    margin-left:11.74pt;
  }
}
</style>
