z<template>
  <div id="vue-container">
    <div id="vue-canvas">
      <!-- <h1 style="position:fixed;top:0;left:0;color:black;z-index:1000;font-size:25pt;">resize count:{{resizeCount}}</h1> -->
      <!-- <h1 style="position:fixed;top:30pt;left:0;color:black;z-index:1000;font-size:25pt;">type:{{resizeType}}</h1> -->
      <div id="app" :style="windowRate">
        <HeaderRow></HeaderRow>
        <transition name="fade">
          <router-view />
        </transition>
      </div>
      <div class="video-panel" v-if="State.video_enable">
        <video controls="true" width="80%" height="80%" autoplay ref="vid">
          <source :src="VideoSrc" type="video/mp4" />
        </video>
        <div class="bg-view" v-on:click="closeVideo()"></div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderRow from "./views/HeaderRow.vue";
export default {
  name: "App",
  props: {},
  data: () => ({
    windowRate: {
      transform: "scale(1)",
      left: 0,
      top: 0,
      "transform-origin": "left top"
    },
    resizeCount: 0,
    resizeType: "",
    currentPage: "",
    vidFullEvt: null
  }),
  components: {
    HeaderRow
  },
  created: function() {
    // router afterEach
    this.$store.dispatch("currentPage", this.$route.path.split("/").pop());
    const router = this.$router;
    router.afterEach((to, from) => {
      this.$store.dispatch("currentPage", to.path.split("/").pop());
    });
  },
  mounted: function() {
    const _this = this;

    this.updateWindowRate();
    window.onresize = () => {
      _this.updateWindowRate();
      _this.resizeCount++;
    };
    window.ondeviceorientation = () => {
      // document.body.parentElement.requestFullscreen();
      _this.updateWindowRate();
    };
    this.$store.dispatch("changeLanguage", "JP");
    this.$router.beforeEach((to, from, next) => {
      this.$store.dispatch("folderNumber", 0);
      // this.$store.dispatch("lineMode", false);
      next();
    });
  },
  updated: function() {},
  methods: {
    fullscreenchange: function(event) {
      // console.log(event);
    },
    closeVideo: function() {
      this.$store.dispatch("videoEnable", false);
    },
    updateWindowRate: function() {
      const height = 1080;
      const width = 1920;
      const calcRate = width / height;
      const curRate = window.innerWidth / window.innerHeight;
      const windowWidth = window.innerWidth;
      const windowHeight = window.innerHeight;
      let rate = 1;
      this.windowRate.left = 0;

      if (parseInt(calcRate * 100) === parseInt(curRate * 100)) {
        rate = windowWidth / width;
        this.windowRate.top = 0;
        this.windowRate.left = 0;
        this.resizeType = `same, rate:${rate}`;
      } else {
        const type =
          (calcRate > curRate ? "extend:height" : "extend:width") +
          "cur rate:" +
          curRate;
        if (calcRate > curRate) {
          // height
          rate = windowWidth / width;
          this.windowRate.left = 0;
          this.windowRate.top = (windowHeight - height * rate) / 2 + "px";
        } else {
          rate = windowHeight / height;
          this.windowRate.left = (windowWidth - width * rate) / 2 + "px";
          this.windowRate.top = 0;
        }
        this.resizeType = `non-same, rate:${rate}, ${type}`;
      }
      this.windowRate.transform = `scale(` + rate + `)`;
    }
  }
};
</script>

<style lang="scss">
@font-face {
  font-family: "PingFangSC";
  src: url("./assets/font/PingFang-SC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto_Sans_SC";
  src: url("./assets/font/NotoSansSC-Regular.otf") format("opentype");
  src: url("./assets/font/NotoSansSC-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Noto_Sans_JP";
  src: url("./assets/font/NotoSansJP-Regular.otf") format("opentype");
  src: url("./assets/font/NotoSansJP-Regular.ttf") format("truetype");
}

@mixin iconImg($file, $h, $w) {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: $w;
  height: $h;
  //background-image : url($file);
  -webkit-mask-image: url($file);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  mask-image: url($file);
  mask-size: contain;
  mask-position: center;
}

// @font-face {
//   font-family: "PingFangSC";
//   src: url("./assets/font/PingFang-SC-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
// }
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  //overflow:hidden;
  // min-width:1920px;
  // min-height:1080px;
}
#app {
  font-family: PingFangSC, Noto Sans SC, Noto_Sans_SC, 微軟正黑體, Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 1920px;
  height: 1080px;
  top: 0%;
  position: absolute;
  display: block;
  * {
    font-family: PingFangSC, Noto Sans SC, Noto_Sans_SC, 微軟正黑體, Arial !important;
    &.signal:not(.first) {
      font-family: Noto Sans SC, Noto_Sans_SC !important;
      font-size: 14pt;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: block;
    // background-image: url("./assets/home.png");
    background-size: cover;
    background-position: center;
    //content: " ";
  }

  .page {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }
  .application .sub-page {
    margin-top: 58.728429pt;
    .context {
      width: 1155.745359pt;
      height: 542.108572pt;
      top: 118.962714pt;
      -webkit-mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 97%,
        rgba(0, 0, 0, 0.5) 98.5%,
        transparent
      );
      border-radius: 7.228pt;

      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
      overflow: auto;
      padding-left: 10pt;
      margin-left: -10pt;

      padding-bottom: 20pt;
      // overflow:hidden;
    }
  }
  .sub-page {
    margin-left: 45pt;
    margin-top: 69.75pt;
    width: 1155pt;
    height: 675pt;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    .product-header {
      position: relative;
      width: 100%;
      height: 166.5pt;
      text-align: left;
    }
    & > .context {
      height: 484.5pt;
      overflow: auto;
      .panel {
      }
      .flex-block,
      &.flex-block {
        display: block;
        width: 100%;
        height: 100%;
        > .column {
          display: inline-flex !important;
          vertical-align: top;
          justify-content: center !important;
          align-items: center !important;
        }
      }
      &.flex,
      .flex {
        display: flex;
      }
      &.iflex,
      .iflex {
        display: inline-flex;
      }
      &.hor,
      .hor {
        flex-direction: column;
      }
      &.flex_just_center,
      .flex_just_center {
        justify-content: center;
      }
      &.flex_just_se,
      .flex_just_se {
        justify-content: space-evenly;
      }
      &.flex_just_sa,
      .flex_just_sa {
        justify-content: space-around;
      }
      &.flex_align_center,
      .flex_align_center {
        align-items: center;
      }

      &.flex_align_top,
      .flex_align_top {
        align-items: flex-start;
      }

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background-color: #aaa;
      }
      > .column-entry {
        display: flex;
        flex-direction: column;
      }
      .card-context {
        > .container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .table.card-table {
          .row {
            &:not(.top) {
              .grid {
                .half-grid {
                  height: 50%;
                  display: flex;
                  width: 100%;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  &::after {
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: rgb(191, 191, 191);
                  }
                  &.just-se {
                    justify-content: space-evenly;
                  }
                  &.column {
                    height: 100%;
                    width: 50%;
                    display: inline-block;
                    img {
                      max-width: 80%;
                      max-height: 80%;
                    }

                    &::after {
                      content: " ";
                      position: absolute;
                      right: 0;
                      width: 0px;
                      height: 100%;
                      background-color: rgb(191, 191, 191);
                    }
                  }
                }
              }
            }
            &.top > .grid.order {
              .sub {
                font-size: 10pt;
              }
            }
          }
        }
      }
    }
  }
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

#bg {
  background-image: url("./assets/home/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

body {
  background-image: url("./assets/home/bg.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  #vue-container {
    width: 100%;
    height: 0;
    position: relative;
    max-width: 1920px;
    #vue-canvas {
      position: fixed;
      // width: 100%;
      // height: 0;
      width: 1920px;
      height: 1080px;
      top: 0;
      left: 0;
      // padding-bottom: 56.25%;
      margin-top: -0%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.product.page .sub-page.page .context .contain {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 746pt;
  .graph_con {
    padding-bottom: 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    pre {
      max-width: none;
      text-align: center;
      white-space: pre-wrap;
    }
  }
  .product-type {
    color: #818caa;
    &.sol {
      color: #004ea8;
    }
  }
  .EN.product-type {
    font-size: 12.4pt;
    min-height: 34pt;
    color: #818caa;
    &.sol {
      color: #004ea8;
    }
  }
  .row {
    width: 100%;
    position: relative;
  }
  &.flex,
  .flex {
    display: flex;
  }
  &.iflex,
  .iflex {
    display: inline-flex;
  }
  &.hor,
  .hor {
    flex-direction: column;
  }
  &.flex_just_center,
  .flex_just_center {
    justify-content: center;
  }
  &.flex_just_se,
  .flex_just_se {
    justify-content: space-evenly;
  }
  &.flex_just_sa,
  .flex_just_sa {
    justify-content: space-around;
  }
  &.flex_align_center,
  .flex_align_center {
    align-items: center;
  }
  .inner_con {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: flex;
  }
  span,
  pre,
  .desc {
    font-size: 15.8pt;
    //white-space: pre-line;
    margin: 0;
  }
  .range {
    span,
    pre,
    .desc {
      font-size: 14.8pt;
      //white-space: pre-line;
      margin: 0;
    }
  }

  .inner_con.text {
    span,
    pre,
    .desc {
      font-size: 13.2pt;
      white-space: pre-line;
    }
  }
}

.grease-text {
  width: 85pt;
  height: 17pt;
  text-align: right;
  position: relative;
  line-height: 16.2pt;
  font-size: 16.5pt;
  &::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 14pt;
    background-color: #f9b600;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
  .fade-leave-to
  /* .fade-leave-active below version 2.1.8 */

 {
  opacity: 0;
}

.video-panel {
  position: absolute;
  height: 100%;
  width: 99%;
  padding: 0.5vw;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg-view {
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  video {
    width: 100%;
    max-width: 80%;
    max-height: 80%;
    z-index: 105;
    position: relative;
    background-color: #000;
  }
}
</style>
