
@mixin iconImg($file, $h, $w) {

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: $w;
    height: $h;
    //background-image : url($file);

    -webkit-mask-image: url($file);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    mask-image: url($file);
    mask-size: contain;
    mask-position: center;

}

@mixin bdImg($file, $h, $w) {
    width: $w;
    height: $h;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-image: url($file);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin bgImg($file, $h, $w) {

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: $w;
    height: $h;
    background-image: url($file);

}




@mixin maskImg($file, $h, $w) {

    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    width: $w;
    height: $h;
    -webkit-mask-image: url($file);

}
