.card {
  margin-top: 13.5pt;
  width: 100%;
  position: relative;
  display: block;
  border-radius: 7.5pt;
  box-shadow: 0 9pt 18pt 0 rgba(53, 62, 91, 0.1);
  background-color: #ffffff;
  overflow: hidden;

  &.intro-full{
    .context .panel{
      display:block;
      .intro > .text{
        white-space:pre-wrap;
      }
    }
  }
  &.extend{
    .context .contain{
      width:766pt !important;
    }
  }
  .head {
    width: 100%;
    height: 64.5pt;
    border-radius: 7.5pt;
    display: flex;
    box-sizing: border-box;
    // padding: 0 21.2pt;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    &.multi{
      height:81.4pt;
    }

    & > .dual-pack{
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      .pack-con{
        width:100%;
        height:50%;
        display:block;
        .type-pack{
          line-height:40.9pt;
        }
        
        &.bottom > .type-pack::after{
          border-width: 0 0px 40.9pt 21pt;
        }

        &.top > .type-pack::after{
          border-width: 40.9pt 0 0 21pt;
        }

        &.grease  {
            background-image: linear-gradient(158deg, rgb(255, 26, 44) 0%,  rgb(255, 26, 44) 41%, rgb(173, 32, 37) 60%, rgb(173, 32, 37) 100%);
        }
        &.seal  {
            background-image: linear-gradient(132deg, rgb(29, 148, 204) 0%, rgb(29, 148, 204) 45%, rgb(26, 104, 179) 57%,rgb(26, 104, 179) 100%);
        }
        &.retainer  {
            background-image: linear-gradient(158deg, rgb(0, 190, 209) 0%, rgb(0, 190, 209) 50%, rgb(0, 133, 162) 67%, rgb(0, 133, 162) 100%);
        }
        &.inter  {
            background-image: linear-gradient(147deg, rgb(255, 177, 0) 0%, rgb(255, 177, 0) 42%, rgb(198, 56, 18) 58%, rgb(198, 56, 18) 100%);
        }
        &.special  {
            background-image: linear-gradient(92deg, rgb(221, 61, 168) 0%, rgb(221, 61, 168) 44%, rgb(163, 12, 113) 54%, rgb(163, 12, 113) 100%);
        }
      }
    }
    span {
      font-size: 14.7pt;
      font-weight: bold;
      color: #fff;
      text-align: left;
      color: rgb(255, 255, 255);
      
      &.pack-con{

      }
      & > .text{
        box-sizing:border-box;
        padding-left:30pt;
        display:inline-block;
      }
      .type-pack{
        width: 212pt;
        display: inline-block;
        padding-left: 25pt;
        box-sizing: border-box;
        background-color: rgb(0, 166, 189);
        height: 100%;
        line-height: 64.5pt;
        position: relative;

        
        


        &::after{
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 32.25pt 0 32.25pt 21pt;
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(0, 123, 255);
          right: -20pt;
        }
      }


      &.pack-con{
        &.special 
        {
          & > .type-pack{
            background-color: #bc2189;
            &::after{
              border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #bc2189;
            }
          }
        } 
        &.seal 
        {
          & > .type-pack{
            background-color: #2173bc;
            &::after{
              border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2173bc;
            }
          }
        }
        
        &.grease 
        {
          & > .type-pack{
            background-color: #e01c2c;
            &::after{
              border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e01c2c;
            }
          }
        }
       
       
        &.inter 
        {
          & > .type-pack{
            background-color: #e27509;
            &::after{
              border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e27509;
            }
          }
        }
       
        &.retainer 
        {
          & > .type-pack{
            background-color: #00a6bd;
            &::after{
              border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00a6bd;
            }
          }
        }
      }
    }
    &.single{
      
    }
    .icon {
      width: 29pt;
      height: 29pt;
      border-radius: 100%;
      box-sizing: border-box;
      border: 2pt solid #fff;
      position: absolute;
      cursor: pointer;
      right: 20pt;
      &::after {
        content: "";
        position: absolute;
        left: 25%;
        top: 50%;
        width: 50%;
        height: 3pt;
        margin-top: -1.5pt;
        background-color: #fff;
      }
      &::before {
        content: "";
        position: absolute;
        top: 25%;
        left: 50%;
        width: 3pt;
        height: 50%;
        margin-left: -1.5pt;
        background-color: #fff;
        opacity: 0;
        transition: all 0.3s;
      }
    }
  }

  .context {
    transition: all 0.5s;
    max-height: 315pt;
    overflow: auto;

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &::-webkit-scrollbar {
      width: 7.5px;
      height: 4px;
      background-color: #777; /* or add it to the track */
    }

    &::-webkit-scrollbar-thumb {
      background: #ddd;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background: #b8c0c8;
      border-radius: 2px;
    }

    
    .panel {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      padding: 37.6pt;
      justify-content: space-between;
      align-items: flex-start;
      overflow: hidden;
      box-sizing: border-box;
      .intro {
        text-align: left;
        align-items: flex-start;
        width:292pt;
        display: inline-flex;
        flex-direction: column;
        padding-top: 25pt;
        .title {
          margin-bottom: 9pt;
          font-size: 21.6pt;
          font-weight: bold;
          display:none;
        }
        &.EN .text {
          font-size: 14.5pt;
        }
        // &.JP .text {
        //   font-size: 12.5pt;
        // }
        .text {
          font-size: 15.8pt;
          margin-bottom: 18pt;
          white-space:pre-wrap;
        }
        .tag {
          height: 34.33;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: solid 1.2px rgb(0, 177, 199);
          border-radius: 17.2pt;
          padding: 4.2pt 28pt;
          display:none;
        }
      }
    }
  }
  &.multi{
      .context {
        max-height:298pt;
      }
    }
  &.fold {
    .context {
      padding: 0 37.6pt;
      max-height: 0pt;
    }
    .head {
      .icon {
        &::after {
        }
        &::before {
          opacity: 1;
        }
      }
    }
  }
  &.grease .context {
    .intro {
      .tag,
      .title {
        color: #e60012;
      }
      .tag {
        border: solid 1.2px #e60012;
      }
    }
  }
  &.seal .context {
    .intro {
      .tag,
      .title {
        color: #1a68b3;
      }
      .tag {
        border: solid 1.2px #1a68b3;
      }
    }
  }
  &.retainer .context {
    .intro {
      .tag,
      .title {
        color: rgb(0, 177, 199);
      }
      .tag {
        border: solid 1.2px rgb(0, 177, 199);
      }
    }
  }
  &.inter .context {
    .intro {
      .tag,
      .title {
        color: #ffb100;
      }
      .tag {
        border: solid 1.2px #ffb100;
      }
    }
  }
  &.special .context {
    .intro {
      .tag,
      .title {
        color: rgb(221, 61, 168);
      }
      .tag {
        border: solid 1.2px rgb(221, 61, 168);
      }
    }
  }



  &.grease .head {
      background-image: linear-gradient(158deg, rgb(255, 26, 44) 0%,  rgb(255, 26, 44) 41%, rgb(173, 32, 37) 60%, rgb(173, 32, 37) 100%);
  }
  &.seal .head {
      background-image: linear-gradient(132deg, rgb(29, 148, 204) 0%, rgb(29, 148, 204) 45%, rgb(26, 104, 179) 57%,rgb(26, 104, 179) 100%);
  }
  &.retainer .head {
      background-image: linear-gradient(158deg, rgb(0, 190, 209) 0%, rgb(0, 190, 209) 50%, rgb(0, 133, 162) 67%, rgb(0, 133, 162) 100%);
  }
  &.inter .head {
      background-image: linear-gradient(147deg, rgb(255, 177, 0) 0%, rgb(255, 177, 0) 42%, rgb(198, 56, 18) 58%, rgb(198, 56, 18) 100%);
  }
  &.special .head {
      background-image: linear-gradient(92deg, rgb(221, 61, 168) 0%, rgb(221, 61, 168) 44%, rgb(163, 12, 113) 54%, rgb(163, 12, 113) 100%);
  }
}

.card .contain.space-around {
  justify-content: space-around !important;
}
.card.intro-full .context {
  display: block;
  .intro {
    width: 100%;
  }
}
